		<div class="row">
		  <div class="col-sm-12 titre">Fiches de situation</div>
		</div>
		<div class="row">
			<div class="col-sm-6 titre-reponse">
				<ul class="liste-reponse">
					<li style="color: #FF193D;">Protection Sociale
						<ul class="ul-menu">
							<li><a ui-sref="secu">Je n'ai plus de sécurité sociale</a></li>
		                    <li><a ui-sref="payer">Je ne peux vraiment pas vous payer</a></li>
		                    <li><a ui-sref="facture">J'ai reçu la facture de l'hôpital</a></li>
		                    <li><a ui-sref="invalidite">On me propose de me mettre en invalidité</a></li>
		                    <li><a ui-sref="jeune">Je suis jeune et je n'ai plus de couverture sociale</a></li>
		                    <li><a ui-sref="etranger">Je suis étranger et je n'ai plus de couverture sociale</a></li>
		                    <li><a ui-sref="ame">Je n'ai plus droit à l'aide médicale de l'état (AME)</a></li>
						</ul>
					</li>
				</ul>
				<ul class="liste-reponse">
					<li style="color: #FF193D;">Logement
						<ul class="ul-menu">
							 <li><a ui-sref="expulsion">On veut m'expulser de mon appartement</a></li>
                   			 <li><a ui-sref="sdf">Je suis sans domicile fixe</a></li>
						</ul>
					</li>
				</ul>
				<ul class="liste-reponse">
					<li style="color: #FF193D;">Emploi
						<ul class="ul-menu">
							<li><a ui-sref="demission">Je craque, je vais démissionner</a></li>
		                    <li><a ui-sref="viensdedemissionner">Je viens de démissionner</a></li>
		                    <li><a ui-sref="licencie">Je viens d'être licencié</a></li>
		                    <li><a ui-sref="malade-licencie">Je suis en arrêt maladie et on veut me licencier</a></li>
		                    <li><a ui-sref="pas-de-travail">Cela devient grave, je n'arrive pas à trouver un emploi</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-sm-6 titre-reponse">
				<ul class="liste-reponse">
					<li style="color: #FF193D;">Ressources
						<ul class="ul-menu">
							<li><a ui-sref="touche-rien">Je ne touche plus rien</a></li>
		                    <li><a ui-sref="allocations">Je n'ai plus mes allocations</a></li>
		                    <li><a ui-sref="rsa">Je n'ai plus de RSA</a></li>
		                    <li><a ui-sref="AAH">On me dit que je peux faire une demande d'AAH</a></li>
		                    <li><a ui-sref="fin-de-droits">Je suis au chômage en fin de droit</a></li>
						</ul>
					</li>
				</ul>
				<ul class="liste-reponse">
					<li style="color: #FF193D;">Situations particulières
						<ul class="ul-menu">
							<li><a ui-sref="hospitalisation-patient">Vous préparez l'hospitalisation de votre patient</a></li>
		                    <li><a ui-sref="enfant-malade">Mon enfant est malade et je travaille</a></li>
		                    <li><a ui-sref="etudiant">Je suis étudiant, c'est la galère!</a></li>
		                    <li><a ui-sref="enfant-retire">On veut me retirer mes enfants</a></li>
		                    <li><a ui-sref="personne-vulnerable">Votre patient est une personne vulnérable</a></li>
						</ul>
					</li>
				</ul>
			</div>