		<div class="row">
		  <div class="col-sm-12 titre-FT">Accident de travail (AT)</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">DÉFINITION DE L’ACCIDENT DE TRAVAIL</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse">
					<p><em>Un fait accidentel survenu dans des conditions précises, localisables dans l’espace et dans le temps.</em></p>
				</div>
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Il se caractérise par :</em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Une relation avec le travail: le fait accidentel survient alors que l’assuré est sous la subordination de l’employeur. </li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> L’existence de lésions physiques imputables au fait accidentel, constatées médicalement et décrites sur le certificat médical initial (CMI).</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Il faut inclure dans l’accident de travail, l’accident de trajet: trajet domicile/travail aller et retour, travail/lieu de repas. Le trajet doit correspondre au trajet le plus habituel possible - les tribunaux parlent d’itinéraire protégé - sans détour pour des motifs personnels ou alors la preuve d’un rapport avec les exigences liées au travail devra être apportée. </li> 
					</ul>
					<ul>
						<li>La victme doit déclarer l’accident de travail (AT) à son employeur dans les 24 heures.</li>
						<li>L’employeur déclare l’accident de travail à la CPAM sous 48 heures, même s’il conteste la réalité de l’AT. Une enquête sera diligentée par la caisse sur la matérialité de l’AT.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">PROCÉDURES POUR LE MÉDECIN TRAITANT </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>Le médecin traitant ne peut pas mettre en doute les circonstances de l’accident. Il établit un certificat médical initial, toujours descriptif, à envoyer à la caisse sous 48 heures. Le Formulaire CPAM S6909a peut être téléchargé sur <a target="_blank" href="http://www.ameli.fr">www.ameli.fr.</a></p>
					<p>Ce certificat médical initial sera suivi (si nécessaire) par des certificats médicaux de prolongation de soins ou d’arrêt (chaque fois descriptifs) jusqu’à:</p>
					<ul>
						<li>la guérison: “retour apparent à l’état antérieur”,</li>
						<li>la consolidation: persistance de séquelles telles que des soins actifs ne sont plus désormais susceptibles de modifier l’état de la victime et que l’on peut apprécier un certain degré d’incapacité permanente découlant de l’accident du travail.</li>
					</ul>
					<p>Le médecin traitant note les actes effectués sur:</p>
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> le volet n° 1 à adresser à la CPAM par le praticien</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> le volet n° 2 qu’il garde jusqu’à la consolidation/ guérison ou quand il est entièrement complété, puis l’adresse à la caisse</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> le volet n° 3 laissé à la victime</li>
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> le volet «certificat d’arrêt de travail» laissé à la victime qui doit l’adresser à son employeur ou au <b>PÔLE EMPLOI.</b></li>
					</ul>
					<p>Seul l’employeur cotise pour les accidents de travail, pas l’assuré. </p>
					<p>Le médecin traitant est le décideur: il soigne par délégation, “aux frais des employeurs”, le salarié.</p>
					<p>À la date de guérison/consolidation, le dossier est stabilisé mais jamais clos (il est inutile de consolider avec des soins pour laisser d’éventuels droits à l’assuré). </p>
					<p>Le médecin traitant établit un certificat final descriptif des séquelles.</p>
					<p>Une rechute est toujours possible: s’il y a une aggravation de l’état nécessitant à nouveau des soins actifs, elle peut être demandée, même après un accident de travail guéri, ou après plusieurs années.</p>
					<p>S’il y a aggravation de l’état, sans nécessité de soins, une révision de l’incapacité permanente parti elle (IPP) est possible: à demander par certificat médical reprenant les identif ants de l’accident du travail (date et éventuellement numéro de l’accident), auprès du service médical de la CPAM dont relève la victime.</p>
					<p>Enfin, la caisse d’assurance maladie dispose d’un délai de 30 jours pour se prononcer sur le caractère professionnel de l’accident. Ce délai peut être rallongé de 2 mois le dossier s’avère complexe.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Couverture médicale des soins</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p>Les soins de villes - consultations et frais de laboratoire -  les frais hospitaliers, y compris le forfait journalier hospitalier, et les transports sanitaires médicalement justifiés, sont pris en charge à 100%</p>
					<p>Les frais de prothèses dentaires et certains produits d’appareillage (fauteuil roulant, appareils orthopédiques) sont pris en charge à 150%.</p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES NOTIONS DE GUÉRISON/CONSOLIDATION</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>Bien que tout dossier d’accident de travail initial ou de rechute ne soit jamais clos, il faut établir un certificat final descriptif indiquant soit la guérison, soit la consolidation.</p>
					<p>La guérison est toujours apparente et ne laisse subsister aucune séquelle fonctionnelle. </p>
					<p>Elle n’exclut pas la possibilité d’une rechute.</p>
					<p>La consolidation est proposée ou imposée, quand il existe des séquelles qui peuvent donner lieu à une indemnisation. </p>
					<p>Les séquelles sont inscrites au barème des accidents du travail. </p>
					<p>Elles seront constatées par le médecin-conseil. </p>
					<p>Le taux médical est fixé et permet de calculer la pension ou le capital qui sera versé à la victime.</p>
					<p>Le rapport d’évaluation peut être transmis à l’assuré sur sa demande (lettre simple).</p>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> il existe, en revanche, des séquelles non indemnisables (par exemple: esthétiques, douleurs isolées).
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">INCAPACITÉ PERMANENTE</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>Le taux d’incapacité permanente est évaluée par le médecin conseil et une rente est versée lorsqu’un accident de travail est consolidé et que la/les séquelle(s) est (sont) indemnisable(s).</p>
					<p>Le taux médical, est éventuellement majoré d’un coefficient professionnel lié à une perte de salaire due à l’accident du travail.</p>
					<p>La rente est alors calculée par le service administratif.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> ACTUELLEMENT</h4>
					<p class="italic">Si le taux d’incapacité est inférieur à 10 %, un capital est versé à l’assuré en un seul versement  au minimum 2 mois après les délais de recours. Le montant de la rente, forfaitaire, exonérée de CSG, CRDS et non imposable, s’échelonne de 410 euros pour une incapacité de 1% à 4100 euros pour une incapacité de 9% au 1er avril 2013. </p>
					<p class="italic">Pour connaître les montant d’indemnisation intercalaires, consulter: <a href="www.risquesprofessionnels.ameli.fr/fr/aide_indemisations/aide_indemisations_ip_1.php">www.risquesprofessionnels.ameli.fr</a> .<br> Si le taux d’incapacité est supérieure à 10 %, une rente est versée trimestriellement à l’assuré ou mensuellement si l’incapacité est supérieure à 50 %</p>
					<ul>
						<li>à titre temporaire si les séquelles risquent d’évoluer,</li>
						<li>à titre définitif si les séquelles sont fixes. </li>
					</ul>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">A NOTER:</span> Un taux d’incapacité de 66,66 % (en pratique 67 %) entraîne une exonération du ticket modérateur pour l’accidenté et ses ayants droit.
							</p>
						</div>
					</div>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A SAVOIR</h4>
					<p class="italic">en cas de contestation du taux d’incapacité, des recours sont possibles: auprès du service administratif des accidents de travail par lettre simple. Le tribunal du contentieux de l’incapacité (TCI) peut décider d’une modification du montant. </p>
					<p class="italic">Il est possible de consulter un médecin expert pour évaluer l’opportunité d’un recours, par exemple via la FNATH (moyennant finances)</p>
					<p class="italic">En cas d’aggravation des séquelles, une révision du taux d’incapacité est possible à l’initiative de la caisse ou de l’assuré par lettre simple.</p>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">RECHUTE </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>Elle n’intervient qu’après une guérison ou une consolidation quand il n’y a pas de nouveau fait accidentel (il ne s’agit pas d’un nouvel accident de même localisation), mais aggravation de l’état de la victime, en rapport direct avec l’accident de travail initial, nécessitant des soins actifs, voir un arrêt de travail.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A SAVOIR</h4>
					<p class="italic"> La rechute peut poser un problème d’imputabilité (cas des lombalgies à distance d’un accident du travail notamment).  </p>
					<p class="italic">En cas d’aggravation des séquelles d’un accident de travail ne nécessitant pas de traitement actif, demander une révision du taux d’incapacité.</p>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">SOINS D’ENTRETIEN APRÈS UNE CONSOLIDATION</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>Après un accident de travail consolidé (une IPP a été fixée), on peut obtenir des soins d’entretien si, et seulement si, ces soins sont justifiés par:</p>
					<ul>
						<li>L’imputabilité de ces soins aux séquelles de l’accident de travail.</li>
						<li>La nécessité médicale d’éviter une rechute ou l’aggravation desdites séquelles.</li>
					</ul>
					<p>Les soins nécessaires doivent être définis et prescrits par le médecin traitant, en accord avec le médecin-conseil.</p>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">INDEMNITÉS </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>Le salarié bénéficie d’indemnités journalières lorsqu’il a été victime d’un accident de travail. </p>
					<p><b>Pendant les 28 premiers jours:</b>60 % du salaire journalier de base, dans la limite de 187,89 euros au 1er janvier 2014.</p>
					<p><b>Dés le 29e jour: </b>80 % du salaire limité à 250,52 euros  au 1er janvier 2014.</p>
					<p>Les indemnités journalières sont versées tous les 14 jours et sont décomptées à partir du lendemain du jour de l’accident de travail. Elles sont versées pour chaque jour d’arrêt de travail jusqu’à la consolidation ou la guérison.</p>
					<p>Elles sont, depuis le 1er janvier 2010 imposables sur le revenu pour 50% de leur montant.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>L’indemnité temporaire d’inaptitude</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>Depuis le 1er juillet 2010, une indemnité temporaire d’inaptitude peut être attribuée sous certaines conditions.</p>
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>Etre déclaré inapte au travail du fait d’une incapacité liée directement à l’accident de travail.</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>Avoir bénéficié d’indemnités journalières pendant la période d’arrête de travail</li>
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>Ne plus être rémunéré par son employeur, ni percevoir d’IJ d’arrêt maladie simple, ni d’allocations chômage.</b> </li>
					</ul>
					<p>L’indemnité est égale au montant de l’indemnité journalière précédemment versée du fait de l’accident de travail pendant 30 jours. Elle est demandée sur formulaire S6110 à l’initiative du médecin du travail.</p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			 </div>
		</div>



