		<div class="row">
		  	<div class="col-sm-12 titre-FT">Aides au logement<i class="zmdi zmdi-compass icon-savoir" data-toggle="modal" style="margin-left: 35%;" data-target=".savoir-modal-lg11"  style="color: white;cursor: pointer;"></i></div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"La loi Besson du 31 mai 1990, relative à la mise en œuvre du droit au logement, affirme à l’article premier: “Garantir le droit au logement constitue un devoir de solidarité de l’ensemble de la nation. Toute personne ou famille éprouvant des difficultés particulières, en raison notamment de l’inadaptation de ses ressources ou de ses conditions d’existence, a le droit à une aide de la collectivité, dans les conditions fixées par la présente loi, pour accéder à un logement décent et indépendant ou s’y maintenir.” La loi SRU du 13 décembre 2000 précise la notion de logement «décent». Dans chaque département, un plan départemental souligne les grands axes et priorités à adopter en matière de logement par les différents acteurs locaux."</blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">L’ACCÈS AU LOGEMENT</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Logement social </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>Les candidats sont nombreux et les logements rares, il faut compter de une à plusieurs années d’attente selon les départements. Pour y accéder, il faut remplir certaines conditions :</p>
					<ul>
						<li>être de nationalité française ou être étranger admis à séjourner régulièrement en France,</li>
						<li>disposer de ressources ne dépassant pas un certain plafond.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Procédure</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<ul>
						<li>Prendre rendez-vous avec le service logement de la ville ou CCAS pour eff ectuer la demande (fortement conseillé). À défaut: utiliser le formulaire Cerfa N°14069*02, qui peut être transmis à un bailleur social, une mairie ou un collecteur du 1 % logement (Action logement). </li>
						<li>La personne reçoit ensuite un ou plusieurs numéros d’enregistrement. Certaines régions ont mis en place un numéro unique.</li>
					</ul>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;"> ATTENTION:</span> Votre patient doit conserver précieusement cette feuille qui atteste de son inscription sur la liste des demandeurs de logement. Elle lui sera demandée pour chaque démarche. Il doit renouveler sa demande chaque année. Soit avec un agent de la mairie, soit sur le site internet dédié: <a target="_blank" href="https://www.demande-logement-social.gouv.fr/">www.demande-logement-social.gouv.fr</a>
							</p>
						</div>
					</div>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>La Loi DALO</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>Le Droit Au Logement Opposable dite loi DALO du 5 mars 2007, entrée en application en janvier 2008 vise à permettre l’accès à un logement de 5 catégories de demandeurs prioritaires:</p>
					<ul>
						<li>sans logement</li>
						<li>menacés d’expulsion sans relogement</li>
						<li>hébergés dans une structure d’hébergement depuis + 6 mois</li>
						<li>logés dans des locaux insalubres ou dangereux</li>
						<li>logés dans un appartement trop petit s’il y a au moins une personne mineure ou handicapée.</li>
					</ul>
					<p>La procédure de demande de logement ou d’hébergement dans le cadre de cette loi intervient après saisine de la commission de médiation suite à l’absence de proposition de logement adaptée à sa demande dans un délai raisonnable stipulé sur l’attestation de demande HLM</p>
					<p>La commission de médiation doit être saisie au moyen d’un formulaire Cerfa n°15036*01 retiré en préfecture ou téléchargé sur internet, à envoyer en recommandé. </p>
					<p>La commission a entre 3 et 6 mois pour statuer et juger du caractère prioritaire de la demande. </p>
					<p>En cas de réponse positive, elle transmet la demande au Préfet avec les caractéristiques que doit avoir le logement. Le Préfet dispose d’un délai de 3 à 6 mois pour proposer un logement.</p>
					<p>Passé ce délai, demeuré sans réponse, le demandeur peut déposer dans les 4 mois maximum un recours devant le Tribunal Administratif. Le demandeur peut se faire assister devant le T.A. par un travailleur social ou une association agréée.</p>
					<p>Le T.A. dispose de 2 mois à partir de la date de saisine pour se prononcer et ordonner une attribution de logement par le ministère du logement. </p>
					<p>Cette injonction peut être assorte d’une astreinte qui est versée au Fond D’Aménagement Urbain pour financer le logement social.</p>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;"> ATTENTION:</span> Dorénavant, depuis le 1er janvier 2014, pour déposer une demande de logement au ti tre du DALO, il faut être inscrit comme demandeur de logement auprès du service logement de la mairie depuis plus d’un an.
							</p>
						</div>
					</div>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic"> Les locataires en HLM bénéficient de facilités pour acheter le logement qu’ils occupent</p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>Logement privé</em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>Pour accéder au logement privé, il faut s’adresser à: </p>
					<ul>
						<li>Des agences immobilières qui factureront des frais d’agence.</li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic"> les travailleurs sociaux peuvent éventuellement orienter votre patient vers des agences qui acceptent plus facilement des personnes dans des situations précaires. </p>
					<ul>
						<li>Il existe, entre autre, des vendeurs de listes qui donnent accès à des fichiers de partculiers bailleurs en échange d’une somme forfaitaire (environ 150 €). Il convient de se méfier de la plupart d’entre eux. Les escroqueries sont fréquentes: listes obsolètes ou prélevées dans des journaux spécialisés de ventes aux particuliers, etc.</li>
						<li>Des particuliers que l’on peut contacter par des annonces de presse ou par un réseau de connaissances.</li>
						<li>Des sites Internet. Par exemple: <a href="www.seloger.com ">www.seloger.com </a></li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic"> il existe des associations départementales pour l’information sur le logement (ADIL) qui renseignent gratuitement sur la législation en matière de location.<br> Elles connaissent aussi les offres de logements neufs.<a target="_blank" href="www.anil.org"> www.anil.org </a></p>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse5=true"><em>S’il s’agit d’une urgence</em></h6>
				<div class="wrapper-reponse" ng-show="reponse5">
					<p>Conseillez à votre patient de contacter un travailleur social (CCAS, hôpital, Conseil général,…) qui peut éventuellement mettre en place une procédure de réservation préfectorale. Il s’agit de remplir un dossier comprenant une évaluati on sociale précisant l’urgence. </p>
					<p><b>Le préfet peut intervenir à deux titres:</b></p>
					<ul>
						<li>la préfecture dispose d’un contingent de logements,</li>
						<li>le préfet peut aussi intervenir auprès des offices HLM et des communes en faveur des personnes dont il estime qu’elles ont besoin d’être logées en priorité.</li>
					</ul>
					<p>Parallèlement, le patient peut aussi rencontrer l’adjoint du maire pour expliquer sa situation.</p>
					<p>Dans tous les cas, n’oubliez pas de prévenir votre patient des dispositions de la loi DALO.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic"> Pour les plus précaires: L’ «Accord Collectif Départemental» (ou «Intercommunal») réunit au sein d’une commission l’Etat et le département (ou villes), qui sélectionnent, sur candidature présentée par un travailleur social référent, les personnes isolées ou les familles à reloger qui répondent aux critères de précarité et d’urgence requis. Elle désigne aux bailleurs sociaux les personnes devant être relogées sur le contingent de logements sociaux réservés au département (ou villes) et à la préfecture, soit environ 1200 logements par an à Paris. </p>
					<p><em><b>Dans les deux cas, les GARANTIES exigées sont multiples:</b></em></p>
					<ul>
						<li>garanties de solvabilité,</li>
						<li>dépôt de garantie,</li>
						<li>assurance habitation,</li>
						<li>caution solidaire, c’est-à-dire un garant.</li>
					</ul>
					<p><em><b>À l’entrée dans le logement</b></em></p>
					<ul>
						<li>la signature du bail,</li>
						<li>l’état des lieux,</li>
						<li>la fixation du prix du loyer et des charges,</li>
						<li>la réévaluati on du loyer, </li>
						<li>les menus travaux qui incombent à chacun,</li>
						<li>la réhabilitation,</li>
						<li>la résiliation du bail,</li>
						<li>l’état des lieux à la sortie,</li>
						<li>l’amélioration du confort existant.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse5=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse6=true"><em>Changer de logement</em></h6>
				<div class="wrapper-reponse" ng-show="reponse6">
					<p>S’adresser en priorité à son bailleur, qui peut proposer directement au locataire un autre logement.<br> Sinon, mêmes démarches que pour accéder au logement social ou privé. Le FSL peut être saisi pour permettre à un ménage défavorisé d’accéder à un logement locatif grâce à un système de garanties. Il est saisi par l’intermédiaire d’une AS</p>
					<button  class="btn btn-default" ng-click="reponse6=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES AIDES À L’ACCÈS DANS LE LOGEMENT </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse7=true"><em>Le FSL accès</em></h6>
				<div class="wrapper-reponse" ng-show="reponse7">
					<p>Ce dispositif permet d’obtenir les garanties demandées lors de l’entrée dans un logement. Le dossier de demande est à produire avec une AS de secteur, du CCAS, d’une association agréée… </p>
					<p>Le FSL est soumis à certaines conditions:</p>
					<ul>
						<li>faibles revenus, </li>
						<li>conditions d’existence,</li>
						<li>prix du loyer: le loyer, soustrait des allocations logement, ne doit pas représenter plus de 30 % des revenus du foyer,</li>
						<li>logement conforme à certaines normes d’habitation (salubrité).</li>
					</ul>
					<p>2. L’aide allouée est variable en fonction des ressources. Elle peut prendre la forme d’un don et/ou d’un prêt à taux zéro. Cette aide sert à financer:</p>
					<ul>
						<li>le dépôt de garantie,</li>
						<li>le premier loyer et les charges, </li>
						<li>80 % du deuxième loyer, </li>
						<li>certains frais d’installation et d’équipement: EDF, mobilier de première nécessité,</li>
						<li>les frais d’agence,</li>
						<li>l’assurance habitation.</li>
					</ul>
					<p>3. Le dossier, complété, passe par une commission qui délivre une notification de décision.</p>
					<p>Si le dossier a été accepté, la notification précise les termes de l’aide (prêt et/ou don). Elle donne un accord de principe avec une validité limitée. L’aide peut être rétroactive, c’est-à-dire que le demandeur peut avoir déjà emménagé. </p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">il existe un FSL maintien. Voir le chapitre «maintien dans le logement».</p>
					<button  class="btn btn-default" ng-click="reponse7=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse8=true"><em>Le 1 % logement et le Loca-Pass</em></h6>
				<div class="wrapper-reponse" ng-show="reponse8">
					<p>Chaque entreprise du secteur privé non agricole de 10 salariés cotise pour le financement de prêts ou d’aides à ses salariés au Fonds national d’aide au logement, qui finance diverses allocations logement. Par le biais d’organismes collecteurs, les personnes peuvent avoir accès à certaines aides pour la location et pour l’achat d’immobilier. <a target="_blank" href="http://www.logement.org/">www.logement.org</a> </p>
					<p>Le Loca-Pass est un dispositif qui permet l’avance de frais et apporte les garanties demandées lors de l’entrée dans un logement. Il est nécessaire de remplir un dossier. </p>
					<p>Une commission se prononce.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">certains organismes disposent d’un parc locatif. </p>
					<p>Pour en bénéficier, il faut être:</p>
					<ul>
						<li>étudiant boursier ou salarié,</li>
						<li>jeune de moins de 30 ans en situation de recherche d’emploi, </li>
						<li>salarié d’une entreprise du secteur privé, </li>
						<li>retraité depuis moins de 5 ans d’une entreprise privée.</li>
					</ul>
					<p>Le Loca-Pass ouvre des droits à un prêt sans intérêts permettant de financer le dépôt de garantie, ainsi qu’une garantie de paiement des loyers impayés pendant 18 mois. </p>
					<p>Ce prêt est remboursable dans la limite de 36 mois.</p>
					<button  class="btn btn-default" ng-click="reponse8=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse9=true"><em>Les baux glissants</em></h6>
				<div class="wrapper-reponse" ng-show="reponse9">
					<p>Le FSL peut doter des associations intermédiaires qui mettent des logements à disposition pour les plus défavorisés. Le bail peut être transmis par la suite au sous-locataire. Par ailleurs, les services sociaux peuvent aussi renseigner votre patient sur les agences de location qui acceptent de louer aux personnes démunies.</p>
					<button  class="btn btn-default" ng-click="reponse9=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse10=true"><em>Le dispositif SOLIBAIL</em></h6>
				<div class="wrapper-reponse" ng-show="reponse10">
					<p>En Ile de France, il existe un dispositif dit «Solibail» financé par l’Etat qui permet aux ménages hébergés en hôtel ou en foyer, bénéficiaires de la loi DALO, de reprendre pied dans un logement loué par un propriétaire privé à une association qui le sous loue à une famille pendant une durée de 3 mois à 18 mois, après quoi les familles sont relogées à titre définitif.</p>
					<p>Le propriétaire, contre une garantie de paiement de loyer pendant 3 ans et une remise à neuf des locaux, consent à un engagement de modération des loyers sur la base de 18,38 euros le m2 en 2014.</p>
					<button  class="btn btn-default" ng-click="reponse10=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse11=true"><em>L’exonération des impôts sur les revenus de la location</em></h6>
				<div class="wrapper-reponse" ng-show="reponse11">
					<p>Pour inciter les propriétaires à louer à des personnes défavorisées, une exonération d’impôts sur les revenus de la location est possible sous réserve de ne pas dépasser les plafonds de loyer et de ressources du locataire et du sous-locataire. Pour tout renseignement complémentaire, rechercher les différents dispositifs: Lienemann; Robien; Besson sur <a target="_blank" href=" www.impots.gouv.fr"> www.impots.gouv.fr</a> ou au centre des impôts du domicile.</p>
					<button  class="btn btn-default" ng-click="reponse11=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse12=true"><em>Les étudiants </em></h6>
				<div class="wrapper-reponse" ng-show="reponse12">
					<p>Les étudiants peuvent bénéficier sous conditions de l’<b>allocation d’installation étudiante.</b> Se renseigner auprès de la CAF du domicile ou sur <a target="_blank" href="www.caf.fr">www.caf.fr</a> </p>
					<button  class="btn btn-default" ng-click="reponse12=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES AIDES AU MAINTIEN DANS LE LOGEMENT</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse13=true"><em>Aides au paiement du loyer de la CAF</em></h6>
				<div class="wrapper-reponse" ng-show="reponse13">
					<p>Il existe des aides au logement non cumulables entre elles et accessibles aux locataires et aux personnes accédant à la propriété. Elles sont ouvertes à tous, sous conditions de ressources et de régularité de séjour. Les dossiers sont à retirer à la CAF ou téléchargeables sur le site <a target="_blank" href="www.caf.fr">www.caf.fr</a> . </p>
					<p>Le FSL est soumis à certaines conditions:</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">le formulaire S7103i de la CAF est commun pour les demandes d’aides au logement et aux prestations familiales. Pièces à joindre p.118</p>
					<button  class="btn btn-default" ng-click="reponse13=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse14=true"><em>L’aide personnalisée au logement (APL) </em></h6>
				<div class="wrapper-reponse" ng-show="reponse14">
					<p>Pour en bénéficier, il faut, sous conditions de ressources:</p>
					<ul>
						<li>être locataire d’un logement locatif faisant l’objet d’une convention entre le propriétaire et l’État (HLM, foyer, maison de retraite, centre de séjour ou d’hébergement pour handicapés, hôtel, meublé),</li>
						<li>être propriétaire et rembourser un prêt «social».</li>
					</ul>
					<p>Son montant varie selon les ressources, le loyer, la situation familiale, le lieu et la nature de la résidence.</p>
					<button  class="btn btn-default" ng-click="reponse14=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse15=true"><em>L’aide logement social (ALS) </em></h6>
				<div class="wrapper-reponse" ng-show="reponse15">
					<p>Pour ceux qui ne bénéfi cient ni de l’APL ni de l’ALF. C’est une aide versée aux bénéficiaires du RSA et dans la plupart des cas aux étudiants. Son montant dépend des ressources et du nombre de personnes à charge.</p>
					<button  class="btn btn-default" ng-click="reponse15=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse16=true"><em>L’aide logement familiale (ALF)</em></h6>
				<div class="wrapper-reponse" ng-show="reponse16">
					<p>Pour les familles qui n’entrent pas dans le cadre de l’APL, qui sont locataires ou propriétaires.<br> Pour en bénéficier, il ne faut pas dépasser le seuil de ressources des ALF qui dépend de nombreux facteurs (personnes à charge, montant du loyer).</p>
					<button  class="btn btn-default" ng-click="reponse16=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse17=true"><em>Autres aides  </em></h6>
				<div class="wrapper-reponse" ng-show="reponse17">
					<ul>
						<li>prime de déménagement,</li>
						<li>prêt à l’amélioration de l’habitat.</li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">les allocations logement peuvent être perçues aussi pour des hébergements tels que foyer, hôtel, meublé, résidence universitaire.<br> De même que les personnes âgées et les personnes handicapées peuvent en bénéficier si elles sont hébergées chez des particuliers, en foyer, en maison de retraite, en unité ou centre de long séjour.</p>
					<button  class="btn btn-default" ng-click="reponse17=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse18=true"><em>FSL mainti en dans les lieux </em></h6>
				<div class="wrapper-reponse" ng-show="reponse18">
					<p>En cas de dettes de loyer, le locataire peut rencontrer un travailleur social pour constituer un dossier de FSL <b>maintien dans les lieux.</b> Après être passée en commission départementale, la demande, si elle est acceptée, peut permettre de prendre des mesures dans le but de maintenir le locataire dans son appartement.</p>
					<p>Prêt et/ou don pour payer les dettes de loyers, soutien social. <b>Comme conditons préalable, il faut reprendre le versement de loyers courants afin que le montant de la dette de loyer reste constant.</b><button  class="btn btn-default btn-fiche" data-dismiss="modal" ui-sref="expulsion-prevention-procedure">Voir Prévenir l'expulsion</button><button  class="btn btn-default btn-fiche" data-dismiss="modal" ui-sref="huissiers">Voir Huissiers</button></p>
					<button  class="btn btn-default" ng-click="reponse18=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse19=true"><em>1 % logement et Loca-Pass</em></h6>
				<div class="wrapper-reponse" ng-show="reponse19">
					<p>Ce dispositif permet, entre autres, de garantir jusqu’à 18 mois de loyers impayés. Cette avance sera remboursée selon des modalités convenues entre le locataire et l’organisme.</p>
					<button  class="btn btn-default" ng-click="reponse19=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES CAS PARTICULIERS</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse20=true"><em>Peut-on sous-louer son appartement? </em></h6>
				<div class="wrapper-reponse" ng-show="reponse20">
					<p>Il est interdit de sous-louer son logement à moins d’en demander l’autorisation formelle à son propriétaire. En revanche, chacun est libre de recevoir, sans limitation de durée, les personnes de son choix. La jurisprudence est généralement favorable au locataire, même quand une clause du contrat interdit l’occupation du logement par une tierce personne.</p>
					<p>Ainsi le paiement une seule fois du loyer ou d’une facture par un tiers ne constitue pas une preuve suffisante de la sous-location. </p>
					<p>La sous-location est absolument interdite en logements à loyer modéré (HLM, ILM, etc.).</p>
					<p>Les logements de type loyer 48 ne sont pas soumis à l’interdiction de sous-location.</p>
					<p>Les logements à loyer libre peuvent donner lieu à la sous-location, sous réserve de l’accord écrit du propriétaire.</p>
					<p>L’allocation logement est possible dans la mesure où il y a accord du propriétaire, il faut dans ce cas établir un bail de convenance, entre le locataire en titre et la personne qui sous-loue, où figurent la durée du bail et le montant du loyer, et signé par le locataire et le sous-locataire.</p>
					<p>Le locataire perd alors ses droits à l’aide au logement au profit du sous-locataire.</p>
					<button  class="btn btn-default" ng-click="reponse20=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse21=true"><em>En cas d’arriérés de loyer </em></h6>
				<div class="wrapper-reponse" ng-show="reponse21">
					<p>S’assurer que le loyer demandé tient compte des ressources.</p>
					<p>Contacter au plus vite son bailleur et le prévenir de ses difficultés.</p>
					<p>Contacter une AS pour une demande de FSL.</p>
					<p><button  class="btn btn-default btn-fiche" data-dismiss="modal" ui-sref="expulsion-prevention-procedure">Voir Prévenir l'expulsion</button><button data-dismiss="modal" class="btn btn-default btn-fiche" ui-sref="huissiers">Voir Huissiers</button><button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="surendettement">Voir Surendettement des familles</button></p>
					<button  class="btn btn-default" ng-click="reponse21=false;">FERMER</button>
				</div>
			</div>
		</div>




<div class="modal  fade savoir-modal-lg11" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg11" role="document">
	    <div class="modal-content wrapper-fiche ">
		    <div class="modal-body">
		    	<h3 class="titre-conduite" ><span style="color: orangered;font-size: 30px;" class="glyphicon glyphicon-triangle-right"></span>Conduite à tenir</h3>
				<p>Conseiller à votre patient d’aller voir son AS, de se renseigner auprès de l’ADIL ou, sur Paris de téléphoner au <a href="tel:01-77-45-45-45">01 77 45 45 45</a> .</p>
			</div>	
	    <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	    </div>
	    </div>
	</div>
</div>





