		<div class="row">
		  	<div class="col-sm-12 titre-FT">Arrêt maladie</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"L’apparition de différents symptômes peut entraîner l’absence du patient à son poste de travail ou dans sa recherche d’emploi. Une absence injustifiée peut avoir des conséquences graves: rupture du versement des IJ, licenciement... Il faut vérifier que le patient a la capacité d’envoyer ses arrêts de maladie, comme l’exige la réglementation pour obtenir ses remboursements."  </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse">
					<p><b>Arrêt de longue maladie</b></p>
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> En cas d’absence excédant 21 jours, une visite médicale doit avoir lieu lors de la reprise du travail.</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Le refus de s’y soumettre peut constituer une cause de licenciement. <button data-dismiss="modal" class="btn btn-default btn-fiche" ui-sref="longue-maladie" >Voir Longue maladie</button></li> 
					</ul>
				</div>
			 </div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">PROCÉDURES À RESPECTER </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Formalités </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> L’arrêt maladie doit être envoyé à l’employeur ou au PÔLE EMPLOI sous 48 heures.</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> L’arrêt maladie doit être envoyé au médecin-conseil de la caisse de SS sous 48 heures ainsi que les photocopies:
							<ul>
								<li>Des trois derniers bulletins de salaire</li>
								<li>Et, le cas échéant, de l’avis d’admission à l’allocation chômage versée par le PÔLE EMPLOI</li>
								<li>Et, le cas échéant, de la dernière attestation de versement de cette allocation.</li>
							</ul>
						</li> 
					</ul>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Pendant l’arrêt</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Il est nécessaire de respecter les horaires de sorti e autorisés qui sont indiqués sur l’arrêt de travail (présence obligatoire au domicile entre 9 et 11H et 14 à 16 H). Il n’est pas possible non plus de quitter les limites du département sauf si la demande est explicitement formulée par le médecin sur le volet 1 de l’arrêt de travail.</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Si la reprise du travail a lieu avant la fin de l’arrêt de travail, il faut prévenir la caisse de SS dans un délai de 24 h</li> 
					</ul>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> Certaines sociétés d’assurances ne couvrent pas les séjours en centre de postcure pour dépendants alcooliques et toxicomanes.<br> Dans le cadre de soins de cette nature et avant de procéder à une orientation thérapeutique impliquant un séjour en postcure, il est utile de se renseigner auprès de sa complémentaire santé.<br> De fait, il est prudent de conseiller à votre patient de ne souscrire à un contrat d’assurance ou à une mutuelle qu’à la condition que ce type de prise en charge soit clairement stipulé.
							</p>
						</div>
					</div>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES INDEMNITÉS JOURNALIÈRES(IJ)</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>C’est un «salaire» de substitution ne compensant que partiellement la perte de salaire de l’assuré en arrêt de maladie. Toutefois certaines entreprises dans le cadre de leur convention collective garantissent le versement intégral du salaire pendant l’arrêt maladie. Elles peuvent demander la subrogation des droits et percevoir, à la place du salarié malade, le versement des indemnités journalières.</p>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> le non-respect des procédures citées plus haut peut interrompre le versement d’IJ.
							</p>
						</div>
					</div>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Délai de carence </em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>Le droit n’est ouvert qu’au quatrième jour de l’arrêt de travail.<br> En cas de renouvellement d’arrêt le lundi suivant un week-end, le WE est naturellement inclus dans l’indemnisation. Si le renouvellement a lieu le mardi suivant le WE, le WE est inclus seulement si le lundi correspond à un jour férié. S’il correspond à une absence du médecin, le renouvellement est considéré comme un autre arrêt maladie justifiant un nouveau délai de carence. </p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>Montant de l’IJ</em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>L’indemnité est égale à la moitié du gain journalier de base, calculé selon la moyenne des 3 derniers mois, dans la limite de 50 % du salaire brut plafonné.</p>
					<p>Cette IJ est majorée à compter du 31e jour d’arrêt de travail si l’assuré a au moins trois enfants à charge. Elle passe alors aux deux tiers du gain journalier.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">Si l’arrêt de travail est inférieur à 6 mois, il faut justifier aussi d’avoir travaillé au moins 150 h au cours des 3 mois précédant l’arrêt de travail ou avoir cotisé sur un salaire au moins égal à 1 015 fois le montant du SMIC horaire au cours des 6 mois précédant l’arrêt de travail.</p>
					<h4 class="savoir-FT" > VIGILANCE</h4>
					<p class="italic">Décret n° 2015-86 du 30 janvier 2015 portant modification des conditions d'ouverture du droit aux prestations en espèces des assurances maladie, maternité et invalidité et au congé de paternité et d'accueil de l'enfant.</p>
					<p>Si l’arrêt de travail est supérieur à 6 mois, il faut justifier de 12 mois d’immatriculation, en tant qu’assuré social, à la date de l’arrêt de travail et avoir travaillé:</p>
					<ul>
						<li>600 heures, dont 150 h pendant les 3 premiers mois </li>
						<li>ou avoir cotisé pour 2 030 fois le SMIC horaire dont 1 015 fois le montant du SMIC horaire pendant les 6 premiers mois (smic horaire brut à 9,53 en 2014).</li>
					</ul>
					<p><em>Pour les demandeurs d’emploi, il faut que ces conditions d’ouverture de droit aux prestations en espèces soient réalisées à la date de la perte de l’emploi.<br>Si oui, le versement des I.J se substitue aux allocations chômage qui sont simplement reportées sur la base de la durée initiale.</em></p>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			 </div>
		</div>


	