		<div class="row">
		  	<div class="col-sm-12 titre-FT">Assurance maternité</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES BÉNÉFICIAIRES</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<ul>
						<li>L’assurée sociale.</li>
						<li>L’ayant droit (conjoint, concubin, PACS, enfants, ascendants, collatéraux, cohabitant, personne à charge totale depuis 1 an).</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES FORMALITÉS POUR BÉNÉFICIER DE L’ASSURANCE MATERNITÉ</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>En premier lieu, il faut envoyer à la caisse de SS, une déclaration de grossesse établie par le médecin ou la sage-femme avant la fin du 3e mois de grossesse.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Pour bénéficier du remboursement des soins </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>Il faut être assurée sociale, ayant droit ou bénéficiaire de la CMU ou de l’AME.<button data-dismiss="modal" class="btn btn-default btn-fiche" ui-sref="couverture-sociale">Voir Couverture sociale</button></p>
					<p>Les femmes enceintes sans couverture sociale sont affiliées, de droit, à la Couverture Maladie universelle.</p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Prestations en nature </em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p><b>Les examens obligatoires</b> 7 examens prénatals sont pris en charge à 100%.</p>
					<p><b>Les examens non obligatoires:</b>une liste exhaustive est disponible sur www.ameli.fr concernant les soins et examens remboursés à 100 % pour la mère, le père et l’enfant. À noter qu’à partir du 6ème mois de grossesse jusqu’au 12ème jour après l’accouchement, tous les soins même ceux qui ne sont pas en rapport avec la grossesse sont pris en charge à 100%, y compris le montant du forfait journalier hospitalier. </p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Prestations en espèces</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p><b><em>Pour bénéficier des indemnités journalières de maternité</em></b></p>
					<p>Il faut remplir l’ensemble des conditions suivantes:</p>
					<ul>
						<li>Avoir travaillé au moins 150 h au cours des 3 mois précédant le début de grossesse ou avoir cotisé 1015 fois le SMIC horaire (9,53 euros brut – 7,47 euros/H net en 2014) au cours des 6 mois précédant la grossesse.</li>
						<li>Avoir été immatriculée au moins 10 mois à la SS</li>
						<li>Un arrêt de travail de 8 semaines.</li>
					</ul>
					<p><b>Montant des indemnités:</b> elles sont égales au salaire journalier de base calculé sur la moyenne des 3 derniers mois de travail. Elles sont dues sans délai de carence, pour chaque jour de la semaine et pendant toute la durée du congé maternité.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A SAVOIR</h4>
					<p class="italic">pour les demandeurs d’emploi, il faut que ces conditions d’ouverture de droit aux prestations en espèces soient réalisées à la date de la perte de l’emploi.</p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>Le congé de maternité</em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>La durée légale du congé maternité est fixée par le code de la sécurité sociale et le code du travail.</p>
					<p>Il comprend le congé prénatal, ordinairement de 6 semaines, et un congé postnatal de 10 semaines, soit 16 semaines en tout.</p>
					<p>La durée évolue en fonction de la composition de la famille au moment de la naissance. Cela peut aller jusqu’à 26 semaines (8+18) quand la famille comprend déjà 2 enfants, voire 34 semaines en cas de naissance de jumeaux ou 46 semaines, de triplés.</p>
					<p>En cas de grossesse pathologique, les congés peuvent être rallongés de 2 semaines avant l’accouchement. </p>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse5=true"><em>Le congé de paternité de la CPAM </em></h6>
				<div class="wrapper-reponse" ng-show="reponse5">
					<p>Il est accessible à toute personne ayant ouvert des droits aux indemnités de l’assurance maladie maternité. Le congé est de 11 jours indivisibles nonobstant les 3 jours dus à la naissance de l’enfant.</p>
					<p>En cas de naissance multiples le congé est de 18 jours, soit 21 jours avec le congé de naissance. <button data-dismiss="modal" ui-sref="pieces-a-joindre" class="btn btn-default btn-PAJ">Pièces à joindre</button></p>
					<button  class="btn btn-default" ng-click="reponse5=false;">FERMER</button>
				</div>
			</div>
		</div>





