		<div class="row">
		  	<div class="col-sm-12 titre-FT">Assurance chômage<i class="zmdi zmdi-compass icon-savoir" data-toggle="modal" style="margin-left: 35%;" data-target=".savoir-modal-lg12"  style="color: white;cursor: pointer;"></i></div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Les partenaires sociaux renégocient environ tous les deux ans les règles de l’indemnisation chômage. La dernière convention UNEDIC date du 14 mai 2014. Elle a défini la date d’ouverture de nouveaux droits à partir du 1er juillet 2014 pour les nouveaux demandeurs d’emploi et au 1er octobre 2014 pour les demandeurs d’emploi en cours d’indemnisation" </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">CONDITIONS POUR BÉNÉFICIER DE L’ASSURANCE CHÔMAGE</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse ">
				<div class="wrapper-reponse">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>Avoir travaillé dans une entreprise entrant dans le champ d’application du régime d’assurance chômage (employeurs du secteur privé, certaines collectivités territoriales pour les agents titulaires)<br>Avoir perdu son emploi de façon involontaire (fin de CDD, licenciement, démission pour motif légitime, rupture conventionnelle, licenciement économique) <button data-dismiss="modal" class="btn btn-default btn-fiche" ui-sref="demissions-legitimes">Voir Cas de démissions légitimes</button></li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Avoir travaillé au moins 122 jours d’affiliation ou 610 heures de travail au cours des 28 derniers mois pour les moins de 50 ans et 36 mois pour les plus de 50 ans (intérimaires compris)   </li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>Condition d’âge: La nouvelle convention chômage du 14 mai 2014 intègre les conséquences de la loi sur les retraites de 2013 qui relève progressivement l’âge légal d’ouverture des droits à la retraite de 60 à 62 ans, la durée de cotisation nécessaire de 160 trimestres à 168 et l’âge de la retraite à taux plein de 65 à 67 ans .</li>
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>Les allocataires qui ne justifient pas du nombre de trimestres d’assurance requis pour bénéficier d’une retraite à taux plein peuvent continuer à être indemnisés au titre du chômage jusqu’à ce qu’ils obtiennent le nombre de trimestres nécessaires, c’est-à-dire jusqu’à l’âge maximum de 67 ans pour les générations nées à compter de 1955.</li>
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>Être physiquement apte à l’exercice d’un emploi</li>
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>Être inscrit au PÔLE EMPLOI et être à la recherche ACTIVE d’un emploi. </li>
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>Contributions à l’assurance chômage: depuis le 1er juillet 2014 les salariés âgés de plus de 65 ans, toujours en activité, ne sont plus exonérés de la cotisation chômage de 2,4%. </li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">il existe des régimes spécifiques pour les intermittents du spectacle.<br> <a target="_blank" href="http://www.intermittents-unedic.com/">www.intermittents-unedic.com</a></p>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">Quelles indemnisations par le PÔLE EMPLOI? </h3>
		  		<p>Il existe deux systèmes distincts d’indemnisation. </p>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Régime d’assurance chômage </em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p>Les salariés involontairement privés d’emploi se voient attribuer l’allocation de retour à l’emploi (ARE), calculée en pourcentage du salaire antérieur. </p>
					<p>Pour les salaires compris entre 1 et 1,5 smic l’ARE est calculée sur la base de 57,4% sur salaire brut journalier de référence</p>
					<p>La nouvelle conventi on établit que les salaires supérieurs à 1,5 smic sont calculés désormais sur la base de 57% de ce même salaire de référence.</p>
					<p>La durée de l’indemnisati on dépend du temps de travail effectué avant la perte de l’emploi. </p>
					<p>Avoir travaillé 4 mois au cours des 28 derniers mois donne droit à 4 mois d’indemnisation fixe selon la règle: UN jour d’indemnisation pour UN jour d’affiliation.</p>
					<p>La durée maximale d’indemnisation est de 24 mois pour les demandeurs d’emploi de moins de 50 ans et de 36 mois pour les plus de 50 ans. </p>
					<p><b>Cumul salaire et allocation chômage:</b></p>
					<p>La nouvelle convention d’assurance chômage de juin 2014 permet de cumuler le salaire d’une activité avec une partie des allocations chômage à une seule condition: Le cumul des deux ne doit pas dépasser le salaire mensuel moyen brut perdu (salaire qui a servi de référence au calcul des indemnités chômage). </p>
					<p>Les autres conditions en cours avant la nouvelle convention cessent d’exister.</p>
					<p>Formule de calcul: Montant de l’allocation due = Montant de l’allocation chômage pour un mois – 70% du montant brut du salaire.</p>
					<p>Ce montant s’ajoute au salaire brut et représente un gain parfois appréciable/ allocation de base.  </p>
					<p>Le montant non versé de l’allocation est converti en jours d’allocations. Ce nombre de jours s’ajoute au nombre de jours donnant initialement droit au versement de l’allocation. </p>
					<p><b>Les droits rechargeables</b></p>
					<p>Depuis le 1er octobre 2014, les périodes travaillées pendant une durée égale ou supérieure à 150 heures prolongent la période d’indemnisation d’autant de jours. </p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Régime de solidarité</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>Plusieurs allocations sont versées.</p>
					<p><b>A.</b> Une allocation spécifique de solidarité (ASS) est versée aux chômeurs ayant épuisé leurs droits à l’indemnisation légale. Elle est accordée aux demandeurs d’emploi pouvant justifier de 5 années de travail dans les 10 dernières années. Elle est accordée par période de 6 mois renouvelables. <br>Montant journalier de 16,11 euros soit 483,30 euros pour un mois de 30 jours.</p>
					<p><b>B.</b> Une allocation d’attente temporaire (ATA) est versée à certaines catégories de personnes sans emploi.<br>
					Pour pouvoir bénéficier de l’ATA, il faut être inscrit en tant que demandeur d’emploi  et être soit ancien détenu ayant été incarcéré au moins 2 mois ou être demandeur d’asile non hébergé par la CADA, bénéficiaire de la protection temporaire ou de la protection subsidiaire.<br>Le versement de l’ATA prend fin avec la fin de ces protections ou le rejet définitif de la demande d’asile par l’OFPRA. <br>Le montant de l’allocation temporaire d’attente est de 11,35 euros au 1er octobre 2014 soit 340,50 euros mensuels.<br>Concernant les anciens détenus, cette ATA est cumulable avec le RSA dans la limite du plafond de versement du du RSA socle.<br>En cas de reprise d’emploi, l’ATA est cumulable intégralement avec un travail pendant les 6 premiers mois si cet emploi procure des revenus inférieurs à 722,69 euros par mois. Au-delà de ce montant ou cette durée se renseigner auprès de son agence Pôle Emploi. 
					</p>
					<p><b>C.</b> L’Allocation transitoire de solidarité (ATS) est destinée aux demandeurs d’emploi n’ayant pas atteint l’âge de la retraite mais justifiant des trimestres requis pour bénéficier d’une retraite à taux plein. En janvier 2015, il fallait être né entre le 1er juillet 1951 et le 31 décembre 1953. Mais une extension à 1954, 1955, 1956 pourrait intervenir, conformément à l’annonce du président François Hollande, le 8 novembre 2014.<br>Si la personne ne remplit pas les conditions d’accès au régime solidaire, elle peut faire une demande de RSA. <button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="RSA">Voir RSA</button><br>Contacter Le PÔLE EMPLOI en premier lieu au 3949 <button data-dismiss="modal" ui-sref="carnet-adresses" class="btn btn-default btn-CA">Carnet d'adresses</button></p>
					
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>


		<div class="modal  fade savoir-modal-lg12" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg12" role="document">
			    <div class="modal-content wrapper-fiche ">
				    <div class="modal-body">
						<h3 class="titre-conduite" ><span style="color: orangered;font-size: 30px;" class="glyphicon glyphicon-triangle-right"></span>Conduite à tenir</h3>
						<p>Conseiller au patient de conserver tous les justificatifs de recherche d’emploi (lettres de refus d’embauche). En l’absence de justificatifs, le PÔLE EMPLOI peut demander la radiation et par conséquent interrompre le versement des indemnités.</p>
					</div>	
				    <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				    </div>
			    </div>
			</div>
		</div>
	




