	<div class="row">
		  	<div class="col-sm-12 titre-FT">Assurance invalidité</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"L’attribution d’une pension d’invalidité peut être proposée à l’assuré social lorsque sa capacité de travail est réduite d’au moins deux tiers par suite d’une maladie ou d’un accident non professionnel." </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">CONDITIONS D’ATTRIBUTION</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Conditions administratives   </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<ul>
						<li>Ne pas avoir atteint l’âge de la retraite (entre 60 et 62 ans).</li>
						<li>Avoir été immatriculé 12 mois à la SS avant le premier arrêt de travail. </li>
						<li>Avoir travaillé au moins 600 h au cours des 12 derniers mois de travail, dont 150 h les 3 premiers mois ou avoir cotisé sur un salaire au moins égal à 2 030 fois le montant du SMIC horaire (9,53 euros brut  soit 7,47 euros net/H en 2014) (dont 1 015 fois le montant du SMIC horaire au cours des 6 premiers mois).</li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">pour les demandeurs d’emploi, il faut que ces conditions d’ouverture de droit aux prestations en espèces soient réalisées à la date de la perte de l’emploi.</p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Conditions médicales</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<ul>
						<li>Avoir une incapacité de travail d’au moins de deux tiers (appréciée par le médecin-conseil).</li>
					</ul>
					<p>L’état d’invalidité est apprécié en fonction de la capacité de travail restante, compte tenu de l’état général, de l’âge, des facultés physiques et mentales, des aptitudes et de la formation professionnelle de l’intéressé</p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>L’état d’invalidité est apprécié soit: </em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<ul>
						<li><b>après consolidation</b> d’une blessure non imputable à un accident de travail,</li>
						<li><b>à expiration</b> de la période de versement des IJ de l’assurance maladie (3 ans maximum). </li>
					</ul>
					<p><b>Dans ce cas,</b> la demande doit être faite avant le terme de la période de 3 ans d’indemnisati on par l’assurance maladie. Passé cett e période, l’assuré risque de perdre le bénéfi ce d’une pension d’invalidité à laquelle il avait cotisé. Dans le meilleur des cas, il risque de se retrouver sans ressources pendant tout le temps de l’instruction de sa pension, ce qui peut prendre plusieurs semaines voire quelques mois.</p>
					<ul>
						<li><b>après stabilisation</b> de l’état de l’assuré, au moment de la constatati on médicale de l’invalidité résultant de l’usure prématurée de l’organisme. </li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> COMMENT?</h4>
					<p class="italic">pour les demandeurs d’emploi, il faut que ces conditions d’ouverture de droit aux prestations en espèces soient réalisées à la date de la perte de l’emploi.</p>
					<p>L’admission en invalidité peut être décidée à l’initiative du médecin-conseil sur la présentation d’un certificat médical rédigé par le médecin traitant dans les cas:</p>
					<ul>
						<li>de stabilisation,</li>
						<li>de consolidation d’une blessure non imputable à un accident de travail,</li>
						<li>d’usure prématurée de l’organisme.</li>
					</ul>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">NOTA BENE:</span>la demande peut être faite par l’assuré, le plus souvent appuyée par un certi fi cat de son médecin traitant, ou à l’initi ati ve de la caisse sur proposition de son médecin-conseil. Le dossier est à retirer à la CPAM du domicile ou formulaire S4150e. sur <a target="_blank" href="http://www.ameli.fr "> www.ameli.fr </a><button data-dismiss="modal" ui-sref="pieces-a-joindre" class="btn btn-default btn-PAJ">Pièces à joindre</button> 
							</p>
						</div>
					</div>
					<p><b><em>Autre possibilité, la demande d’invalidité peut émaner du médecin traitant lui-même, par un courrier au service médical de la CPAM départementale.</em></b></p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES PRESTATIONS</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>La pension</em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>La pension est accordée au patient pour compenser la perte de salaire due à la réduction de sa capacité de travail. Elle est versée à l’assuré à titre temporaire et est calculée sur la base des salaires perçus: on définit ainsi le salaire annuel moyen.</p>
					<ul>
						<li>Elle est soumise à l’impôt sur le revenu</li>
						<li>Elle est versée chaque mois à terme échu</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse5=true"><em>Montant et catégories</em></h6>
				<div class="wrapper-reponse" ng-show="reponse5">
					<p><b>Catégorie 1</b> Invalide capable d’exercer une profession: pension égale à 30 % du salaire annuel moyen. </p>
					<p><b>Catégorie 2</b> Invalide absolument incapable d’exercer une profession: pension égale à 50 % du salaire annuel moyen. </p>
					<p><b>Catégorie 3</b> Invalide absolument incapable d’exercer une profession avec obligation d’avoir recours à l’aide d’une tierce personne pour les actes de la vie courante: pension égale à 50 % du salaire annuel moyen et qui sera augmentée d’une majoration pour tierce personne. </p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A SAVOIR</h4>
					<p class="italic">parfois, les pensions d’invalidité sont très basses. Dans ce cas, le pati ent peut demander une prestati on complémentaire sous condition de ressources au Fonds spécial invalidité de la caisse de SS. Formulaire S4151d de la CPAM sur <a target="_blank" href="http://www.ameli.fr "> www.ameli.fr </a> Pièces à joindre p.118</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A SAVOIR</h4>
					<p class="italic"> si la pension d’invalidité perçue est inférieure à ce qu’aurait pu toucher l’assuré au titre de l’AAH, celui-ci peut demander un complément de revenus auprès de la CDAPH. <button  class="btn btn-default btn-fiche" data-dismiss="modal" ui-sref="handicap">Voir Handicap et prestations</button></p>
					<button  class="btn btn-default" ng-click="reponse5=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse6=true"><em>Les modifications</em></h6>
				<div class="wrapper-reponse" ng-show="reponse6">
					<p>Des variations du montant de la pension peuvent subvenir en foncti on des situati ons: </p>
					<p><b><em>Changement de catégorie : </em></b></p>
					<ul>
						<li>Déclassement en cas d’amélioration de l’état de santé.</li>
						<li>Surclassement en cas de détérioration de l’état de santé.</li>
					</ul>
					<p><b><em>Suspension totale ou partielle :</em></b></p>
					<ul>
						<li>En cas de reprise de travail (voir ci-dessous).</li>
						<li>En cas de cumul avec d’autres avantages (rente accident de travail, pension militaire).</li>
						<li>En cas d’impossibilité de contrôle médical.</li>
						<li>La pension peut être supprimée ou réduite si la capacité de travail redevient supérieure à 50 %. </li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> Recours</h4>
					<p class="italic"> le recours doit être présenté dans un délai de deux mois à compter du jour de décision de la CPAM.
					<button data-dismiss="modal" class="btn btn-default btn-fiche-s" ui-sref="invalidite">Voir Docteur, on me propose de me mettre en invalidité</button></p>
					<p><b><em>Avantages annexes:</em></b></p>
					<ul>
						<li>Sous certaines conditions, le titulaire d’une pension d’invalidité peut bénéficier de la carte d’invalidité et de la majoration pour tierce personne <button data-dismiss="modal" class="btn btn-default btn-fiche" ui-sref="apa">Voir APA</button></li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse6=false;">FERMER</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A SAVOIR</h4>
					<p><b><em>En cas de reprise du travail: </em></b></p>
					<p class="italic"><b>de moins de 6 mois: </b> la reprise du travail n’entraîne pas de suspension ou de réducti on de la pension d’invalidité.</p>
					<p class="italic"><b>de plus de 6 mois</b> le montant total de la pension d’invalidité peut varier si les ressources (pension, salaires, indemnités PÔLE EMPLOI et autres) excèdent la moitié du salaire annuel moyen.</p>
					<p><b><em>Si le patient a atteint l’âge de la retraite et:</em></b></p>
					<p class="italic"><b>ne peut pas travailler.</b> La pension d’invalidité est remplacée par la pension vieillesse au titre de l’inaptitude au travail (s’adresser à la CRAM).</p>
					<p class="italic"><b>Le bénéficiaire peut s’opposer à la transformation de sa pension d’invalidité en pension vieillesse au titre de l’inaptitude.</p>
				</div>
			</div>
		</div>




