		<div class="row">
		  	<div class="col-sm-12 titre-FT">CESU (chèque emploi service universel)</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Crée dans le cadre de la politique se services à la personne (loi du 26/07/2005), le CESU est entré en vigueur le 1er janvier 2006. <b>Le CESU se présente sous 2 formes:</b> le CESU Déclaratif et le CESU Préfinancé." </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LE CESU DECLARATIF</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>Le CESU déclaratif permet à un particulier de déclarer l’emploi d’un salarié et sa rémunération soit  sur le site internet du centre national du CESU: <a target="_blank" href="www.cesu.urssaf.fr">www.cesu.urssaf.fr</a> soit au moyen d’un volet social contenu dans un carnet de volet social ou un chéquier CESU, délivré sur demande après avoir rempli un formulaire d’adhésion.</p>
					<p>C’est une formule simplif ée qui permet d’employer un salarié à domicile, une assistante maternelle agréée, un prestataie de service ou une structure d’accueil: crèche, halte garderie etc.</p>
					<p>Le CNCESU effectue le calcul de la rémunération, prélève les cotisations sociales et adresse au salarié une attestation d’emploi qui lui tient lieu de fiche de paie.</p>
					<p>Le salarié peut être rémunéré par tout moyen à la convenance du particulier employeur: par virement, en espèces, par chèque, par CESU préfinancé.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> NOTA BENE</h4>
					<p class="italic">les CESU Bancaires délivrés par les banques sont de moins en moins utilisés au profit des CESU préfinancés.</p>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LE CESU DECLARATIF</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Le CESU préfinancé sert à payer: </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<ul>
						<li>la facture d’une prestation effectuée par une association ou une entreprise agréée de services à la personne,</li>
						<li>le salarié employé par un service mandataire agréé,</li>
						<li>la garde d’enfants hors du domicile par une assistante maternelle agréée, une crèche, halte garderie, jardin d’enfant…,</li>
						<li>un salarié en emploi direct.</li>
					</ul>
					<p>Ces chèques ont une valeur prédéterminée. </p>
					<div class="row">
						<div class="col-sm-12 titre-reponse">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> : pour un emploi direct, il faut que le salarié soit informé et donne son accord.</p>
						</div>
					</div>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Les modalités </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>Il est diﬀusé par des organismes co-financeurs:</b> employeurs, mutuelles, assurances, caisses de retraite, conseils généraux ou tout autre organisme habilité par l’Agence nationale des services à la personne (ANSP). Les CESU préfinancés sont remis au particulier. L’affiliation au Centre national du CESU est automatique. </li> 
					</ul>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>L’utilisation </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>Pour un emploi direct ou faisant appel à un mandataire agréé. </li> 
					</ul>
					<ul>
						<li>Le particulier remplit les documents envoyés par le Centre national du CESU et les renvoie avec un RIB pour le prélèvement des cotisations sociales.</li>
						<li>Il reçoit du Centre national un carnet de dix volets sociaux pour déclarer le salarié. Ce dernier recevra des bordereaux de ses titres à son nom et portant son numéro de compte bancaire, à joindre lors d’une demande d’encaissement.</li>
						<li>Le particulier paye son salarié avec un ou plusieurs CESU préfinancés qu’il peut compléter avec des espèces, chèque….</li>
						<li>Il envoie le volet social au Centre national dans les 15 jours suivant le paiement ou à la fin du mois </li>
					</ul>
					<p>Pour rémunérer par l’intermédiaire d’un prestataire de service. </p>
					<ul>
						<li>Aucune déclaration à faire au Centre national.</li>
						<li>Il paie le prestataire en CESU. </li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>LE CESU Tiers Payant</em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>Le décret N° 2013-604 du 9 juillet 2013 simplifi e le paiement des cotisations sociales.</p>
					<p>Il autorise <b>les départements volontaires </b>(pour l’instant au nombre de 2, la Gironde et les Bouches-duRhône) à les régler au centre national CESU directement à la place des employeurs.</p>
					<p>C’est notamment le cas en faveur des particuliers employeurs dans le cadre de l’APA, allocation personnalisée d’autonomie ou la prestation de compensation du handicap (PCH)</p>
					<p>Pour plus d’information: <a target="_blank" href="http://www.cesu.urssaf.fr">www.cesu.urssaf.fr</a> <a href="tel:0-820-00">Tel: 0 820 00 CESU </a> ou <a target="_blank" href="tel:0-820-00-23-78">0 820 00 23 78 </a> (n° indigo 0,12 € TTC/min)</p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>








