		<div class="row">
		  	<div class="col-sm-12 titre-FT">La couverture maladie universelle (CMU)</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>Il faut distinguer deux dispositifs.<br>La CMU de base (couverture à 70 %)<br> La CMUC (mutuelle)   </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LA CMU DE BASE  </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Définition </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>La CMU est un dispositif de protection sociale ouvert à toute personne n’ayant pas de couverture sociale. Elle est également ouverte aux étrangers en situation régulière.</p>
					<p>La CMU est gratuite si les ressources imposables du foyer sont égales ou inférieures à un plafond fixé au 1er octobre 2014 à 9.601 euros par an et par foyer fiscal. Si les ressources dépassent ce plafond, la cotisation qui est due s’élève à 8% du montant des revenus dépassant ce plafond.</p>
					<p>Le bénéficiaire de la CMU a droit aux mêmes prestations en nature que tous les assurés sociaux au régime général. La CMU de base ne dispense pas de l’avance des frais ni du paiement du ticket modérateur.</p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Conditions d’accès</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<ul>
						<li>Ne pas avoir de couverture sociale. </li>
						<li>Justifier d’un domicile.</li>
						<li>Résider depuis au moins 3 mois en France sauf pour les lycéens, les étrangers demandeurs d’asile ou ayant le statut de réfugié.</li>
						<li>Pour les personnes de nationalité étrangère, montrer un titre de séjour ou une demande de renouvellement, une attestation de demande pour asile.</li>
					</ul>
					<div class="col-sm-12 wrapper-savoir">
						<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
						<p>sont exclues de la CMU de base toutes les personnes en situation irrégulière sur le territoire français n’ayant entamé aucune démarche de régularisation. Ces dernières peuvent bénéficier de l’AME sous certaines conditions. <button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="protection-etrangers">Voir Protection sociale des étrangers</button></p>
					</div>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Ouverture des droits</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>L’effet de la demande est immédiat à compter du dépôt si le dossier est complet. Elle peut être rétroactive dans certains cas 2 mois en cas d’hospitalisation ou soins urgents.</p>
					<p>Le dossier «demande d’affiliation à la CMU de base» est à retirer à la CPAM de la résidence du patient. La demande est renouvelable chaque année. </p>
					<p>Pour les documents à joindre au dossier. <button data-dismiss="modal" ui-sref="pieces-a-joindre" class="btn btn-default btn-PAJ">Pièces à joindre</button></p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LA CMU COMPLÉMENTAIRE </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>Définition </em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>La CMUC est une complémentaire santé gratuite accessible sous condition de ressources. Elle permet l’accès aux soins de ville, et aux soins hospitaliers sans dépense à charge et sans avance de frais (tiers payant) pour les:</p>
					<ul>
						<li>soins de ville: consultation et prescriptions,</li>
						<li>soins hospitaliers, forfait hospitalier,</li>
						<li>dépassements tarifaires (prothèse dentaire ou optique).</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse5=true"><em>Conditions d’accès </em></h6>
				<div class="wrapper-reponse" ng-show="reponse5">
					<ul>
						<li>Justifier d’un domicile.</li>
						<li>Les ressources ne doivent pas dépasser un certain plafond qui varie selon la composition du foyer (assuré et ses ayants droit): 720 euros mensuels (1er juillet 2014) pour une personne seule. Prise en compte des ressources des 12 mois précédant la demande.</li>
						<li>Se renseigner auprès de la caisse de SS pour les barèmes.</li>
					</ul>
					<div class="col-sm-12 wrapper-savoir">
						<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
						<p class="italic"> les SDF doivent élire domicile auprès d’un CCAS ou d’une association agréée. Contacter la mairie de résidence.</p>
					</div>
					<div class="col-sm-12 wrapper-savoir">
						<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
						<p class="italic">les étudiants qui ne sont plus déclarés sur la fiche d’imposition de leurs parents peuvent bénéficier de la CMUC ou de l’aide à la mutuelle de la CPAM sous condition de ressources. <button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="etudiants-ft">Voir Etudiants</button></p>
					</div>
					<button  class="btn btn-default" ng-click="reponse5=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse6=true"><em>Ouverture des droits</em></h6>
				<div class="wrapper-reponse" ng-show="reponse6">
					<p>Les dossiers de demande d’affiliation sont à retirer à la caisse de SS de résidence du patient (CPAM, MSA…). Pièces à joindre p.118-119 </p>
					<p>Les droits prennent effet au premier jour du mois suivant et sont valides pendant 1 an. </p>
					<p>Exceptionnellement, ils peuvent être rétroactifs notamment en cas de situation sanitaire nécessitant des soins non urgents mais pressants (échographie d’une femme enceinte, soins d’une carie). Vous pouvez appuyer la demande par une <button data-dismiss="modal" ui-sref="105" class="btn btn-default btn-LT">Lettre type</button></p>
					<div class="col-sm-12 ">
						<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">A NOTER:</span> le contrat d’insertion est un contrat en deux parties. Une fois rédigé et signé par le patient et son conseiller, chacun doit le respecter. Dans le cas contraire, il peut y avoir rupture partielle ou totale du RSA.<br> Vérifiez avec votre patient que les conditions de son contrat d’insertion soient bien adaptées à son état physique et psychologique: est-il capable d’effectuer les démarches exigées? Dans le cas contraire, vous pouvez adresser un courrier soit à l’instructeur du RSA, afin que le contrat puisse correspondre à ses capacités.<br> Par ailleurs, les contrats d’insertion du RSA peuvent consister à se faire soigner (volet santé). Exemple: alcoolisme, dépression qui font frein à l’insertion par l’emploi. <button data-dismiss="modal" ui-sref="106" class="btn btn-default btn-LT">Lettre type</button>
						</p>
					</div>
					<button  class="btn btn-default" ng-click="reponse6=false;">FERMER</button> 
				</div>
			 </div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">L’AIDE À LA COMPLÉMENTAIRE DE LA CPAM </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse">
					<p>En cas de refus de CMUC pour ressources supérieures au plafond, la CPAM peut proposer, au vu des ressources déclarées, une aide à l’acquisition d’une mutuelle. </p>
					<ul class="liste-reponse"> 
						<li><span class="glyphicon glyphicon-triangle-right triangle-FT"></span> Le patient reçoit en même temps la proposition d’aide et le refus de CMUC. </li> 
						<li><span class="glyphicon glyphicon-triangle-right triangle-FT"></span> Pour l’obtenir, il faut: avoir des ressources n’excédant pas de 35% le seuil d’accès à la CMU-C au 1er juillet 2014, soit pour une personne 973 euros mensuels (11.670 euros par an). </li> 
						<li><span class="glyphicon glyphicon-triangle-right triangle-FT"></span> Cette aide varie de 100 € à 550 €, selon l’âge du bénéficiaire. L’aide ne peut toutefois pas excéder le montant de la cotisation ou de la prime. La moyenne se situe autour de 200 euros annuels pour les assurés âgés de 16 à 49 ans.</li> 
					</ul>
					<p><b>Recours</b></p>
					<p>En cas de décision contestable, de refus d’octroi, il est possible de contester la décision, dans les deux mois, sur papier libre auprès de la Commission départementale d’aide sociale. </p>
				</div>
			 </div>
		</div>


