		<div class="row">
		  	<div class="col-sm-12 titre-FT">Les complémentaires santé</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Les mutuelles sont des groupements à but non lucratif qui garantissent les remboursements du ticket modérateur et les frais médicaux importants. Les plafonds de remboursement varient selon les cotisations que le patient a choisies." </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES MUTUELLES</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Garanties modulaires</em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>Très souvent, les mutuelles proposent différentes formules garantissant des prestations allant de 100 % du tarif de convention (tiers payant) jusqu’à des niveaux de garanti es permettant de faire face aux dépassements d’honoraires. Les grandes différences entre mutuelles concernent les garanties pour tout ce qui touche aux frais dentaires, à l’optique ou à l’orthopédie et à la durée de prise en charge du forfait journalier hospitalier.</p>
					<ul>
						<li>Hospitalisation chirurgicale ou médicale, radiographies, investigations, traitements spéciaux: les remboursements sont variables</li>
						<li>Stomatologie, soins et prothèses dentaires</li>
						<li>Optique</li>
						<li>Orthopédie, prothèse</li>
						<li>Frais médicaux</li>
						<li>Pharmacie</li>
						<li>Médecine de ville</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>La prise en charge du ticket modérateur peut s’effectuer de deux façons</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p><b>1. </b>L’assuré règle directement les frais et la mutuelle le rembourse sur justification des dépenses après le remboursement par l’assurance maladie.</p>
					<p><b>2. L’assuré est dispensé de l’avance des frais en raison d’une convention passée entre le groupement et l’établissement ou le praticien concerné.</b></p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>La mutuelle peut également rembourser:</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<ul>
						<li>des dépassements de tarifs, s’ils ne sont pas contraires au code de déontologie,</li>
						<li>des prestations supplémentaires en nature ou en espèces: chambre particulière, allocation maternité, allocation convalescence...</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>La CMUC et l’aide à la complémentaire de la CPAM</em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<ul>
						<li><button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="CMU">Voir CMU</button></li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES SOCIÉTÉS D’ASSURANCE </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse">
					<p>La couverture sociale complémentaire peut être également assumée par une compagnie d’assurance. Les contrats proposés par ces sociétés peuvent être soit des contrats individuels, soit des contrats d’assurance groupe (société).</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">certaines assurances n’ont pas signé de convention avec certains hôpitaux. Dans ce cas, on demandera au patient de faire l’avance de frais. Conseillez à votre patient de contacter son assurance pour mettre en place, éventuellement, une dérogation.</p>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 ">
				<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> Certaines sociétés d’assurances ne couvrent pas les séjours en centre de postcure pour dépendants alcooliques et toxicomanes.<br> Dans le cadre de soins de cette nature et avant de procéder à une orientation thérapeutique impliquant un séjour en postcure, il est utile de se renseigner auprès de sa complémentaire santé.<br> De fait, il est prudent de conseiller à votre patient de ne souscrire à un contrat d’assurance ou à une mutuelle qu’à la condition que ce type de prise en charge soit clairement stipulé.
				</p>
			</div>
		</div>



