		<div class="row">
		  	<div class="col-sm-12 titre-FT">Conges particuliers</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LE CONGÉ SABBATIQUE</h3>
		 	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
				<p>C’est un congé d’une durée de 6 à 11 mois. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Conditions </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>Le salarié doit justifier de: </p>
					<ul>
						<li>36 mois d’ancienneté dans l’entreprise</li>
						<li>6 années d’activité professionnelle sans avoir bénéficié d’un congé sabbatique, d’un congé pour création d’entreprise ou d’un congé de formation d’au moins 6 mois.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Formalités</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<ul>
						<li>Envoyer à l’employeur une lettre recommandée avec accusé de réception ou une lettre remise en main propre contre décharge, au moins 3 mois à l’avance, en indiquant la date de départ et la durée du congé. Le salarié n’a pas à motiver sa demande.</li>
						<li>L’employeur informe le salarié par lettre recommandée avec accusé de réception, soit de son accord, soit du report du congé, soit de son refus, qui doit être motivé. L’accord est réputé acquis à défaut de réponse dans les 30 jours suivant la présentation de la lettre du salarié.</li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">Un refus peut être contesté devant le conseil de prud’hommes dans les 15 jours qui suivent la réception de la lettre de l’employeur.</p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Effets du contrat</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<ul>
						<li>Le contrat de travail est suspendu. À l’issue du congé, le salarié retrouve son précédent emploi ou un emploi similaire avec un salaire au moins équivalent.</li>
						<li>Le salarié conserve le bénéfice des prestations en nature de la SS.</li>
						<li>Il peut exercer une activité salariée.</li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">Sauf dispositions conventionnelles plus favorables, la rémunération du salarié n’est pas maintenue pendant un congé sabbatique. Le salarié peut toutefois utiliser les droits acquis sur son <b>compte épargne-temps</b> pour «financer» son congé sabbatique.</p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LE COMPTE EPARGNE-TEMPS</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>Qu’est-ce que c’est? </em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>Le compte épargne-temps (CET) permet aux salariés d’accumuler des jours de congé rémunérés ou une épargne en argent. Mis en place par convention ou accord collectif, le CET est alimenté par des jours de congé ou des sommes diverses. Le salarié peut l’utiliser soit pour percevoir une rémunération pendant des périodes d’inactivité, soit pour bénéficier d’une rémunération immédiate ou différée.</p>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse5=true"><em>Alimentation en temps ou en argent?</em></h6>
				<div class="wrapper-reponse" ng-show="reponse5">
					<p>Le compte épargne-temps peut être crédité de jours de congé ou de repos et/ou de sommes diverses. Pour que le CET puisse «fonctionner», l’accord doit évidemment fixer la règle de conversion applicable pour transformer du temps en argent et inversement.</p>
					<p>Conditions de mise en place au sein de l’entreprise: se renseigner auprès de la Direction départementale du travail et de la formation professionnelle.</p>
					<button  class="btn btn-default" ng-click="reponse5=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LE CONGÉ DE PRESENCE PARENTALE </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse6=true"><em>Qu’est-ce que c’est? </em></h6>
				<div class="wrapper-reponse" ng-show="reponse6">
					<p>Le congé de présence parentale permet à un parent de s’occuper d’un enfant souffrant de pathologies importantes pour l’assister pendant une période qui ne peut excéder 310 jours dans les 3 ans pendant lesquels la possibilité lui est offerte.</p>
					<p>Ce congé  prive le salarié de ses droits à son salaire ou à ses allocations chômage mais lui ouvre le droit au versement d’une AJPP, Allocation Journalière de Présence Parentale après accord du médecin conseil de la caisse CPAM du demandeur sous réserve d’un certificat médical établi par le médecin traitant de l’enfant établissant la nécessité d’une telle assistance.</p>
					<p>Cette allocation versée, pendant les 310 jours que dure le congé de présence parental s’élève à: 49,65 euros par jour pour un parent célibataire et 41,79 euros pour un couple avec enfant.</p>
					<p>Le tout sous conditi ons de ressources. Voir  <a href="http://www.caf.fr">www.caf.fr</a></p>
					<button  class="btn btn-default" ng-click="reponse6=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LE CONGÉ DE SOLIDARITE FAMILIALE</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse7=true"><em>Qu’est-ce que c’est? </em></h6>
				<div class="wrapper-reponse" ng-show="reponse7">
					<p>Le congé de solidarité permet à tout salarié de s’absenter pour assister un proche souffrant d’une pathologie mettant en jeu le pronostic vital. Il n’y a pas de rémunération prévue pendant la suspension du contrat de travail, sauf dispositions conventionnelles plus favorables. Durée: 3 mois maximum, renouvelable une fois. Avec l’accord de l’employeur, ce congé peut être transformé en période à temps partiel.</p>
					<p>Le tout sous conditions de ressources. Voir site de la <a target="_blank" href="http://www.caf.fr">www.caf.fr</a></p>
					<button  class="btn btn-default" ng-click="reponse7=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse8=true"><em>Formalités</em></h6>
				<div class="wrapper-reponse" ng-show="reponse8">
					<p>Envoyer à l’employeur une lettre recommandée avec accusé de récepti on ou une lettre remise en main propre contre décharge, au moins 15 jours à l’avance, accompagnée d’un certificat médical attestant que le proche souffre effectivement d’une pathologie risquant d’entraîner sa dispariti on.</p>
					<p>Ce congé est de droit: il ne peut être ni reporté, ni refusé. En cas d’urgence absolue constatée par écrit par le médecin qui a établi le certificat médical, le congé peut débuter dès réception (ou remise) de la lettre par l’employeur</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic"> De nouvelles dispositions prévoient le versement par l’assurance maladie de «l’allocation journalière d’accompagnement à domicile d’une personne en fin de vie» Ce droit est ouvert aux salariés ayant droit au congé de solidarité familiale ou ayant demandé une réducti on du temps de travail, aux demandeurs d’emploi rémunérés, aux non-salariés et professions libérales sous réserve:</p>
					<ul>
						<li>d’être admissible aux IJ de la SS</li>
						<li>d’avoir cessé de rechercher un emploi</li>
					</ul>
					<p>Une allocation d’un montant de <b>55,15 euros brut/ jour (au 1er janvier 2015)</b> est versée pendant 21 jours maximum</p>
					<p>En cas de travail à temps partiel, elle est réduite à <b>27,57 euros/jour</b> pendant 42 jours. La durée d’indemnisation peut être fractionnée en plusieurs fois.</p>
					<p>Se renseigner auprès de sa caisse et consulter le site pour la demande de formulaire en ligne.</p>
					<button  class="btn btn-default" ng-click="reponse8=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LE CONGÉ PARENTAL D’ÉDUCATION (CPE)</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse9=true"><em>Qu’est-ce que c’est? </em></h6>
				<div class="wrapper-reponse" ng-show="reponse9">
					<p>À l’occasion de la naissance (et jusqu’à ses 3 ans) ou de l’adoption d’un enfant de moins de 16 ans, tout(e) salarié(e) peut bénéficier d’un congé parental d’éducation lui permettant d’interrompre ou de réduire son activité professionnelle pour élever cet enfant. Le congé parental d’éducation n’est pas rémunéré.</p>
					<ul>
						<li>En cas d’adoption d’un enfant de moins de 3 ans: le congé prend fin à l’issue d’un délai de 3 ans, </li>
						<li>En cas d’adoption d’un enfant âgé de 3 à 16 ans: le congé parental et la période d’activité à temps partiel ne peuvent excéder 1 an à compter de l’arrivée de l’enfant au foyer.</li>
					</ul>
					<p>Attention, à partir du 1er janvier 2015, pour les enfants nés ou adoptés à partir de cette date, le congé parental sera à partager entre la mère et le père. L’objectif de la loi est de favoriser l’égalité homme/ femme, de permettre à la femme d’être coupée moins longtemps du monde du travail et de rapprocher le père de sa vie de famille. </p>
					<p>Pour un premier enfant, 6 mois de prestations s’ajouteront aux 6 premiers mois si le père participe aussi au congé parental. </p>
					<p>Pour les enfants suivants, 2 ans et demi d’allocations seront alloués au même parent seulement si c’est l’autre parent qui bénéficie du congé parental pour les 6 mois supplémentaires.</p>
					<p>La prestati on partagée d’éducation de l’enfant (ex- Complément de libre choix d’activité): Prestation sous conditions de revenus payée par la CAF en cas de cessation d’activité pour la naissance d’un enfant. Cette prestation d’un montant de 352 euros en cas de cessation complète de travail, et 252, 46 euros en cas de réduction d’activité de 50%.</p>
					<button  class="btn btn-default" ng-click="reponse9=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse10=true"><em>Formalités</em></h6>
				<div class="wrapper-reponse" ng-show="reponse10">
					<p>Envoyer à son employeur une lettre recommandée avec accusé de réception ou une lettre remise en main propre contre décharge précisant le point de départ et la durée du congé. Cette demande doit être faite soit un mois avant la fin du <b>congé maternité</b> ou de <b>l’adoption</b>; soit deux mois au moins avant le début du congé parental ou de l’activité à temps partiel.</p>
					<button  class="btn btn-default" ng-click="reponse10=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse11=true"><em>Durée</em></h6>
				<div class="wrapper-reponse" ng-show="reponse11">
					<p>Le CPE est un congé non rémunéré d’un an renouvelable deux fois.</p>
					<ul>
						<li>En cas de maladie, de handicap ou d’accident grave de l’enfant, il peut être prolongé d’un an. Le CPE peut être pris à temps complet ou à temps partiel par le père ou la mère.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse11=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse12=true"><em>Effets sur le contrat</em></h6>
				<div class="wrapper-reponse" ng-show="reponse12">
					<p>Durant le CPE, la couverture sociale est maintenue.</p>
					<p>Le contrat de travail est suspendu.</p>
					<p>À la fin du CPE, le salarié est assuré de retrouver son emploi ou un emploi similaire avec un salaire au moins équivalent.</p>
					<button  class="btn btn-default" ng-click="reponse12=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LE CONGÉ OU TEMPS PARTIEL POUR CRÉATION D’ENTREPRISE </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse13=true"><em>Conditions  </em></h6>
				<div class="wrapper-reponse" ng-show="reponse13">
					<p>Ce congé donne le temps au salarié de créer son entreprise. Il n’est pas rémunéré sauf si le salarié utilise ses congés payés ou son compte épargne-temps. Pour avoir droit à ce congé, il faut:</p>
					<ul>
						<li>une ancienneté de 24 mois consécutifs ou non dans l’entreprise. </li>
					</ul>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> : il ne faut pas être salarié pendant toute la durée du congé
							</p>
						</div>
					</div>
					<button  class="btn btn-default" ng-click="reponse13=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse14=true"><em>Durée </em></h6>
				<div class="wrapper-reponse" ng-show="reponse14">
					<p>Ce congé a une durée initiale d’un an. Il peut être d’un an supplémentaire. Dans ce cas, le salarié doit informer son employeur, par lettre recommandée avec AR, au moins deux mois avant le terme de la première année. </p>
					<p>Par ailleurs, il est également possible de transformer, provisoirement, un temps plein en temps partiel. </p>
					<button  class="btn btn-default" ng-click="reponse14=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse15=true"><em>Formalité </em></h6>
				<div class="wrapper-reponse" ng-show="reponse15">
					<p>Envoyer à son employeur deux mois avant la date du congé ou de réduction du temps de travail, une lettre recommandée avec accusé de réception ou une lettre remise en main propre contre décharge précisant la date de départ et la durée envisagée ainsi que l’activité de l’entreprise créée ou reprise. </p>
					<p>En l’absence de réponse de l’employeur dans un délai de trente jours, son accord est réputé acquis.</p>
					<p>Il peut reporter la date de départ en congé de 6 mois, notamment dans les entreprises de + 200 salariés si le quota de temps partiels pour les mêmes raisons, soit 2% de l’effectif, est dépassé.  </p>
					<p>Il peut aussi refuser le congé dans le cas des entreprises de  moins de 200 salariés si l’accord donné risquerait d’entraver la bonne marche de l’entreprise. </p>
					<p>Pour toute information complémentaire, consulter le site: <a target="_blank" href="http://www.avis-droit-social.net/conge_creation_entreprise.php">www.avis-droit-social.net/conge_creation_entreprise.php</a>  </p>
					<button  class="btn btn-default" ng-click="reponse15=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES CONGÉS POUR ÉVÉNEMENTS FAMILIAUX </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse16=true"><em>Qu’est-ce que c’est? </em></h6>
				<div class="wrapper-reponse" ng-show="reponse16">
					<p>Le salarié peut s’absenter pendant une durée de 1 à 4 jours, pour une naissance, un mariage ou un décès. Ces absences sont rémunérées.</p>
					<button  class="btn btn-default" ng-click="reponse16=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse17=true"><em>Quels congés pour quelle durée?</em></h6>
				<div class="wrapper-reponse" ng-show="reponse17">
					<ul>
						<li>Naissance ou adoption (3 jours) <b>Cumulables avec le congé de paternité ou d’adoption mais pas avec le congé maternité.</b></li>
						<li>Mariage, remariage du salarié (4 jours) ou de son enfant (1 jour) et <b>4 jours pour conclusion d’un PACS (loi du 4 août 2014)</b></li>
						<li>Décès du conjoint, d’un enfant (2 jours), du père, de la mère, du (beau-) frère ou de la (belle-) sœur (1 jour)</li>
					</ul>
					<p>La convention collective applicable à l’entreprise peut prévoir des jours de congé supplémentaires.</p>
					<button  class="btn btn-default" ng-click="reponse17=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse18=true"><em>Formalités</em></h6>
				<div class="wrapper-reponse" ng-show="reponse18">
					<p>Pour bénéfi cier de l’autorisation d’absence, à la demande d’absence adressée à l’employeur, doit être jointe une justification (certificat de naissance, de décès...) de l’événement.</p>
					<button  class="btn btn-default" ng-click="reponse18=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LE COMPTE PERSONNEL DE FORMATION (CPF) </h3>
		 	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
				<p>La réforme de la formation professionnelle conformément à la loi sur la formation, l’emploi et la démocratie sociale du 6 mars 2014, a introduit la notion de compte personnel de formation. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse19=true"><em>Conditions d’accès et procédures</em></h6>
				<div class="wrapper-reponse" ng-show="reponse19">
					<p>A partir du 1er janvier 2015, chaque salarié bénéficiera d’un compte personnel de formation qui le suivra pendant toute sa carrière professionnelle même pendant ses périodes de chômage.</p>
					<p>L’objectif du CPF est de permettre au salarié de progresser d’au moins un niveau de qualification tout au long de sa vie professionnelle.</p>
					<p>Ce compte est ouvert dès l’âge de 16 ans, 15 ans en cas de contrat d’apprentissage, dès l’entrée dans le monde du travail jusqu’à l’âge de la retraite.</p>
					<p>Ce compte demeure actif quelque soit le nombre d’emplois occupés ou de périodes de chômage traversées et ne peut être diminué ou débité sans l’autorisation du salarié. En cas de licenciement, même pour faute lourde, le compte du salarié reste créditeur.</p>
					<button  class="btn btn-default" ng-click="reponse19=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse20=true"><em>Comment ce compte est-il crédité?</em></h6>
				<div class="wrapper-reponse" ng-show="reponse20">
					<p>Dans le cadre d’un travail à temps complet, chaque fin d’année, pendant les 5 premières années, le compte personnel de formation de chaque salarié est crédité de 24 heures puis de 12 heures pendant les 3 années suivantes jusqu’à un total de 150 heures.</p>
					<p>Cela représente 30 heures de formation de plus que dans le cadre du DIF, le Droit individuel à la Formation, qui est devenu obsolète depuis la loi instituant le CPF et dont les heures acquises seront créditées sur le compte du CPF à partir du 1er janvier 2015.</p>
					<button  class="btn btn-default" ng-click="reponse20=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse21=true"><em>Pour quelles formations?</em></h6>
				<div class="wrapper-reponse" ng-show="reponse21">
					<p>Toutes les formations qualifiantes correspondantes aux besoins de l’économie sont éligibles. </p>
					<p>Sont aussi agrées celles permettant d’acquérir un socle de connaissance utiles dans la transmissions de compétences: maîtrise de la langue française, des connaissances scolaires basiques.</p>
					<p>Les formations complétant une procédure de VAE (en cours (Validation des acquis de l’expérience) peuvent aussi être mobilisées. </p>
					<p>Dans tous les cas, les formations devront figurer sur des listes élaborées par les branches professionnelles, interprofessionnelles ou les régions.</p>
					<p>Pour les formations pendant le temps de travail: un accord de l’entreprise est obligatoire mais la rémunération est maintenue. Hors travail, cet accord n’est pas nécessaire mais aucune rémunération sous forme d’allocation de formation n’est prévue.</p>
					<button  class="btn btn-default" ng-click="reponse21=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LE CONGÉ INDIVIDUEL DE FORMATION CIF </h3>
		 	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
				<p>Dans le cadre de la réforme professionnelle entrant en vigueur au 1er janvier 2015, le CIF sort renforcé en terme de moyens et d’objectifs.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse22=true"><em>Qu’est-ce que le CIF?</em></h6>
				<div class="wrapper-reponse" ng-show="reponse22">
					<p>Quelque soit la taille de l’entreprise, son effectif et la nature de son contrat de travail, tout salarié a droit à une formation et à un congé individuel d’une durée d’un an en cas de travail à temps plein ou de 1200 heures en cas de travail à temps partiel.</p>
					<button  class="btn btn-default" ng-click="reponse22=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse23=true"><em>Conditions</em></h6>
				<div class="wrapper-reponse" ng-show="reponse23">
					<ul class="liste-reponse"> 
							<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>Etre salarié depuis 24 mois dont 12 mois dans l’entreprise, 36 mois dans une TPE de moins de 10 salariés</li> 
							<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Déposer une demande auprès de l’employeur 60 jours avant le début du congé ou 120 jours dans le cas de demande de congé égal ou supérieur à 6 mois.  </li> 
						</ul>
					<button  class="btn btn-default" ng-click="reponse23=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse24=true"><em>La demande de congé de formation ne peut pas être refusée par l’employeur mais seulement diﬀérée:</em></h6>
				<div class="wrapper-reponse" ng-show="reponse24">
					<ul class="liste-reponse"> 
							<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>si l’employeur peut opposer au salarié un motif de service, en cas de risque de perturbation de la bonne marche de l’entreprise.</li> 
							<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> pour cause de départs simultanés de salariés dans les établissements de plus de 200 salariés, quand le nombre de salariés absents dépasse 2% de l’effectif global.   </li> 
						</ul>
						<p>La formation doit correspondre à un objectif précis:</p>
						<p>Promotion dans l’emploi occupé, adaptation à un nouvel emploi ou à de nouvelles techniques, préparation à une conversion, acquisition ou perfectionnement de connaissances.</p>
					<button  class="btn btn-default" ng-click="reponse24=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse25=true"><em>Rémunération</em></h6>
				<div class="wrapper-reponse" ng-show="reponse25">
					<p>La rémunération est maintenue si un organisme paritaire (FONGECIF ou OPCA dans certaines branches) prend en charge le CIF. Dans ce cas, l’employeur est remboursé par l’organisme financeur.</p>
					<p>Le contrat de travail est suspendu et le salarié conserve ses droits à la SS. La période de stage est comptabilisée pour le calcul de ses congés payés et il garde les avantages acquis au titre de son ancienneté dans l’emploi: primes, gratifications, 13ème mois.</p>
					<p>Le CIF est aussi ouvert aux salariés en CDD.</p>
					<p>Il leur faut justifier de 24 mois d’activité salarié dans les 5 dernières années dont 4 mois dans les 12 derniers mois. En cas d’accord des organismes paritaires (FONGECIF ou OPCA) la formation doit être suivie dans les 12 mois suivant la fin du CDD.</p>
					<button  class="btn btn-default" ng-click="reponse25=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse26=true"><em>Le congé de solidarité internationale</em></h6>
				<div class="wrapper-reponse" ng-show="reponse26">
					<p>Il permet à tout salarié de participer à une mission hors de France pour le compte d’une association humanitaire ou d’une organisation internationale.</p>
					<button  class="btn btn-default" ng-click="reponse26=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse27=true"><em>Conditions d’accès </em></h6>
				<div class="wrapper-reponse" ng-show="reponse27">
					<ul>
						<li>Justifier d’au moins 12 mois d’ancienneté consécutifs ou non.</li>
						<li>La mission doit se dérouler hors de France dans une association humanitaire. </li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse27=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse28=true"><em>Durée</em></h6>
				<div class="wrapper-reponse" ng-show="reponse28">
					<ul>
						<li>Maximum 6 mois. </li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse28=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse29=true"><em>Formalités</em></h6>
				<div class="wrapper-reponse" ng-show="reponse29">
					<ul>
						<li>Informer son employeur par lettre recommandée avec AR au moins un mois avant le départ, en précisant la date du départ et la durée du congé. </li>
						<li>Il peut refuser le congé s’il estime qu’il est préjudiciable à la bonne marche de l’entreprise. Dans ce cas, il doit le motiver et le notifier au salarié par lettre recommandée avec AR dans les 15 jours.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse29=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse30=true"><em>Effet sur le contrat</em></h6>
				<div class="wrapper-reponse" ng-show="reponse30">
					<ul>
						<li>Le contrat est suspendu. </li>
					</ul>
					<p>Pendant le congé, l’absence du salarié est considérée comme du travail effectif pour ce qui est des droits légaux et conventionnels liés à l’ancienneté.</p>
					<button  class="btn btn-default" ng-click="reponse30=false;">FERMER</button>
				</div>
			</div>
		</div>









