	<div class="row">
		  	<div class="col-sm-12 titre-FT">Conseil des prud’hommes</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Les conseils des prud’hommes sont élus par les salariés, les demandeurs d’emploi, les employeurs, tous les 5 ans. Institution paritaire unique en Europe, un conseil des prud’hommes peut être comparé à un tribunal où deux parties, les salariés et les employeurs, siègent afin de résoudre un conflit ou réparer un dommage lié au non-respect du Code du travail, d’un contrat de travail ou d’une conventi on collective." </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>La saisine du conseil se fait par lettre recommandée ou par dépôt au secrétariat-greffe du conseil avant un délai de forclusion dépendant de la nature du différend:</p>
					<p>Le point de départ du délai de forclusion est le jour où le plaignant a eu connaissance des faits pour lesquels il intente une action.</p>
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>Dans le cas d’un contrat de travail:</b> licenciement, sancti on disciplinaire, modification du contrat, mobilité du poste. Le délai de forclusion qui était de 5 jusqu’au 14 juin 2013 est ramené à 2 ans pour les procédures initiées à compter de cett e date.</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>Dans le cas des salaires:</b> heures légales et heures supplémentaires non réglées, primes non versées, etc. Le délai de saisine est de 3 ans maximum (toujours 5 ans pour les procédures lancées avant le 16 juin 2013</li> 
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> NOTA BENE</h4>
					<p class="italic">un reçu pour solde de tout compte signé doit être contesté dans les 6 mois. S’il n’ a pas été signé par le salarié, ce délai est porté à 3 ans</p>
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>Dans le cas de harcèlement moral ou sexuel et de discrimination,</b> le délai est porté à 5 ans. </li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>Dans les cas de dommages corporels</b> suite à accidents du travail, le délai est porté à 10 ans </li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>La saisine du conseil est redevenue gratuite depuis le décret de suppression de la contribution promulgué le 30 décembre 2013. Depuis le 1er octobre 2011, une contribution de 35 euros était en effet demandée pour chaque saisine sous peine d’irrecevabilité. La mesure n’aura duré que 27 mois. </li> 
					</ul>
					<p>La présence d’un avocat n’est pas obligatoire.</p>
					<p>Le demandeur peut se faire représenter par un mandataire: délégué syndical, conjoint, concubin ou pacsé, etc.</p>
					<p>Le conseil juge après examen des textes et des acquis, et en se fondant sur la jurisprudence.
					<br>Dans la majorité des cas, le jugement est rendu en moins d’un an.</p>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LA PROCÉDURE</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>La tentative de conciliation  </em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p>Elle est obligatoire, elle consiste à chercher une entente entre l’employeur et le salarié.</p>
					<p>La loi du 22 décembre 2010 crée la «convention de procédure participative» qui engage chaque partie à œuvrer de bonne foi au règlement du différend qui les oppose sans toutefois intervenir sur le fond.</p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Le jugement </em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>En cas d’échec de la conciliation, le jugement intervient. Chaque partie expose son point de vue devant quatre juges (deux employeurs et deux salariés).<br>Les décisions sont prises à la majorité des voix. </p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>Intervention du juge d’instance </em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>Si aucune majorité ne se dégage, l’affaire est ensuite réexaminée en départage avec les mêmes juges, plus le juge d’instance.</p>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse6=true"><em>L’appel </em></h6>
				<div class="wrapper-reponse" ng-show="reponse6">
					<p>Il constitue l’ultime recours.</p>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> : Seuls les litiges dont l’enjeu dépasse une certaine somme (4 000 € en 2015) peuvent faire l’objet d’un appel. 
							</p>
						</div>
					</div>
					<p>Le pourvoi en cassati on est toujours possible. </p>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> : Il existe une procédure d’urgence, le référé, qui traite les affaires ayant un caractère d’urgence. Un référé peut ordonner le paiement des salaires, la délivrance d’un certificat de travail ou la réintégration d’un représentant du personnel.
							</p>
						</div>
					</div>
					<button  class="btn btn-default" ng-click="reponse6=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse7=true"><em>Licenciement pour faute simple, grave ou lourde et indemnités </em></h6>
				<div class="wrapper-reponse" ng-show="reponse7">
					<p>Un salarié peut être licencié pour faute simple, grave ou lourde selon l’importance de la qualification retenue par l’employeur. Par contre, une faute légère, c’est-à-dire non susceptible d’entraver sérieusement le fonctionnement de l’entreprise, ne peut être sanctionnée par un licenciement. En cas de litige, c’est le juge qui peut qualifier le degré de gravité de la faute et, si nécessaire requalifier une faute simple en faute grave ou lourde.</p>
					<p>Le salarié licencié a droit à un préavis: l’employeur a obligation de verser le salaire et le salarié, en principe, a obligation de continuer son travail (sauf dispense expresse de la part de l’entreprise).</p>
					<p>Le salarié licencié perçoit alors, selon les conventions collectives de chaque branche d’activité:</p>
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>une indemnité de licenciement,</b> égale à 1/5ème de salaire mensuel brut par année de présence. La période de référence pour le calcul de l’indemnité comprend toute la période de travail jusqu’au moment de la rupture, préavis compris même s’il n’est pas effectué. Cette indemnité n’est pas payée en cas de licenciement pour faute grave.</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>une indemnité compensatrice de congés payés </b>égale à ce que le salarié aurait dû percevoir pour la totalité des congés qui lui sont dus à la date de rupture du contrat de travail. Elle est égale au plus au 10ème du salaire annuel de référence. Cette indemnité n’est pas versée en cas de licenciement pour faute lourde.</li> 
					</ul>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> : le versement de ces indemnités retarde d’autant le point de départ des indemnités chômage auquel le salarié peut prétendre. 
							</p>
						</div>
					</div>
					<button  class="btn btn-default" ng-click="reponse7=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse8=true"><em>L’Indemnité transactionnelle</em></h6>
				<div class="wrapper-reponse" ng-show="reponse8">
					<p>La transacti on permet aux parti es de mettre fin aux contestations nées ou à naître à l’occasion de la rupture du contrat de travail. Elle est la garantie pour l’employeur que le salarié ne contestera pas les termes du licenciement devant une autorité compétente, en l’occurrence, le conseil des Prudhommes.</p>
					<p>Son montant est négocié librement entre elles  et se situe à mi chemin entre les indemnités légales auxquelles le salarié à droit et les sommes auxquelles son employeur pourrait se trouver condamné à payer si le licenciement était considéré comme abusif. Pour en savoir plus: <a target="_blank" href="http://www.urssaf.fr">www.urssaf.fr.</a>  </p>
					<p>Cett e indemnité est exonérée de coti sati ons dans les limites applicables à l’indemnité de licenciement.</p>
					<button  class="btn btn-default" ng-click="reponse8=false;">FERMER</button>
				</div>
			</div>
		</div>



	