		<div class="row">
		  	<div class="col-sm-12 titre-FT">Couverture sociale des chômeurs</div>
		</div>
		<div class="row">
		 	 <div class="col-sm-12 citation">
		  		<p><em><blockquote>"Les chômeurs sont des personnes sans emploi, à la recherche d’un emploi et immédiatement disponibles. Selon leur situation antérieure (ex-salarié ou sans activité préalable), l’indemnisation et la protection sociale seront différentes."  <button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="droits-ss">Voir Droits au régime général de sécurité sociale</button></blockquote></em></p>
		 	 </div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">QUELLE PROTECTION SOCIALE POUR LES DEMANDEURS D’EMPLOI?</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Si le patient perçoit des allocations de chômage</em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p><b>Si le patient est demandeur d’emploi indemnisé par Le PÔLE-EMPLOI</b></p>
					<p>Il touche l’ARE, l’ASS ou l’AER et il a ouvert des droits au moment où il travaillait. Il conserve ses droits acquis en tant que salarié pour la maladie, la maternité, l’invalidité et le décès et ce, pendant toute la durée d’indemnisation par le PÔLE EMPLOI.</p>
					<p>Conditions et modalités d’ouverture des droits:<br> <button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="arret-maladie">Voir Arrêt de maladie</button> <button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="assurance-invalidite">Voir Assurance invalidité</button><button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="assurance-maternite">Voir Assurance maternité</button></p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Non assuré social avant d’être indemnisé</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p>Cas des étrangers titulaires de l’ATA: il a droit au remboursement des frais médicaux, pharmaceutiques ou d’hospitalisation selon la tarification en vigueur.<br> Se renseigner auprès de la CPAM</p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>S’il n’est plus indemnisé ou non indemnisable</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p><b>Si le patient est demandeur d’emploi et qu’il n’est pas indemnisé par le PÔLE-EMPLOI</b></p>
					<p>Il a tout de même ouvert des droits au moment où il travaillait. Il maintient ses droits acquis en tant que salarié pour la maladie, la maternité, l’invalidité et le décès pendant 12 mois pour les IJ de maladie, maternité, droit à l’invalidité et au capital décès.</p>
					<p> Ne pas oublier qu’il suffit de 60 heures de travail dans le mois pour avoir des droits ouverts au  remboursement des soins pendant 1 an. Il suffit donc de travailler au minimum 60 heures par an pour reconduire d’année en année son droit au remboursement des soins. </p>
					<p>Conditions et modalités d’ouverture des droits:<br> <button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="arret-maladie">Voir Arrêt de maladie</button> <button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="assurance-invalidite">Voir Assurance invalidité</button><button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="assurance-maternite">Voir Assurance maternité</button></p>
					<br>
					<p><b>Si le patient est demandeur d’emploi et qu’il n’est plus indemnisé par le PÔLE-EMPLOI</b></p>
					<p>Mais il a tout de même ouvert des droits au moment où il travaillait. Cas d’un bénéficiaire du RSA ayant perdu le droit à l’ASS, par exemple: il bénéficie des IJ de maladie, maternité, droit à l’invalidité et au capital décès pendant 12 mois après la fin de versement de ses indemnités. </p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>Non-assuré social avant d’être demandeur d’emploi </em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>N’étant plus ayant droit ou n’ayant jamais travaillé: il doit se rendre à la CPAM de domicile pour ouvrir des droits à la CMU (sous conditions) <button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="CMU">Voir CMU</button> </p>
					<h4 class="savoir" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p> les demandeurs d’emploi peuvent bénéficier d’une prolongation de leur couverture sociale pour le remboursement des soins seulement après avoir rempli une «déclaration sur l’honneur» formulaire S3137 à télécharger sur <a target="_blank" href="http://www.ameli.fr">www.ameli.fr</a>  ou à retirer auprès de la CPAM. </p>
					<h4 class="savoir" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p> en fonction de leurs ressources des 12 derniers mois, les demandeurs d’emplois peuvent bénéficier de la CMUC. <button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="CMU">Voir CMU</button></p>
					<h4 class="savoir" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p>tant que le patient est au chômage, il conserve ses droits au régime général (maladie, maternité et invalidité). Un arrêt de travail (AT) reporte ses droits au chômage d’une durée équivalente à l’AT. Prescrire un AT peut donc permettre au patient de ne pas être sans ressources après sa maladie et de conserver sa couverture sociale. Il peut même retrouver des ressources supérieures à celle qu’il percevait, en cas de baisse brutale de revenus suite à passage d’ARE en ASS.  </p>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			</div>
		</div>
		
<div class="modal  fade FT-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
	      <div class="modal-content wrapper-FT">
	        <div class="modal-body">
	          <ng-include src="fiche"></ng-include>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	        </div>
	    </div>
    </div>
</div>
