		<div class="row">
		  	<div class="col-sm-12 titre-FT">Cas de démissions legitimes</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"En principe, seules les personnes involontairement privées d’emploi (licenciement, CDD) peuvent bénéfi cier des allocations chômage. Toutefois, il existe des cas de démissions considérées comme légitimes par pôle emploi."</blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>E. Démission pour changement de résidence</em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<ul>
						<li>Le salarié a moins de 18 ans et part suivre ses parents ou son tuteur, quel que soit le motif de leur changement de résidence.</li>
						<li>Pour violences conjugales (à condition de justifier d’un dépôt de plainte auprès du procureur de la République).</li>
						<li>Il démissionne pour suivre son conjoint ou concubin s’il déménage pour motifs professionnels: mutation, changement d’employeur, reprise d’une activité après une période de chômage.</li>
						<li>Il démissionne pour suivre son futur conjoint. Attention: le mariage ou le PACS doit être célébré dans les 2 mois suivant le départ de l’entreprise.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>F. Démission de certains contrats de travail précaires</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p>Il démissionne d’un contrat précaire: CUI-CIE (en CDD), CUI-CAE, CA ou CIRMA pour exercer un emploi en CDD d’au moins 6 mois ou un contrat de travail en CDI ou pour suivre une action de formation qualifiante au sens des 4 premiers alinéas de l’article L. 900-3 du Code du travail.</p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>G. Démission en début de contrat </em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>Rupture pendant d’une période d’essai de 91 jours maximum, suite à un licenciement ou une fin de CDD n’ayant pas donné lieu à une inscription comme demandeur d’emploi.</p>
					<p>Si un salarié cotisant au chômage depuis 3 ans démissionne pour reprendre un CDI auquel l’employeur met fin en période d’essai, la démission est aussi considérée comme légitime. </p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>H. Démission en cas de non paiement des salaires</em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>Il démissionne d’une entreprise qui a cessé de payer ses salaires.</p>
					<p>Le salarié doit bénéficier par référé d’une provision d’argent correspondant aux arriérés de salaires</p>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse5=true"><em>I. Démission suite à une série d’actes délictueux</em></h6>
				<div class="wrapper-reponse" ng-show="reponse5">
					<p>Le salarié doit avoir porté plainte auprès du procureur de la république pour des actes graves lui ayant causé préjudice: violences physique, harcèlement moral, sexuel. </p>
					<p>Dans ce cas, le pôle Emploi considère le chômage involontaire.</p>
					<button  class="btn btn-default" ng-click="reponse5=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse6=true"><em>J. Démission en cas de contrat dit "de couple indivisible"</em></h6>
				<div class="wrapper-reponse" ng-show="reponse6">
					<p>À condition de justifier de 3 années conti nues de travail dans des entreprises relevant du régime d’assurance chômage, si le contrat de travail est dit “couple indivisible”, comme c’est souvent le cas des concierges, à la suite d’un licenciement ou d’un retrait, l’autre conjoint peut bénéficier du chômage. </p>
					<button  class="btn btn-default" ng-click="reponse6=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse7=true"><em>K. Rupture conventionnelle entre employé et employeur:</em></h6>
				<div class="wrapper-reponse" ng-show="reponse7">
					<p> elle ouvre également droit à l’allocation chômage.</p>
					<button  class="btn btn-default" ng-click="reponse7=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ><em>L. Démission pour conclure un contrat de service civique ou volontariat de solidarité internationale</em></h6>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse8=true"><em>M. Cas particulier: La clause de conscience</em></h6>
				<div class="wrapper-reponse" ng-show="reponse8">
					<p>La démission de journalistes qui se trouvent dans la situation dite de “clause de conscience” permet à celui qui s’en prévaut, par exemple en cas de changement de ligne éditoriale, de toucher des indemnités de licenciement. </p>
					<button  class="btn btn-default" ng-click="reponse8=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div >
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">le salarié dont la démission n’est pas considérée comme légitime peut demander un réexamen de sa situation après 121 jours de chômage. À condition de faire la preuve de sa recherche effective d’un emploi, la commission paritaire du PÔLE EMPLOI peut décider de lui attribuer les allocations d’assurance chômage à compter de son 5e mois. Étant donné les nombreux changements, consulter <a target="_blank" href="http://www.travail.gouv.fr">www.travail.gouv.fr</a>  <button  class="btn btn-default btn-fiche" data-dismiss="modal" ui-sref="conseil-prudhommes">Voir Conseil des prud'hommes</button></p>
				</div>
			</div>
		</div>


