	<div class="row">
		  	<div class="col-sm-12 titre-FT">Detenus et sortants de prison</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES DÉTENUS </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>La couverture sociale </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>Depuis la réforme des soins en prison par la loi du 18 janvier 1994, tous les détenus, sans exception, sont immédiatement couverts par les assurances maladie et maternité du régime général de la SS dès leur incarcération.</p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Qui peut en bénéficier?  </em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p>Les détenus et leurs ayants droits (sur la foi d’un certificat de présence délivré par l’administration pénitentiaire qu’ils feront valoir auprès de leur caisse) bénéficient des prestations en nature des assurances maladie-maternité durant toute la durée de leur incarcération.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic"> Les soins sont gratuits, les traitements dispensés par l’administration pénitentiaire et les frais d’hospitalisation intégralement pris en charge, y compris le forfait hospitalier.</p>
					<p class="italic">Si le détenu exerce une activité salariée pendant sa détention, il bénéficie des mêmes droits à la SS du régime salarié qu’un travailleur non détenu, à condition d’avoir effectué suffisamment d’heures de travail. <button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="couverture-social">Voir Couverture sociale</button></p>
					<p class="italic">Cette situation concerne souvent les condamnés qui bénéficient d’une mesure de semi-liberté (ou de placement à l’extérieur)</p>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> : Les détenus de nationalité étrangère en situation irrégulière ne peuvent bénéficier que pour eux-mêmes de ces prestations. Droit qui est interrompu dès la sortie d’incarcération.
							</p>
						</div>
					</div>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Les sortants de prison </em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>Lors de leur sortie, tous les détenus pris en charge par la sécurité sociale pendant leur détention bénéficient d’une prolongation de leurs droits pendant une durée d’un an.</p>
					<p>Ceux qui étaient déjà couverts par la SS du régime général en tant que salariés, retrouvent à l’issue de leur détention les droits qui étaient les leurs au moment de leur incarcération, notamment en ce qui concerne le droit aux prestations en espèces (indemnités journalières).</p>
					<p>A la fin de leur peine, les détenus relèvent des services d’un Service Pénitentiaire d’Insertion et de Probation (SPIP) qui est chargé de leur insertion à la sortie de prison: déclaration auprès de la SS, inscription au Pôle Emploi, Demande d’ ATA, Allocation Temporaire d’Attente et/ou RSA, recherche de domiciliation si nécessaire, orientation vers un foyer d’accueil spécialisé pour les détenus sans domicile fixe</p>
					<p>Les travailleurs sociaux des SPIPS sont des référents partenaires auxquels il est recommandé de s’adresser pour faire le point autour des droits que le détenu peut être amené à faire valoir.</p>
					<p>Ils disposent d’un bureau à l’intérieur des centres de détention et aident à la préparation de sortie des détenus.</p>
					<p>Renseignez-vous auprès des instances judiciaires ou auprès de votre patient.</p>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> : Le billet de sortie est la pièce indispensable à présenter pour avoir accès aux services du SPIP et à aux des services spécialisés des sortants de prison. En cas de perte écrire au greffe de la prison pour se faire délivrer une attestation valant duplicata. Cela peut prendre du temps et rendre impossible les premières démarches.
							</p>
						</div>
					</div>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>La couverture sociale </em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>Depuis la loi du 18 janvier 1994, au sein de chaque établissement pénitentiaire, les soins médicaux sont  assurés par une <b>UCSA, Unité de Consultation et de Soins Ambulatoires.</b> Un détachement de médecins publics hospitalier y assure la médecine générale, les soins dentaires et diverses autres spécialités. Les soins qui ne peuvent être assurés dans le cadre de l’UCSA, sont pris en charge par un hôpital de proximité.</p>
					<p>Concernant la prise en charge de la santé mentale, depuis 1986, les SMPR, Services Médico-Psychologiques Régionaux, ont été créés dans chaque centre pénitentiaire et constituent une unité psychiatrique rattachée à un secteur donné. Il existe 26 SMPR auxquels sont rattachés, de manière géographique, tous les autres établissements pénitentiaires.</p>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			</div>
		</div>

