	<div class="row">
		  	<div class="col-sm-12 titre-FT">Documents nécessaires en vue d’une hospitalisation</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">POUR L’ADMISSION À L’HÔPITAL, IL  FAUT SE MUNIR DE</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<ul>
						<li>La carte Vitale et l’attestation de droits valides (mise à jour possible dans les bornes).</li>
						<li>Ou la notification d’ouverture de droit pour les bénéficiaires de l’AME ou de la CMU. </li>
						<li>La carte d’assurance complémentaire ou de mutuelle.</li>
						<li>La prescription médicale.</li>
						<li>Carte d’identité, passeport ou livret de famille ou titre de séjour.</li>
						<li>Les justificatifs de domicile: quittance EDF, impôts locaux ou une simple déclaration sur l’honneur.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">SI LES DROITS NE SONT PAS À JOUR</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<p><b>Il est préférable d’aller à la CPAM pour les réactualiser. </b></p>
					<p>Sinon, il faudra présenter à l’hôpital les pièces suivantes.</p>
					<table class="table table-striped">
						<thead>
							<th></th>
							<th>Les pièces à joindre peuvent varier selon que l’on est dans les situations suivantes:</th>
						</thead>
						<tr>
							<td>Salarié</td>
							<td>Derniers bulletins de salaire (min 60 h dans les 30 derniers jours)</td>
						</tr>
						<tr>
							<td>Demandeur d’emploi </td>
							<td>Carte d’inscription au PÔLE EMPLOI+ attestation du dernier versement des allocations chômage</td>
						</tr>
						<tr>
							<td>Bénéficiaire du RSA</td>
							<td>Notification de décision et dernière attestation de versement</td>
						</tr>
						<tr>
							<td>Assuré volontaire</td>
							<td>Récépissé du dernier versement de cotisation</td>
						</tr>
						<tr>
							<td>Retraité ou invalide</td>
							<td>Titre de pension ou d’invalidité<br> Dernier talon de paiement<br> Coordonnées de la caisse d’affiliation </td>
						</tr>
						<tr>
							<td>En accident du travail ou maladie professionnelle</td>
							<td>Volet de la déclaration d’accident de travail ou de maladie professionnelle</td>
						</tr>
						<tr>
							<td>En congé de maladie</td>
							<td>Bordereau de paiement des IJ + dernier arrêt de travail</td>
						</tr>
						<tr>
							<td>Bénéficiaire de l’AAH</td>
							<td>Attestation de versement (CAF)</td>
						</tr>
						<tr>
							<td>Nationalité étrangère</td>
							<td>• Passeport ou titre de séjour <br>• La notification d’ouverture de droit pour les bénéficiaires de l’AME (depuis  2011 sous forme de carte plastifiée) <br>• Carte européenne d’assurance maladie (CEAM) validée, pour les ressortissants de l’Union européenne <br>• Formulaire SE 352 pour les ressortissants d’Algérie <br>• Formulaire de convention entre pays d’origine et la France <br>• Les étrangers hors de l’UE et les ressortissants sans formulaire sont redevables en totalité des frais de séjour. Une avance doit être versée après évaluation avant ou au plus tard à l’admission et le solde réglé le jour de la sortie.</td>
						</tr>
						<tr>
							<td>Travailleur non salarié</td>
							<td>Carte Vitale + attestation de paiement des cotisations RSI</td>
						</tr>
						<tr>
							<td>Étudiant</td>
							<td>Carte d’étudiant et carte tiers payant s’il en a une</td>
						</tr>
						<tr>
							<td>Lycéen de + de 16 ans</td>
							<td>Carte Vitale de la personne assurant + certificat de scolarité</td>
						</tr>
						<tr>
							<td>Femme enceinte</td>
							<td>Carnet de maternité </td>
						</tr>
					</table>
			</div>
		</div>

	