		<div class="row">
		  	<div class="col-sm-12 titre-FT">Droits au régime général de sécurité sociale</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 citation">
			  	<p><em><blockquote>"Le régime général de SS est le régime des salariés. Il donne droit à des <span style="color:red;">P</span>restations en <span style="color:red;">N</span>ature <span style="color:red;">PN</span> (remboursement des soins) et à des <span style="color:blue;">P</span>restations en <span style="color:blue;">E</span>spèces <span style="color:blue;">PE</span> (indemnités journalières pour maladie et maternité, pension d’invalidité, capital décès)."</blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<p>L’ouverture des droits dépend d’un minimum d’heures travaillées. Ces minima varient selon les prestations.<br><button data-dismiss="modal" class="btn btn-default btn-fiche" ui-sref="arret-maladie">Voir Arrêt de maladie</button><button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="assurance-maternite">Voir Assurance maternité</button><button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="assurance-invalidite">Voir Assurance invalidité</button>  Des conditions particulières sont exigibles pour chacune des prestations.  </p>
		  		<p>Une fois ouverts, les droits perdurent selon le schéma ci-dessous.</p>
		  		<img src="">
		  	</div>
		</div>
		