	<div class="row">
		  	<div class="col-sm-12 titre-FT"> Les étrangers en séjour temporaire en france</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Les étrangers de passage sur le territoire français peuvent bénéficier d’une couverture sociale selon leur pays d’origine. Pièces à joindre p.118 Le choix du praticien ou de l’établissement est libre, mais pour éviter les avances de frais et les longs délais de remboursement, une liste des médecins et hôpitaux agréés est à demander auprès du consulat ou de l’ambassade de France." </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Si le patient est ressortissant d’un pays membre de l’Espace économique européen </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p><b>Ensemble des 28 États de l’Union européenne + Islande, Liechtenstein, Norvège + Suisse, en séjour touristique en France:</b> la SS prendra en charge les soins sur la base tarifaire française. Pour cela, il faut se munir de la carte européenne d’assurance maladie (CEAM) (ex-formulaire E111) auprès de sa propre caisse d’assurance maladie</p>
					<p>Les territoires d’outre-mer et collectivités territoriales: seuls les TOM de la <b>Nouvelle-Calédonie</b> et de <b>Polynésie française </b> ont signé un accord de coordination avec la France.</p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Si le patient est ressortissant d’un pays tiers:</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p>Chaque convention ou accord est différent. Les durées maximales de détachement autorisées peuvent aller de six mois à trois ans.</p>
					<p><b>Ont signé une convention avec la France:</b> Algérie, Andorre, Bénin, Bosnie-Herzégovine, Cameroun, Canada, Cap-Vert, Congo, Côte-d’Ivoire, Croatie, ÉtatsUnis, Gabon, Inde, Israël, Jersey, Macédoine, Madagascar, Mali, Maroc, Mauritanie, Monaco, Niger, Pologne, Philippines, Québec, Rép. Slovaque, Rép. tchèque, Roumanie, Saint-Marin, Sénégal, Serbie, Slovénie, Togo, Tunisie et Turquie.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p  class="italic">les étrangers hors de l’UE et les ressortissants sans formulaire sont redevables en totalité des frais de séjour d’hospitalisation. Une avance doit être versée après évaluation avant ou au plus tard à l’admission et le solde réglé le jour de la sortie. Les délais de remboursement par les caisses locales des étrangers sont longs. Ces derniers peuvent néanmoins souscrire dans leur pays une assurance personnelle.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p  class="italic">sauf de rares exceptions (protocole franco-algérien, par exemple), les conventions bilatérales conclues entre le pays du patient et la SS française ne prévoient pas une prise en charge en France pour un séjour uniquement touristique.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">si le pays d’origine ne dispose pas du traitement médical, il arrive que la SS du pays d’origine demande la prise en charge à la CPAM mais ces cas sont exceptionnels et les démarches sont longues.</p>
					<p class="italic">En cas d’urgence, d’accident, le patient peut bénéficier de l’Aide médicale de l’État à titre humanitaire.<button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="protection-etrangers">Voir Protection sociale des étrangers</button> </p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			 </div>
		</div>
		
		


