	<div class="row">
		  	<div class="col-sm-12 titre-FT">L’expulsion du logement: prévention et procédure</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Votre patient a des impayés de loyer et de charges, et son propriétaire peut engager contre lui une procédure d’expulsion. Il est nécessaire d’insister auprès de votre patient pour qu’il contacte, dans les plus brefs délais, un travailleur social qui l’accompagnera dans toutes ses démarches." </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Prévention de l’expulsion: régler le problème financièrement</em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>Quel que soit le niveau d’endettement, conseillez à votre patient de prendre contact avec un travailleur social afin qu’il saisisse les différents dispositifs existants.</p>
					<p>Si le loyer ou les mensualités de prêts «sociaux» ne sont pas payés depuis deux mois ou plus, les aides de la CAF pour le logement peuvent être suspendues sur demande du propriétaire. </p>
					<p>C’est la CDAPL la Commission Départementale des Aides Publiques au Logement qui décide ou non du maintien du versement de l’APL qui statue sur les remises de dettes et qui recommande la saisine du FSL.</p>
					<p>L’assistante sociale de votre patient en avertissant la CAF, le propriétaire ou la banque, peut faciliter la mise en place d’un plan d’apurement des dettes, qui, s’il est respecté, permettra la reprise du paiement des allocations logement versées directement au propriétaire ou à la banque.</p>
					<p>Cependant si l’endettement est trop important, le <b>FSL</b> doit être saisi.</p>
					<p>La CAF peut également intervenir seule, mais il est bien préférable d’anticiper sur l’aptitude  de l’administration à s’autosaisir. L’assistante sociale est là pour ça.</p>
					<p><b>Le Fonds de solidarité au logement (FSL)</b> peut aider à apurer les dettes. Les aides sont dispensées sous forme de prêts ou de subventions. </p>
					<p>Si votre patient a obtenu son logement par l’intermédiaire du 1 % logement ou LOCAPASS, en remplissant les conditions pour obtenir la garantie «caution solidaire», alors cet organisme peut prendre en charge, dans la limite d’une période définie préalablement, les impayés de loyers. Dans ce cas, le patient doit contacter l’organisme avec qui il conviendra des modalités de remboursement.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">Pour tout renseignement concernant les droits des locataires et propriétaires, contacter l’ADIL. www.anil.org</p>
					<p><b>Concordat CAF:</b> Lorsque le FSL ne suffit pas à résorber la dette de loyer ou ne peut intervenir, la CAF dispose également d’un dispositif pour apurer les dettes dites «lourdes» dans le cadre des aides familiales. Cette aide permet de réduire les dettes de loyer de longue durée. Dans ce cas, le plan d’apurement est négocié entre l’allocataire, le bailleur et la CAF qui prennent chacun en charge un tiers de la dette. </p>
					<p>Un prêt peut être accordé pour financier le tiers du locataire et un remboursement proposé sur 48 mois. Un suivi social de la situation du locataire défaillant est alors assuré par les assistants sociaux de la CAF.</p>
					<p>Les conditions d’accès: le paiement du loyer doit être repris 3 mois avant la demande. Contacter l’assistante sociale de la CAF.</p>
					<p>En cas de litige avec le propriétaire sur des travaux ou de non-respect du bail. En premier lieu, il faut tenter de résoudre le conflit à l’amiable; si cela s’avère impossible, votre patient devra lui écrire ses griefs, de préférence par une lettre avec accusé de réception. En cas d’échec, le seul recours est d’aller en justice. Conseiller à votre patient de se renseigner auprès de l’ADIL.<a target="_blank" href="http://www.adil.org">www.adil.org</a> </p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">REGLEMENT DU PROBLÈME PAR VOIE JUDICIAIRE </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p><b>Les expulsions sont interdites entre le 1er novembre et le 15 mars:</b>  un locataire ne peut être expulsé, même si un jugement a été prononcé et lui a été signifié. </p>
					<p>Par contre, un locataire sans droit ni titre, un squatteur en somme, ne bénéficie pas de la trêve hivernale.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Votre patient doit savoir que:  </em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p><b>A. Le commandement délivré par un huissier</b> officialise le début de la procédure.</p>
					<p><b>Il indique:</b></p>
					<ul>
						<li>le délai dont dispose votre patient pour régulariser sa situation (souvent très court),</li>
						<li>la somme à payer.</li>
					</ul>
					<p><b>B. Le délai indiqué peut permettre:</b></p>
					<ul>
						<li>de vérifi er le bien-fondé de la créance,</li>
						<li>éventuellement de contester la créance et d’engager une opposition au commandement de payer,</li>
						<li>de saisir le FSL par l’intermédiaire d’une AS.</li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">l’interventi on du FSL au moment de l’expulsion est prévue par la loi du 31 mai 1990; le locataire expulsé ou menacé de l’être peut saisir le FSL.</p>
					<p><b>C. Si rien n’est fait </b></p>
					<p>Le propriétaire poursuit sa démarche et saisit le tribunal d’instance. La personne menacée d’expulsion est convoquée. L’assignati on à comparaître est suivie d’une lett re du préfet, informé obligatoirement par un huissier au moins deux mois avant la date d’audience. </p>
					<p>Il faut absolument s’y rendre: tout locataire de bonne foi a intérêt à se présenter et expliquer sa situati on, ses diffi  cultés, éventuellement les démarches entamées pour résoudre le problème.</p>
					<p>Au besoin, se faire représenter par un avocat ou un parent. Dans le cas contraire, seuls les arguments du propriétaire risquent d’être pris en compte.</p>
					<p><b>D. L’audience</b></p>
					<p>Elle permet de négocier:</p>
					<ul>
						<li>des délais au locataire sans que l’expulsion ne soit prononcée,</li>
						<li>des délais avec une clause résolutoire (si les modalités de remboursement ne sont pas respectées par le locataire, le contrat de location prend fin et le locataire doit donc quitter le logement). </li>
					</ul>
					<p><b>E. Le jugement et ses conséquences</b></p>
					<p>Le tribunal d’instance peut, après une ou plusieurs audiences: </p>
					<ul>
						<li>ordonner l’expulsion revêtue de la forme exécutoire,</li>
						<li>prévoir des délais pour quitter le logement,</li>
						<li>fixer une indemnité d’occupation,</li>
						<li>éventuellement condamner aux dépens, à des dommages-intérêts et autoriser le recours, si nécessaire, à la force publique. </li>
					</ul>
					<p><b>L’exécution du jugement</b> ne peut se faire pendant le délai de 2 mois suivant la signification du jugement.</p>
					<p><b>Le commandement d’avoir à libérer les lieux</b> est un document obligatoire que l’huissier est tenu d’envoyer au préfet. En étant ainsi informé des expulsions, celui-ci a la possibilité de faire jouer son droit de réservation pour faciliter le relogement des personnes jetées à la rue. </p>
					<p>Seul l’huissier peut procéder à l’expulsion proprement dite. <button  class="btn btn-default btn-fiche" data-dismiss="modal" ui-sref="huissiers">Voir Huissiers</button> </p>
					<p>Le locataire dispose de 2 mois pour quitter les lieux. </p>
					<p>En dernier ressort, un délai pour quitter les lieux peut être sollicité auprès du Juge de l’Exécuti on qui peut accorder des délais pouvant aller jusqu’à plusieurs mois, voire jusqu’à 3 ans maximum. La demande a plutôt intérêt à être dûment motivée et circonstanciée.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">si votre patient est absent ou refuse l’expulsion, l’huissier demande, par l’intermédiaire du préfet, le concours de la force publique. Si le préfet accepte la procédure, le patient sera informé par courrier. L’huissier se présente alors au domicile avec la police et procède à l’expulsion. </p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> NOTA BENE</h4>
					<p class="italic">Quand la personne à expulser souffre de gros problème de santé et qu’aucune solution de relogement n’a été trouvée, le concours de la force publique est généralement refusé par les autorités. </p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">L’EXPULSION</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>Pendant toute la procédure, sachant que l’expulsion, quelque soient les délais accordés, est inévitable, votre patient aura pris soin, avec le soutien de son assistante sociale, de déposer une demande de relogement dans le cadre de la loi DALO. La mise en œuvre de ce dispositif qui, du début de la demande au relogement proprement dit, prend, dans le meilleur des cas entre 6 et 12 mois, peut concourir à obtenir certains délais pour quitter les lieux devant le Juge de l’éxecution.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse6=true"><em>Relogement en urgence </em></h6>
				<div class="wrapper-reponse" ng-show="reponse6">
					<p>Le préfet a la possibilité d’intervenir directement auprès des organismes HLM ou des sociétés d’économie mixte spécialisées et conventionnées dans le logement social pour y placer les personnes en grande difficulté.</p>
					<p>La mairie peut aussi solliciter les dispositifs qui lui sont propres et reloger en hôtel les familles, surtout quand il y a des enfants. </p>
					<p>A Paris et Ile de France, sont ainsi sollicités en premier lieu le Pôle Famille et le PHRH, Pôle d’Hébergement et de Réservation hôtelière du Samu Social, pour les familles puis les SIAO, Service Intégré d’Action et d’Orientation –Pôle urgence et Pôle insertion-  qui sont plus lents à être mobilisés.</p>
					<p>Les personnes isolées, fortement précarisées en situation d’expulsion, n’ont souvent malheureusement comme seule ressource que d’appeler le 115.</p>
					<p>Si un de vos patients, isolé, se retrouve dans cette situation, notamment dans une grande ville, mettez le en contact avec une structure associative fortement identifiée pour la spécificité de son accueil au service des plus démunis, Emmaüs, Secours catholique, Armée du salut.</p>
					<p>Toutes structures qui pourront jouer un rôle de médiation avec les services de droit commun et suppléer à ses  défaillances.</p>
					<p>Enfin, écrire au préfet par l’intermédiaire d’une AS ou d’un élu de sa commune ; il intervient rarement, mais la démarche est à faire ou demander l’intervention d’un élu.</p>
					<p>Certaines communes se sont fait un devoir d’éviter toute expulsion. </p>
					<p>La présence d’un élu au moment de l’expulsion peut permettre une ultime négociation ou un relogement immédiat.<br>
						<button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="aides-logement">Voir Aides au logement</button> <button data-dismiss="modal" class="btn btn-default btn-fiche" ui-sref="huissiers">Voir huissiers</button> <button data-dismiss="modal" class="btn btn-default btn-fiche" ui-sref="surendettement">Voir Surendettement des familles et faillites familiales</button> <button data-dismiss="modal" class="btn btn-default btn-fiche" ui-sref="aide-juridictionnelle">Voir Aide juridictionnelle</button>
					</p>
					<ul>
						<li>Les expulsions sont interdites entre le 1er novembre et le 15 mars.</li>
						<li>Un locataire ne peut être expulsé sans qu’un jugement ait été prononcé et lui ait été signifié.</li>
						<li>L’exécution du jugement ne peut se faire dans le délai de 2 mois suivant la signification du jugement.</li>
						<li>Le commandement de libérer les lieux est un document obligatoire, que l’huissier est tenu d’envoyer au préfet.</li>
						<li>En étant informé des expulsions, celui-ci a la possibilité de faire jouer son droit de réservation pour faciliter le relogement des personnes ainsi jetées à la rue.</li>
						<li>Seul l’huissier peut procéder à l’expulsion proprement dite. </li>
						<li>Pour cela, il peut changer la serrure d’un logement en l’absence du locataire, à condition d’être en présence d’un commissaire de police accompagné d’un serrurier.</li>
						<li>Recommandez à votre patient de ne pas s’aviser de rentrer à nouveau dans le logement, car il pourrait alors être poursuivi pour “tentative d’effraction de domicile”.</li>
						<li>En cas d’opposition et de résistance à l’exécution de l’expulsion, l’huissier peut demander au préfet le concours de la force publique.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse6=false;">FERMER</button>
				</div>
			</div>
		</div>


