		<div class="row">
		  	<div class="col-sm-12 titre-FT">Handicap et prestations</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Depuis la loi du 11 février 2006, les Maisons départementales des personnes handicapées (MDPH), en remplacement des COTOREP, deviennent le guichet unique des décisions pour l’accès aux droits et aux prestations des personnes souffrant de handicaps (enfants et adultes jusqu’à 60 ans). Les dossiers sont à retirer dans la MDPH du département, à la CAF, au CCAS ou à l’Hôtel du Département. Pour connaître l’adresse <a target="_blank" href="http://www.handicap.gouv.fr">www.handicap.gouv.fr</a>"</blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES DIFFÉRENTES PRESTATIONS</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>Il y a plusieurs prestations correspondant à des dossiers distincts.</p>
					<ul>
						<li>L’AAH - allocation adulte handicapée </li>
						<li>L’AEEH - allocation d’éducation de l’enfant handicapé</li>
						<li>La PCH - prestation de compensation du handicap</li>
						<li>La carte d’invalidité</li>
						<li>La carte de stationnement</li>
						<li>La carte de priorité dans les transports</li>
						<li>La reconnaissance de la qualité de travailleurs handicapés et l’insertion professionnelle</li>
						<li>La scolarité</li>
						<li>L’orientation vers les établissements médico-sociaux</li>
					</ul>
					<p>Une fois les dossiers retournés complets, une équipe pluridisciplinaire instruit la ou les demandes. La CDAPH apprécie les conditions médicales et les conséquences du handicap sur la vie quotidienne de la personne.</p>
					<p>Selon la demande et selon la situation de la personne, les équipes peuvent venir à son domicile pour effectuer une évaluation. </p>
					<p>Si la décision est favorable, la personne est informée par courrier. Dans le principe une absence de réponse dans les 4 mois équivaut à un refus,  cependant l’importance du nombre de dossiers à traiter, fait que très souvent, ces délais d’instructions, notamment en Ile-de-France, ne sont pas tenus et les réponses souvent différées de plusieurs semaines voire de plusieurs mois.</p>
					<center> 
						<table style="background-color: moccasin;width: 70%;">
							<tbody>
								<thead >
									<th style="background-color: ;color: white;padding: 1rem;">Recours en cas de refus médical:</th>
								</thead>
								<tr>
									<td style="padding:1rem;">1. Recours amiable avec la MDPH et réexamen du dossier</td>
								</tr>
								<tr>
									<td style="padding:1rem;">2. TCI: tribunal de l’incapacité</td>
								</tr>
								<tr>
									<td style="padding:1rem;">3. Cour d’appel de l’incapacité</td>
								</tr>
								<tr>
									<td style="padding:1rem;">4. Cour de cassation</td>
								</tr>
								<thead>
									<th style="background-color: ;color: white;padding: 1rem;">Recours en cas de refus administratif:</th>
								</thead>
								<tr>
									<td style="padding:1rem;">1. Contentieux général de la SS</td>
								</tr>
								<tr>
									<td style="padding:1rem;">2. CRA: commission de recours amiable</td>
								</tr>
								<tr>
									<td style="padding:1rem;">3. TASS</td>
								</tr>
								<tr>
									<td style="padding:1rem;">4. Cour d’appel et cour de cassation</td>
								</tr>
							</tbody>
						</table>
					</center>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">CONDITIONS ET CARACTÉRISTIQUES  DES PRESTATIONS</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>AAH - allocation adulte handicapée </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>C’est une allocation pour les plus démunis.<button data-dismiss="modal" ui-sref="pieces-a-joindre" class="btn btn-default btn-PAJ">Pièces à joindre</button><br> Elle est versée par la CAF ou la MSA qui vérifie les conditions administratives et de ressources, après décision favorable de la CDAPH.</p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Conditions médicales appréciées par la CDAPH</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<ul>
						<li>Être reconnu à un taux de 80 % d’incapacité</li>
						<li>Être reconnu à un taux d’incapacité compris entre 50 % et 79 % et être dans l’incapacité de trouver un emploi du fait du handicap.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Conditions administratives appréciées par l’organisme payeur (CAF, MSA…)</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<ul>
						<li>Résider sur le territoire français.</li>
						<li>Être français ou ressortissant européen ou étranger en séjour régulier. Conditions particulières auprès de la CAF.</li>
						<li>Avoir plus de 20 ans et moins de 60 ans.</li>
						<li>Ne pas dépasser un certain plafond de ressources qui varie selon la composition du foyer.<br>(9605,40 euros pour une personne seule, 19210,80 euros pour un couple en décembre 2014).  </li>
						<li>Ne pas bénéficier d’une pension de vieillesse, de l’allocation personnalisée d’autonomie (APA).</li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic"> Cumul possible avec d’autres allocations. Se renseigner auprès de la CAF.</p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>Avantages associés de l’AAH</em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>Le complément de ressources (179,31 euros/mois au 1 septembre 2014) et la majoration pour vie autonome (104,77 euros/mois) sont des aides en espèces pour les bénéficiaires de l’AAH. Se renseigner auprès de la CAF pour les conditions.</p>
					<ul>
						<li>Affiliation gratuite à la SS. </li>
						<li>Les cartes (invalidité, stationnement, priorité transport) sont attribuées sous conditions et sur demande.</li>
						<li>Diminution de l’abonnement téléphonique.</li>
						<li>Affiliation à l’assurance vieillesse sous conditi ons de ressources pour les personnes ayant à charge une personne handicapée dont le taux d’incapacité dépasse 80 % et dont la CDAPH juge nécessaire le mainti en à domicile.</li>
						<li>En matière de transports, en Île-de-France, l’AAH ouvre droit à la carte Améthyste (coût de 24 euros annuel minimum en janvier 2015), mais pas à Solidarité transport. </li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse5=true"><em>Taux réduit et révision des droits</em></h6>
				<div class="wrapper-reponse" ng-show="reponse5">
					<ul>
						<li>Hospitalisation de plus de 60 jours (AAH réduite à 30%) mais pas de baisse s’il a des enfants ou ascendants à charge.</li>
						<li>Incarcération ou hébergement en Maison d’accueil spécialisé (MAS) supérieure à 60 jours: Réduction alignée sur l’hospitalisation: AAH à 30% (241,79 euros en déc. 2014).</li>
						<li>L’allocation peut être supprimée en cas de cumul avec d’autres revenus. </li>
						<li>Se renseigner auprès de la CAF.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse5=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse6=true"><em>AEEH - allocation d’éducation de l’enfant handicapé (ex-AES)</em></h6>
				<div class="wrapper-reponse" ng-show="reponse6">
					<p>C’est une aide à l’éducati on et aux soins qui dépend du taux d’incapacité de l’enfant. </p>
					<p>Elle est versée par la CAF ou MSA qui vérifie les conditions administratives et de ressources après décision favorable de la CDAPH. </p>
					<p>La demande, sur formulaire Cerfa N° 13788 01, et le certificat médical de l’enfant datant de moins de 3 mois, sur formulaire Cerfa 13878 01, doivent être adressés à la MDPH du lieu de domicile qui le transmett ra pour instructi on à la CDAPH.</p>
					<p>Sans réponse dans un délai de 4 mois, la demande est censée être rejetée, mais écrire un courrier recommandé à la MDPH pour connaître l’évolution du dossier (en Ile-de-France notamment, les traitements sont longs).</p>
					<button  class="btn btn-default" ng-click="reponse6=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse7=true"><em>PCH - prestation de compensation du handicap</em></h6>
				<div class="wrapper-reponse" ng-show="reponse7">
					<p>L’aide est modulable en fonction des ressources et varie selon le plan d’aide validé par la CDAPH. Elle est attribuée par le Conseil général. La durée de procédure peut atteindre 6 mois.</p>
					<button  class="btn btn-default" ng-click="reponse7=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse8=true"><em>Conditions à remplir:</em></h6>
				<div class="wrapper-reponse" ng-show="reponse8">
					<ul>
						<li>Résider en France.  </li>
						<li>Être âgé entre 20 et 60 ans: conditions spéciales pour les moins de 20 ans bénéficiaires de l’AEEH, et pour les plus de 60 ans s’ils exercent encore une activité professionnelle ou s’ils remplissaient les conditions avant l’âge limite. </li>
						<li>L’aide est variable en fonction du taux d’incapacité. </li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse8=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse9=true"><em>Aides en nature et en espèces. </em></h6>
				<div class="wrapper-reponse" ng-show="reponse9">
					<p><b>Les aides sont forfaitaires en fonction du taux d’incapacité: </b></p>
					<p><b>Aide humaine: </b>ce type d’aide implique une aide pour les actes essentiels de l’existence (manger, se laver…), pour permettre d’opérer une surveillance régulière de la personne concernée, pour faire face aux frais supplémentaires liés à l’exercice d’une activité professionnelle ou d’une fonction élective.</p>
					<p><b>Aide technique: </b>il s’agit d’une aide pour l’achat de matériel adapté au handicap soit en vue de l’aménagement du logement, soit pour l’acquisition ou l’entretien d’un animal tel que chien-guide, soit pour aménager un véhicule ou faire face aux surcoûts liés au transport, soit pour faire face à des charges spécifiques ou exceptionnelles.</p>
					<button  class="btn btn-default" ng-click="reponse9=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse10=true"><em>Les cartes </em></h6>
				<div class="wrapper-reponse" ng-show="reponse10">
					<p>Les cartes font l’objet de demandes particulières auprès des MDPH. Les conditions d’attribution dépendent du taux d’incapacité de la personne. On distingue:</p>
					<p><b>La carte d’invalidité:</b> il faut avoir au moins 80 % d’incapacité. Elle confère certains avantages:</p>
					<ul>
						<li>Transports. </li>
						<li>Exonération de redevance TV.</li>
						<li>Abattements et dégrèvement d’impôts.</li>
					</ul>
					<p><b>La carte de stationnement </b>permettant de bénéficier, sur les aires de stationnement, des espaces spécifiques prévus par les municipalités</p>
					<p><b>La carte de priorité</b> dans les transports. Elle permet de s’asseoir sur les espaces réservés aux invalides civils, victimes de guerre, personnes âgées et femmes enceintes.</p>
					<button  class="btn btn-default" ng-click="reponse10=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse11=true"><em>La reconnaissance de la qualité de travailleur handicapé (RQTH) et l’insertion professionnelle</em></h6>
				<div class="wrapper-reponse" ng-show="reponse11">
					<p>La RQTH permet aux personnes de pouvoir bénéficier d’un accompagnement dans la recherche d’emploi (Cap emploi) et d’accéder à des offres d’emplois destinés à ce statut. En outre, elle permet d’accéder à certaines formations. </p>
					<p>Toutes les orientations possibles sont décidées lors de la proposition du plan personnalisé de compensation (PPC): projet de vie débattu avec la personne handicapée.</p>
					<button  class="btn btn-default" ng-click="reponse11=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse12=true"><em>Insertion professionnelle</em></h6>
				<div class="wrapper-reponse" ng-show="reponse12">
					<ul class="liste-reponse"> 
						  <li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>Les entreprises sont soumises à l’obligation d’employer des travailleurs handicapés avec une garantie de salaire minimum.</li> 
						  <li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Les entreprises adaptées en milieu ordinaire (ex-ateliers protégés) permettent aux personnes handicapées de travailler dans un environnement adapté.</li> 
						  <li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> La fonction publique s’ouvre au recrutement par contrat des personnes handicapées avec recul de la limite d’âge pour les concours et création de temps partiel.</li> 
						  <li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span>Les établissements et service d’aide par le travail (ESAT), (ex-CAT) proposent une prise en charge en alternance des personnes handicapées.</li> 
					</ul>
					<button  class="btn btn-default" ng-click="reponse12=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse13=true"><em>Scolarité </em></h6>
				<div class="wrapper-reponse" ng-show="reponse13">
					<p>Toutes les orientations possibles sont décidées lors de la proposition du plan personnalisé de scolarisation (PPS). Des propositions adaptées et concrètes seront proposées par les équipes pluridisciplinaires en matière de scolarisation et de formation professionnelle.</p>
					<p><b>Les unités pédagogiques d’intégration (UPI)</b> des collèges publics assurent l’équipement et la charte pédagogique indispensables à l’accueil des élèves handicapés.<br> Des propositions adaptées et concrètes seront proposées par les équipes pluridisciplinaires en matière de scolarisation et de formation professionnelle.</p>
					<button  class="btn btn-default" ng-click="reponse13=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse14=true"><em>Établissements médico-sociaux et hébergement</em></h6>
				<div class="wrapper-reponse" ng-show="reponse14">
					<p>Les départements financent des dispositifs sociaux et médico-sociaux destinés à l’accompagnement des personnes adultes en situation de handicap.</p>
					<ul class="liste-reponse"> 
						  <li><span  class="glyphicon glyphicon-triangle-right triangle-FT "></span>SAVS Service d’accompagnement à la vie sociale, réalise des missions d’intégration sociale et professionnelle par une assistance et un accompagnement adaptés.</li> 
						  <li><span  class="glyphicon glyphicon-triangle-right triangle-FT "></span> SAMSAH Service d’accompagnement médico-social pour adultes handicapés, réalise, dans le cadre d’un accompagnement médico-social adapté comportant des prestations de soins, des missions d’intégration sociale et professionnelle.</li> 
						  <li><span  class="glyphicon glyphicon-triangle-right triangle-FT "></span> Foyers d’hébergement pour les travailleurs en ESAT ou en entreprises adaptées.</li> 
						  <li><span  class="glyphicon glyphicon-triangle-right triangle-FT "></span>Foyers occupationnels et accueils de jour ouverts pour les handicapés n’étant pas en mesure d’exercer une activité professionnelle.</li> 
						  <li><span  class="glyphicon glyphicon-triangle-right triangle-FT "></span> Foyers d’accueil médicalisé (FAM), ouverts aux personnes qui nécessitent une tierce personne.</li> 
						  <li><span  class="glyphicon glyphicon-triangle-right triangle-FT "></span>Section annexe d’établissement et de service d’aide par le travail (ex-SACAT), propose un mode d’encadrement et de prise en charge en alternance avec l’ESAT.</li> 
					</ul>
					<button  class="btn btn-default" ng-click="reponse14=false;">FERMER</button>
				</div>
			</div>
		</div>
		


