	<div class="row">
		  	<div class="col-sm-12 titre-FT">Huissiers</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Attirez l’attention de votre patient sur un point important ! Si le commandement de payer concerne une dette hospitalière, il faut solliciter le service des frais de séjour de l’hôpital afin que celui-ci demande à la trésorerie générale de l’Assistance publique l’arrêt des procédures selon le «formulaire référencé annexe 2" </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Le commandement </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>Délivré par un huissier, il officialise le début d’une procédure.</p>
					<p><b>Il indique:</b></p>
					<ul>
						<li>le délai dont on dispose pour régulariser sa situation (souvent très court),</li>
						<li>la somme à payer ou la chose à faire.</li>
					</ul>
					<p><b>Le délai indiqué peut permettre:</b></p>
					<ul>
						<li>de régler le litige,</li>
						<li>de vérifier le bien-fondé de la créance,</li>
						<li>éventuellement de contester la créance et d’engager une opposition au commandement de payer, </li>
						<li>de saisir le FSL par l’intermédiaire d’une AS.</li>
						<li>L’intervention du FSL au moment de l’expulsion est prévue par la loi du 31 mai 1990: le locataire expulsé ou menacé de l’être peut saisir le FSL.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Saisie </em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<ul>
						<li>Seul l’huissier peut procéder à la saisie proprement dite.</li>
						<li>La procédure de saisie doit faire l’objet d’une décision de justice, sauf les dettes concernant le Trésor public.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Procédures judiciaires  </em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p><b>1re étape:</b> la signification d’un commandement de payer par huissier pour le recouvrement de dettes.</p>
					<p><b>2e étape:</b> si aucun règlement n’est effectué ou aucune conciliation possible, un acte de saisie de vente est adressé par huissier. Une date est arrêtée pour la saisie et la mise aux enchères des objets.</p>
					<p>En général, suit un avertissement de passage pour évaluati on des biens. L’huissier passe ensuite très rapidement pour établir un relevé des objets, c’est la saisie conservatoire.</p>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> : l’avertissement n’est pas obligatoire. 
							</p>
						</div>
					</div>
					<p><b>3e étape:</b> la saisie</p>
					<p>Pour cela, l’huissier peut faire ouvrir un logement en l’absence du locataire, à condition d’être en présence d’un commissaire de police accompagné d’un serrurier.</p>
					<p>Il ne peut y avoir de saisie avant 6 h le matin et après 21 h le soir.</p>
					<p>Tous les biens présents sont considérés comme appartenant à l’occupant des lieux, sauf preuve faite du contraire. Garder toutes les factures, si possible nominatives, en cas de cohabitation</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> NOTA BENE</h4>
					<p class="italic">ne peuvent être saisis: </p>
					<ul>
						<li>les éléments du mobilier nécessaires à la survie alimentaire et physique de la personne: lit, table, chaises, mobilier de cuisine, meubles scellés,</li>
						<li>les meubles et appareils ou véhicules affectés à un emploi. </li>
					</ul>
					<p>Sont saisis en priorité les objets considérés de luxe tels que matériel hifi , audiovisuel, véhicule, etc.</p>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> : la loi impose que la saisie en espèces laisse au minimum à la personne l’équivalent du RSA, soit 509,30 euros/ mois au 31 décembre 2014.
							</p>
						</div>
					</div>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>



