		<div class="row">
		  	<div class="col-sm-12 titre-FT">Inaptitude au travail</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">COMMENT EST-ELLE CONSTATÉE? </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse">
					<ul>
						<li>L’aptitude ou l’inaptitude physique du salarié à l’emploi pour lequel il a été embauché ne peut être appréciée que par le médecin du travail.</li>
						<li>Celui-ci ne peut constater l’inaptitude du salarié à son poste de travail qu’après une étude de ce poste et des conditions de travail dans l’entreprise, et après deux examens médicaux de l’intéressé accompagnés, le cas échéant, d’examens complémentaires.</li>
					</ul>
					<p><b>Cas particulier:</b> ces conditions ne s’appliquent pas dans le cas où le maintien du salarié à son poste de travail entraînerait un danger immédiat pour la santé ou la sécurité de l’intéressé ou celles de tiers.</p>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">QUAND DOIT AVOIR LIEU L’EXAMEN PAR LE MÉDECIN DU TRAVAIL?</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>L’examen par le médecin du travail est obligatoire </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<ul>
						<li>Après un congé maternité.</li>
						<li>Après une absence pour maladie professionnelle.</li>
						<li>Après une absence d’au moins 8 jours pour accident de travail.</li>
						<li>Après absence pour maladie ou accident non professionnels d’au moins 21 jours</li>
						<li>En cas d’absences répétées pour raison de santé.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>L’examen doit avoir lieu lors de la reprise du travail et au plus tard dans les 8 jours qui suivent. </em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<ul>
						<li>Cependant, lorsqu’une modification de l’aptitude du salarié est prévisible et en vue de rechercher les mesures nécessaires, l’examen peut être demandé préalablement à la reprise du travail par le salarié, par son médecin traitant ou par le médecin-conseil de la SS. </li>
						<li>L’examen doit être sollicité à nouveau lors de la reprise effective. </li>
						<li>Cet examen a pour objet d’apprécier l’aptitude du salarié à reprendre son emploi, la nécessité d’une adaptation des conditions de travail ou d’une réadaptation du salarié (ou éventuellement de l’une et l’autre de ces mesures).</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">QUELLES SONT LES SUITES DE L’AVIS D’INAPTITUDE?</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Le médecin du travail accompagne l’avis d’inaptitude de propositions, telles que mutation ou transformation de poste, justifiées notamment par l’âge, la résistance physique ou l’état de santé du salarié.<br>L’employeur est tenu de prendre en considération ces propositions et, en cas de refus, de faire connaître les motifs qui s’opposent à ce qu’il y soit donné suite.</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> En cas de difficulté ou de désaccord (du salarié luimême ou de l’employeur) portant sur l’appréciation par le médecin du travail de l’aptitude du salarié, la décision est prise par l’inspecteur du travail, après avis du médecin inspecteur régional du travail. </li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Si, lors de l’examen de reprise du travail, le salarié est déclaré par le médecin du travail inapte à reprendre son emploi précédent, l’employeur est tenu de lui proposer un autre emploi, approprié à ses capacités, compte tenu des conclusions et indications écrites du médecin du travail. </li> 
					</ul>
					<p>L’employeur dispose d’un délai d’un mois à compter du second examen par le médecin du travail pour reclasser le salarié. </p>
					<p>Si, à l’issue de ce délai, le salarié n’est pas reclassé ou s’il n’est pas licencié, l’employeur est tenu de lui verser le salaire correspondant à son emploi antérieur.</p>
					<p><b>Le salarié peut accepter ou refuser le reclassement proposé.</b> Si celui-ci suppose une modification du contrat de travail, un avenant au contrat doit lui être ajouté.</p>
					<p>Si le salarié persiste dans son refus du reclassement qui lui est proposé, l’employeur peut engager contre lui une procédure de licenciement pour inaptitude.</p>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">L’INAPTITUDE PEUT-ELLE JUSTIFIER UN LICENCIEMENT?  </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Aucun salarié ne peut être sanctionné ou licencié en raison, notamment, de son état de santé ou de son handicap, sauf inaptitude constatée par le médecin du travail. </li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> L’affirmation de ce principe par le Code du travail ne remet pas en cause la faculté pour l’employeur de rompre le contrat de travail en cas d’inaptitude définitive du salarié, constatée par le médecin du travail, ou en cas d’impossibilité de donner suite à ses propositions de reclassement.</li> 
					</ul>
					<p>La rupture du contrat de travail constitue un licenciement.</p>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">DANS CE CAS, QUELS SONT LES  DROITS DU SALARIÉ?  </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse">
					<p>Le salarié a droit à l’indemnité légale ou conventionnelle de licenciement. Le préavis ne pouvant être effectué, l’indemnité compensatrice de préavis n’est pas due, sauf si elle est expressément prévue par la convention collective. </p>
				</div>
			</div>
		</div>



