		<div class="row">
		  	<div class="col-sm-12 titre-FT">Licenciement pour motif personnel</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Votre patient doit savoir que l’employeur ne peut pas évoquer n’importe quelle raison dans le cas d’un licenciement pour motif personnel. Le motif invoqué doit être à la fois réel et sérieux et directement lié au salarié" </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Exemples de causes réelles et sérieuses </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<ul>
						<li>L’inapti tude physique constatée par le médecin du travail.</li>
						<li>L’insuffisance professionnelle par rapport à une tâche fixée.</li>
						<li>Absences non autorisées, indiscréti ons, fautes professionnelles peuvent être, selon leur importance, considérées comme fautes simples, graves ou lourdes.</li>
						<li>Vol, détournement de fonds constituent une faute lourde.</li>
						<li>La maladie répétée, lorsqu’elle finit par entraver la bonne marche de l’entreprise.</li>
						<li>Le refus d’une modification de travail, si elle porte sur un élément non essentiel du contrat (mobilité, horaires de travail, etc.).</li>
					</ul>
					<p>Aucun licenciement ne peut être fondé sur un motif discriminatoire (sexe, religion, opinions syndicales et politiques, appartenance ethnique…) ou en violation d’un droit du salarié (droit de grève, droit de saisir la justice). Tout licenciement abusif peut être contesté devant le conseil des prud’hommes.<button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="conseil-prudhommes">Voir Conseil des Prud'hommes</button></p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LICENCIEMENT POUR MOTIF ÉCONOMIQUE</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Procédure </em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p>Le licenciement pour motif économique est provoqué par des difficultés économiques ou des modifications technologiques entraînant la suppression du contrat de travail.</p>
					<p>Depuis le 1er septembre 2011, Les procédures de licenciement pour raisons économiques ont changé.</p>
					<p>C'est le <b>CSP</b>, Contrat de Sécurisation Professionnel qui succède au Contrat de reclassement Professionnel CRP</p>
					<p>Le CSP s’adresse à tout salarié faisant l’objet d’un licenciement économique pourvu qu’il ait au moins 1 an d’ancienneté dans l’entreprise. En cas de moins d’1 an d’ancienneté, ses droits sont sauvegardés pourvu qu’il ait acquits des droits au versement de l’ARE mais il ne perçoit pas davantage que l’ARE.</p>
					<p>Le CSP concerne les entreprises de moins de 1000 salariés ou celles en liquidation ou redressement judiciaire quelque soit leur nombre de salariés, qui ont engagé une procédure de licenciement économique depuis le 1er septembre 2011.</p>
					<p><b>Montant de l’ASP, Allocation de sécurisation professionnelle:</b> 80% du salaire brut pendant 12 mois avec versement immédiat, sans délais d’attente. Les allocataires ont le statut de stagiaire de la formation professionnelle.</p>
					<p>Les salariés ayant moins d’1 an d’ancienneté perçoivent simplement l’équivalent de l’ARE (57% du salaire journalier de référence).</p>
					<p><b>Le refus du CSP dans les 21 jours suivant sa proposition entraine l’alignement de l’allocation due sur le montant de l’A.R.E, ce qui est naturellement moins avantageux.</b></p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Licenciement pour faute simple, grave ou lourde et indemnités </em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>Un salarié peut être licencié pour faute simple, grave ou lourde selon l’importance de la qualification retenue par l’employeur. Par contre, une faute légère, c’est-à-dire non susceptible d’entraver sérieusement le fonctionnement de l’entreprise, ne peut être sanctionnée par un licenciement. En cas de litige, c’est le juge qui peut qualifier le degré de gravité de la faute et, si nécessaire requalifier une faute simple en faute grave ou lourde.</p>
					<p>Le salarié licencié a droit à un préavis: l’employeur a obligation de verser le salaire et le salarié, en principe, a obligation de continuer son travail (sauf dispense expresse de la part de l’entreprise).</p>
					<p>Le salarié licencié perçoit alors, selon les conventions collectives de chaque branche d’activité:</p>
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>une indemnité de licenciement,</b> égale à 1/5ème de salaire mensuel brut par année de présence. La période de référence pour le calcul de l’indemnité comprend toute la période de travail jusqu’au moment de la rupture, préavis compris même s’il n’est pas eff ectué. Cette indemnité n’est pas payée en cas de licenciement pour faute grave.</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>une indemnité compensatrice de congés payés </b>égale à ce que le salarié aurait dû percevoir pour la totalité des congés qui lui sont dus à la date de rupture du contrat de travail. Elle est égale au plus au 10ème du salaire annuel de référence. Cette indemnité n’est pas versée en cas de licenciement pour faute lourde.</li> 
					</ul>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> : le versement de ces indemnités retarde d’autant le point de départ des indemnités chômage auquel le salarié peut prétendre. 
							</p>
						</div>
					</div>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>L’Indemnité transacti onnelle</em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>La transaction permet aux parties de mettre fin aux contestations nées ou à naître à l’occasion de la rupture du contrat de travail. Elle est la garantie pour l’employeur que le salarié ne contestera pas les termes du licenciement devant une autorité compétente, en l’occurrence, le conseil des Prudhommes.</p>
					<p>Son montant est négocié librement entre elles et se situe à mi chemin entre les indemnités légales auxquelles le salarié à droit et les sommes auxquelles son employeur pourrait se trouver condamné à payer si le licenciement était considéré comme abusif. Pour en savoir plus: <a target="_blank" href="http://www.urssaf.fr">www.urssaf.fr</a></p>
					<p>Cette indemnité est exonérée de cotisations dans les limites applicables à l’indemnité de licenciement.</p>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			</div>
		</div>






