		<div class="row">
		  	<div class="col-sm-12 titre-FT">Longue maladie-ALD 30</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">AFFECTIONS DE LONGUE DURÉE  EXONÉRANTE</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p><b>Principe de base:</b> LA PARTICIPATION FINANCIÈRE DE L’ASSURÉ EST SUPPRIMÉE pour les affections de longue durée. </p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p>la prise en charge à 100 % NE CONCERNE PAS la participation forfaitaire de 1 €, les dépassements d’honoraires en secteur libre, ainsi que le forfait hospitalier.</p>
					<p><b>1°</b> Lorsque Le bénéficiaire est atteint d’une des affections inscrites sur une liste établie par décret et envoyé</p>
				</div>
			</div>
		</div>

		<div class="row ">
			<p style="width: 100%;background-color: #1CA25F; padding:1rem;color: white; text-align: center;margin-top: 2rem;">LISTE DES AFFECTIONS (JUIN 2011)<br> Attention, les nouvelles règles d’attribution des ALD sont en cours.<br> Cf HAS <a target="_blank" href="http://www.has-sante.fr">www.has-sante.fr</a> </p>
				<div class="col-sm-6 titre-reponse ">
					<ul class="maladie">
						<li>Accident vasculaire cérébral invalidant.</li>
						<li>Insuffisances médullaires et autres cytopénies chroniques.</li>
						<li>Artériopathies chroniques avec manifestations ischémiques.</li>
						<li>Bilharziose compliquée.</li>
						<li>Insuffisance cardiaque grave,</li>
						<li>troubles du rythme graves, cardiopathies valvulaires graves, cardiopathies congénitales graves.</li>
						<li>Maladies chroniques actives du foie et cirrhoses. </li>
						<li>Déficit immunitaire primitif grave nécessitant un traitement prolongé, infection par le virus de l’immunodéficience humaine (VIH).</li>
					</ul>
				</div>
				<div class="col-sm-6 titre-reponse ">
					<ul class="maladie">
						<li>Diabète de type 1 et diabète de type 2.</li>
						<li>Formes graves des affections neurologiques et musculaires (dont myopathie), épilepsie grave.</li>
						<li>Hémoglobinopathies, hémolyses, chroniques constitutionnelles et acquises sévères.</li>
						<li>Hémophilies et affections constitutionnelles de l’hémostase graves.</li>
						<li>Infarctus coronaire.</li>
						<li>Insuffisance respiratoire chronique grave.</li>
						<li>Maladie d’Alzheimer et autres démences.</li>
					</ul>
				</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p><b>2°</b> Lorsque le bénéficiaire est atteint d’une «forme évolutive ou invalidante d’une affection grave caractérisée» </p>
					<p>Ne figurant pas sur la liste des 30 affections, pour des soins continus d’une durée prévisible supérieure à 6 mois (arrêté du 7 septembre 1988).</p>
					<p><b>3°</b> Lorsque le bénéficiaire est atteint de plusieurs affections caractérisées entraînant un état pathologique invalidant</p>
					<p>Pour lequel des soins continus d’une durée prévisible supérieure à 6 mois sont nécessaires (arrêté du 7 septembre 1988).</p>
					<p><b>4°</b> Lorsque le bénéficiaire est atteint d’une maladie dite orpheline qui ne figure pas sur la liste.</p>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">PROTOCOLE DE SOINS </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>Une demande d’exonération du ticket modérateur doit être adressée par le médecin traitant au titre de la maladie invalidante au médecin conseil de la caisse CPAM du patient. Une demande formulée par le médecin non traitant ne donnera lieu qu’à une prise en charge à 100% que pendant une période de 6 mois.</p>
					<p>Les prescriptions sont rédigées sur des ordonnances Bizones dont la partie supérieure mentionne uniquement les traitements prescrits au titre des 100% et la partie inférieure ceux qui ne rentrent pas dans le champ de l’ALD et ne sont donc pas remboursés intégralement.</p>
					<p>Consulter le site <a target="_blank" href="http://www.ameli.fr">www.ameli.fr</a> </p>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES VOIES DE RECOURS</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Pour un refus d’ordre médical </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>Si le désaccord porte sur le diagnostic et/ou sur le projet thérapeuti que concernant l’affection, l’assuré ou le médecin-conseil peut demander une experti se médicale (expertise L 141.1 du Code de la SS). L’avis de l’expert s’imposera alors à l’assuré comme à la CPAM. </p>
					<p>Un recours est cependant possible auprès du TASS.</p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Pour un refus d’ordre administrati f </em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p>L’assuré peut alors saisir la commission de recours amiable, puis le TASS, les litiges d’ordre administratif relevant de la compétence du contentieux général.</p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>

