		<div class="row">
		  	<div class="col-sm-12 titre-FT">Les maladies professionnelles</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Une maladie est dite “professionnelle” si elle est la conséquence directe de l’exposition d’un travailleur à un risque physique, chimique, biologique ou résulte des conditions dans lesquelles il exerce son activité professionnelle."</blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">CONDITIONS MÉDICALES DE PRISE EN CHARGE</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Les tableaux des maladies professionnelles </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>L’affection dont souffre la victime doit être inscrite à l’un des tableaux prévus aux articles L 461.2 et R 46.3 du Code de SS.</p>
					<p>L’énumération des symptômes ou des lésions pathologiques figurant dans les tableaux est limitative. <a target="_blank" href="http://inrs.dev.optimedia.fr/mp3/">www.inrs.dev.optimedia.fr/mp3/</a></p>
					<p>Il faut souligner d’autant l’importance pour le médecin traitant de bien connaître l’article L 461.6 du Code de SS:</p>
					<p><em>“En vue, tant de la prévention des maladies professionnelles que d’une meilleure connaissance de la pathologie professionnelle et de l’extension ou de la révision des tableaux, est obligatoire, pour tout docteur en médecine qui peut en connaître l’existence, notamment les médecins du travail, la déclaration de tout symptôme d’imprégnation toxique et de toute maladie lorsqu’ils ont un caractère professionnel (...)” </em></p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Le risque causal </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>Le travailleur doit avoir été exposé habituellement à un risque déterminé (agent causal) dans les conditions prévues par ces tableaux  qui établissent: </p>
					<ul>
						<li>La liste à caractère indicatif ou limitatif des travaux auxquels la personne peut être exposée</li>
						<li>La durée minimale d’exposition au risque</li>
						<li>Le délai après la fin de l’exposition au risque au delà duquel la prise en charge de l’affection ne doit pas avoir lieu</li>
					</ul>
					<p>Ces tableaux établissent aussi la catégorie d’agent causal </p>
					<p>L’agent causal peut être:</p>
					<ul>
						<li>Un produit chimique (plomb, benzène...),</li>
						<li>Un agent microbien (streptocoque, staphylocoque...),</li>
						<li>Un agent physique (température, bruit...),</li>
						<li>Des conditions de posture (position agenouillée, appui sur le talon ou la main).</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Comité régional de reconnaissance des maladies professionnelles </em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p>Malgré l’intérêt que présentait le système des tableaux, il est apparu nécessaire d’instaurer un système complémentaire de reconnaissance des maladies professionnelles pour prendre en charge des cas qui ne pouvaient pas l’être jusque là. Composé d’experts médicaux dont l’avis s’impose à la Sécurité Sociale, le CRRMP établit un lien de causalité entre la maladie et le travail de la personne.</p>
					<p>Le dossier s’appuie aussi sur un avis du médecin du travail de l’entreprise du malade et sur un rapport de son employeur concernant les risques d’exposition.</p>
					<p>Ce système de reconnaissance des maladies professionnelles permet d’établir un lien de causalité, par exemple, lorsque la maladie, directement causée par le travail habituel, figure sur le tableau, mais sans remplir une ou plusieurs des conditions énumérées ci-dessous et concernant:</p>
					<ul>
						<li>soit le délai de prise en charge,</li>
						<li>soit la durée d’exposition au risque,</li>
						<li>soit la liste limitative des travaux. </li>
					</ul>
					<p>C’est aussi le cas lorsque la maladie directement causée par le travail habituel ne figure dans aucun des tableaux mais a entraîné le décès de la victime ou bien lorsque la maladie a entraîné une incapacité professionnelle permanente supérieure ou égale à 66,66 %.</p>
					<p><b>Voir aussi:</b> consultation de pathologie professionnelle. Carnet d’adresses p.122-123</p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>LES DÉMARCHES À EFFECTUER</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>C’est la victime (ou ses ayants droit) qui sollicite la reconnaissance du caractère professionnel de sa maladie.</p>
					<ul>
						<li>La victime, assujettie au régime général sans autre conditi on d’ouverture de droits, adresse à la caisse primaire une déclaration de maladie professionnelle dans un délai de 15 jours suivant l’arrêt de maladie. Formulaires à retirer auprès de la CPAM ou téléchargeables sur <a target="_blank" href="http://www.ameli.fr">www.ameli.fr</a></li>
						<li>Le médecin traitant ou le médecin du travail établit un certificat médical initial indiquant la nature de la maladie, les manifestations constatées telles que mentionnées aux tableaux. L’employeur n’a pas à faire de déclaration lui-même. </li>
						<li>La CPAM informe alors l’inspection du travail et fait réaliser une enquête par un inspecteur pour recueillir tous les renseignements sur les conditions de travail et la composition des produits utilisés.</li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">La victime dispose de 2 ans, à compter de la date à laquelle elle est informée du lien possible entre sa maladie et son activité professionnelle, pour demander la reconnaissance du caractère professionnel de sa maladie. Au-delà de ce délai, la victime perd ses droits.</p>
					<p class="italic">Les droits sont rouverts à titre exceptionnel au profi t de toutes les victi mes de l’amiante et de leurs ayants droit, dès lors qu’ils ont fait l’objet d’une première constatation médicale <b>entre le 1er janvier 1947 et le 28 décembre 1998.</b></p>
					<p class="italic">À compter de la réception de la déclaration, la caisse dispose d’un délai de 3 mois pour statuer. La non-réponse de la caisse dans ce délai vaut reconnaissance du caractère professionnel de la maladie. Une enquête complémentaire peut être mise en place.</p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LES PRESTATIONS</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>Les prestations accordées au titre de la maladie professionnelle sont identiques à celles servies dans le cadre des accidents de travail.</p>
					<p><b>Prestations en nature:</b> prise en charge à 100% des frais médicaux en lien avec la maladie, soins de ville, frais de laboratoire, hospitalisation (y compris forfait hospitalier) et à 150% pour les frais d’appareillage ou de prothèse dentaire</p>
					<p><b>Prestations en espèces</b>indemnités journalières: 60% du salaire brut journalier de base pendant les 28 premiers jours et 80% au-delà.</p>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;"> A NOTER:</span> depuis janvier 2010, les I.J relati ves aux accidents de travail et aux maladies professionnelles sont imposable sur le revenu à concurrence de 50% de leur montant.
							</p>
						</div>
					</div>
					<ul>
						<li><b>Rente servie dans le cadre de l’Incapacité Permanente:</b> entre 1 et 9% d’incapacité, liquidati on forfaitaire d’une rente en une seule fois, allant de 410 euros à 4150 euros. Entre 10 et 50%, la rente est versée trimestriellement et au-delà de 50%, mensuellement. </li>
					</ul>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;"> A NOTER:</span> Il faut reconnaître que le système est complexe et que bien des problèmes persistent: <br>il est impossible de recenser les nuisances auxquelles sont soumises certaines catégories de travailleurs.<br>
							Il est, de plus, difficile de démontrer la part qui, dans une maladie, revient à telle ou telle nuisance professionnelle et à tel ou tel facteur extraprofessionnel</p>
						</div>
					</div>
				</div>
			</div>
		</div>







		