		<div class="row">
		  	<div class="col-sm-12 titre-FT">Médiation familiale</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Lieu de parole, d’écoute et d’échange, la médiation familiale a pour mission de rétablir la communication au sein de la famille lors d’une période de crise, de régler les conflits familiaux et de trouver des accords sur les besoins, droits et devoirs de chacun des protagonistes et plus particulièrement ceux des enfants. Le médiateur familial est un professionnel qualifié, impartial, compétent en psychologie et en droit."</blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Qui prend l’initiative d’une médiation familiale? </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>Pour avoir recours à une médiation familiale, il est indispensable d’obtenir l’accord de toutes les personnes concernées par le conflit. Elle peut être à l’initiative:</p>
					<ul>
						<li>De la personne concernée par le conflit, en contactant directement le médiateur familial.</li>
						<li>D’un juge des affaires familiales, au cours d’une procédure judiciaire civile (divorce, pension alimentaire, droit de visite,…).</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Quand faire appel à la médiation familiale? </em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p>La médiation familiale a pour but de maintenir les liens familiaux et d’assurer un environnement favorable à l’enfant. Elle peut être sollicitée à tout moment d’un conflit entraînant une rupture et particulièrement en cas de:</p>
					<ul>
						<li>Situation de rupture, séparation, divorce.</li>
						<li>Rupture des jeunes adultes avec leur famille.</li>
						<li>Rupture des liens des grands-parents avec leurs petits-enfants.</li>
						<li>Conflit lors d’une succession.</li>
						<li>Problèmes liés à l’organisation familiale des familles recomposées (résidence alternée).</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Quels sont les buts de la médiation familiale?  </em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<ul>
						<li>Rétablir une communication constructive.</li>
						<li>Organiser les droits et devoirs des parents, des grands-parents.</li>
						<li>Aborder les questions financières.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>Les trois étapes de la médiation familiale </em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<ul>
						<li>L’entretien d’information, au cours duquel seront abordés les objectifs à atteindre. Cet entretien est sans engagement et gratuit.</li>
						<li>Les entretiens de médiation familiale qui se déroulent sur une période allant de 3 à 6 mois. Leur nombre varie selon la situation de la personne et les sujets abordés.</li>
						<li>L’accord, qui, s’il a lieu, peut être homologué par le juge et aura la même force qu’un jugement.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse5=true"><em>Combien ça coûte? </em></h6>
				<div class="wrapper-reponse" ng-show="reponse5">
					<p>Le coût de la médiation familiale est fonction des revenus. Elle peut atteindre au maximum 1 300 €.</p>
					<ul>
						<li>Si la personne fait appel à un service conventionné, le montant sera défini sur la base d’un barème de participation.</li>
						<li>Si le juge propose la médiation, c’est lui qui détermine le montant.</li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">afin d’alléger la participation des personnes, les CAF et les MSA prennent en charge une partie des dépenses sous conditions. Contacter la CAF ou la MSA.<br> De même, sous conditions de ressources, les personnes peuvent bénéficier de l’aide juridictionnelle. Dans ce cas, le coût sera pris en charge par l’État. <button data-dismiss="modal" class="btn btn-default btn-fiche"  ui-sref="aide-juridictionnelle">Voir Aide juridictionnelle</button> </p>
					<button  class="btn btn-default" ng-click="reponse5=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse6=true"><em>Où s’adresser? </em></h6>
				<div class="wrapper-reponse" ng-show="reponse6">
					<p>Pour obtenir un rendez-vous avec le médiateur familial, contacter la CAF ou utiliser la carte de France sur le site <a target="_blank" href="http://www.mediation-familiale.org">www.mediation-familiale.org</a> </p>
					<button  class="btn btn-default" ng-click="reponse6=false;">FERMER</button>
				</div>
			</div>
		</div>



