		<div class="row">
			<div class="col-sm-12 titre-FT">Fiches techniques</div>
		</div>
		<div class="row">
			<div class="col-sm-6 titre-reponse">
				<ul class="ul-menu">
				<br>
					<li><a ui-sref="droits-ss">Droits au régime général de la sécurité sociale</a></li>
		            <li><a ui-sref="couverture-sociale">Couverture Sociale</a></li>
		            <li><a ui-sref="CS-chomeur">Couverture Sociale des chômeurs</a></li>
		            <li><a ui-sref="RSA">Le RSA</a></li>
		            <li><a ui-sref="CMU">La couverture maladie universelle (CMU)</a></li>
		            <li><a ui-sref="ticket-moderateur">Cas d’exonération du ticket modérateur</a></li>
		            <li><a ui-sref="complementaires-sante">Les complémentaires santé</a></li>
		            <li><a ui-sref="protection-etrangers">Protection sociale des étrangers</a></li>
		            <li><a ui-sref="etrangers-sejour-temporaire">Les étrangers en séjour temporaire en fr</li>
		            <li><a ui-sref="arret-maladie">Arrêt maladie</a></li>
		            <li><a ui-sref="surendettement">Surendettement des familles et faillites familliales</a></li>
		            <li><a ui-sref="assurance-invalidite">Assurance invalidité</a></li>
		            <li><a ui-sref="assurance-maternite">Assurance maternité</a></li>
		            <li><a ui-sref="accident-travail">Accident de travail</a></li>
		            <li><a ui-sref="maladies-professionnelles">Les maladies professionnelles</a></li>
		            <li><a ui-sref="inaptitude">Inaptitude au travail</a></li>
		            <li><a ui-sref="etudiants-ft">Etudiants</a></li>
		            <li><a ui-sref="detenus">Détenus et sortant de prison</a></li>
		            <li><a ui-sref="handicap">Handicap et prestations</a></li>
				</ul>
			</div>
			<div class="col-sm-6 titre-reponse">
				<ul class="ul-menu">
				<br>
					<li><a ui-sref="aide-logement">Aide au logement</a></li>
                    <li><a ui-sref="mediation-familiale">Médiation familiale</a></li>
                    <li><a ui-sref="aides-jeunes">Aides aux jeunes</a></li>
                    <li><a ui-sref="demissions-legitimes">Cas de démissions legitimes</a></li>
                    <li><a ui-sref="conges-particuliers">Congés particuliers</a></li>
                    <li><a ui-sref="assurance-chomage">Assurance chômage</a></li>
                    <li><a ui-sref="aide-juridictionnelle">Aide juridictionnelle</a></li>
                    <li><a ui-sref="procedure-licenciement">Procèdure de licenciement</a></li>
                    <li><a ui-sref="licenciement-personnel">Licenciement pour motif personnel</a></li>
                    <li><a ui-sref="conseil-prudhommes">Conseil des prud’hommes</a></li>
                    <li><a ui-sref="expulsion-prevention-procedure">L’expulsion du logement: prévention et procédure</a></li>
                    <li><a ui-sref="huissiers">Huissiers</a></li>
                    <li><a ui-sref="apa">L’allocation personnalisée d’autonomie (APA), majoration tierce personne (MTP) et prestation de compensation du handicap (PCH)</a></li>
                    <li><a ui-sref="longue-maladie">Longue maladie - ALD 30</a></li>
                    <li><a ui-sref="docs-hospitalisation">Documents nécessaires en vue d’une hospitalisation</a></li>
                    <li><a ui-sref="protection-mineurs">Protection des mineurs</a></li>
                    <li><a ui-sref="protection-majeurs">Protection des majeurs vulnérables</a></li>
				</ul>
			</div>