		<div class="row">
		  	<div class="col-sm-12 titre-FT"> Procédure de licenciement</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Conseillez à votre patient de vérifier que son employeur a bien suivi la procédure de licenciement."  </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">PREMIÈRE ÉTAPE </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>Le licenciement doit être précédé d’une lettre recommandée avec accusé de réception (ou remise en main propre contre récépissé), qui convoque le salarié pour un entretien préalable en vue de son licenciement. </p>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Cette lettre doit comporter certaines mentions obligatoires:  </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<ul>
						<li>l’objet de la convocation,</li>
						<li>le projet de licenciement,</li>
						<li>la date, l’heure et le lieu de l’entretien,</li>
						<li>la possibilité pour le salarié de se faire assister par un autre salarié de l’établissement, un délégué du personnel ou, à défaut, par un “conseiller extérieur à l’entreprise”. </li>
						<li>représentant de la Banque de France.</li>
					</ul>
					<p>La lettre doit également préciser l’adresse (mairie, préfecture, inspection du travail) où le salarié peut se procurer la liste de ces conseillers.</p>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p class="italic">toute personne ayant une expérience du monde de l’entreprise et une certaine connaissance du droit social peut être conseiller du salarié à titre bénévole. Une liste est disponible dans chaque section d’inspection du travail et dans toutes les mairies.</p>
					<p class="italic">Au cours de cet entretien, en cas de licenciement pour motif économique, l’employeur doit informer le salarié de tous les dispositifs de reclassement dont il peut bénéficier. Ces offres doivent être écrites, précises et sérieuses.</p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">TROISIÈME ÉTAPE </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p>Le licenciement doit être confirmé par lettre recommandée avec accusé de réception.<br> Cette lettre doit être expédiée à partir du 2ème jour franc après l’entretien préalable.</p>
				</div>
			</div>
		</div>




