		<div class="row">
		  	<div class="col-sm-12 titre-FT">La protection des majeurs vulnérables</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Les mesures de protection juridique" </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>La Sauvegarde de Justice </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<ul class="liste-reponse"> 
							<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>C’est la mesure de protection juridique la plus légère</b>destinée à protéger une personne atteinte d’une altération de ses facultés mentales ou corporelles, sans la priver de sa capacité. C’est un régime temporaire appelé à cesser dès que l’intéressé a recouvré ses pleines facultés ou qu’elle fait l’objet d’une mesure plus contraignante.</li> 
						</ul>
						<p>Elle est prononcée par décision du Juge des tutelles avec ou sans auditi on de la personne (encas d’urgence).</p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>La curatelle et la curatelle renforcée</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>C’est une mesure d’assistance </b>qui s’applique aux personnes qui ont besoin d’une assistance ou d’un contrôle permanent dans les actes de la vie civile, sans être hors d’état d’agir elles mêmes</li>
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>La demande peut être faite:</b></li>
					</ul>
					<ul>
						<li>Par la personne elle-même</li>
						<li>Son conjoint ou partenaire de Pacs</li>
						<li>Un membre de sa famille</li>
						<li>Une personne ayant avec elle des liens stables et étroits</li>
						<li>Le procureur de la République (d’office ou à la demande d’un tiers, un médecin par exemple)</li>
					</ul>
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>La demande doit être faite auprès du juge des tutelles. </b></li>
					</ul>
					<p>Elle est obligatoirement accompagnée d’un certificat médical rédigé par un médecin inscrit sur une liste établie par le procureur de la République.</p>
					<p>Le juge auditi onne la personne à protéger sauf si elle est hors d’état de donner son avis et la personne qui a fait la demande. </p>
					<p>Il nomme comme curateur en priorité la personne choisie par la personne à protéger, sinon son conjoint ou un proche sinon un «mandataire judiciaire» choisi par lui.</p>
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>La curatelle simple </b>est destinée à protéger la personne et ses biens ce qui n’empêche nullement la personne protégée d’agir de façon responsable pour certains actes de la vie courante mais elle ne peut ni se marier sans autorisati on ni vendre ses biens.</li>
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>La curatelle renforcée,</b> sorte de tutelle souple basée sur l’article 472 du code civil, renforce les pouvoirs du curateur. Il reçoit et gère les revenus, ouvre les comptes bancaires, souscrit les assurances, conclut un bail, choisit le lieu d’habitation  etc, tous droits pouvant être exercés par la personne en cas de curatelle simple.</li>
					</ul>
					<ul>
						<li>La curatelle, simple ou renforcée est prononcée pour 5 ans avec renouvellement pour une durée éventuellement supérieure en cas d’atteinte pérenne des facultés de la personne.</li>
						<li>Le juge peut y mettre fin à tout moment si elle n’apparaît plus nécessaire</li>
					</ul>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> NOTA BENE</h4>
					<p class="italic">Souvent une demande de curatelle renforcée rencontre, de la part de la personne susceptible de faire l’objet de la mesure, une hostilité franche qui complique beaucoup la mise en route de la procédure. C’est notamment vrai pour ce qui concerne son consentement à l’examen médical par le médecin expert. Bien souvent cette hostilité procède de la crainte de ne pas pouvoir obtenir du mandataire plus d’argent de poche qu’il n’a été convenu après que les charges constantes du foyer ont été réglées par la curatelle.</p>
					<p class="italic">La législati on est à cet égard formelle: le Majeur protégé doit pouvoir disposer, lorsque toutes les dépenses légales ont été assurées, du surplus de ressources dont ses revenus lui permett ent de disposer.Il est bon de préciser cette disposition de la loi favorable à la personne en instance d’être l’objet d’une mesure de protection. Elle peut lui permettre d’acquiescer en toute connaissance de cause à la mesure.</p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>La tutelle </em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>Mesure de représentation, la tutelle s’applique aux personnes qui ont besoin d’une assistance ou d’un contrôle permanent dans les actes de la vie civile et qui sont <b>hors d’état d’agir par elles-mêmes.</b></p>
					<p>La mise sous tutelle d’une personne à protéger se demande et s’obtient  selon les mêmes procédures que la curatelle simple ou renforcée. </p>
					<p>Seul le degré d’altération des facultés de la personne justifiant la demande doit être censément plus conséquent.</p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>Le mandat de protection future </em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>C’est une mesure conventi onnelle de protecti on juridique qui doit permettre à toute personne d’organiser sa protecti on future en cas d’altérati on possible de ses facultés mentales ou corporelles.</p>
					<p>C’est un mandat conclu par acte notarié ou sous seing privé (contresigné par un avocat) qui prend effet uniquement au moment où les facultés de la personne sont altérées. Un certificat médical doit alors être produit devant le tribunal d’Instance par le mandataire choisi.  </p>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse5=true"><em>Le MASP. </em></h6>
				<div class="wrapper-reponse" ng-show="reponse5">
					<p>Cett e mesure d’Accompagnement Social Personnalisé défi nie par la loi du 5 mars 2007  a permis au législateur de supprimer la tutelle aux prestati ons familiales (remplacée par la MAJ, mesure d’accompagnement judiciaire) et limiter le recours à la Sauvegarde de Justice, à la Curatelle ou à la Tutelle.</p>
					<p>Cett e mesure concerne toute personne majeure qui perçoit des prestations familiales et dont la santé ou la sécurité sont menacées par les difficultés qu’elle éprouve à gérer ses ressources (CAF, art. L.271-1)</p>
					<p>C’est le département qui met en place la mesure et délègue la mise en œuvre au CCAS ou à une association par convention.</p>
					<p>Elle consiste en une aide à la gestion des P.F et en un accompagnement social individualisé</p>
					<p><b>Conditions:</b> l’intéressé  consent à la mesure: le principe reste celui de l’adhésion volontaire.</p>
					<p>S’il n’y consent pas, le président du Conseil Général peut demander au juge d’instance que les prestati ons familiales soient versées, chaque mois, au bailleur ( APL, ALS, Complément de ressources de l’AAH, différentiel RSA socle-Ressources du foyer). L’autorisation du juge d’instance peut aussi être étendu aux autres allocations.</p>
					<p>La mesure cesse lorsque les causes ayant conduit à ordonner la mesure ont cessé.</p>
					<p>Si la situation n’évolue pas favorablement, il peut y avoir saisine du procureur de la République aux fins d’ouverture d’une mesure d’accompagnement judiciaire par le juge des tutelles.</p>
					<button  class="btn btn-default" ng-click="reponse5=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse6=true"><em>La MAJ </em></h6>
				<div class="wrapper-reponse" ng-show="reponse6">
					<p>Cette Mesure d’Accompagnement Judiciaire n’intervient que si les MASP se sont révélées inefficaces.</p>
					<p>La MAJ remplace la tutelle aux prestations sociales depuis le 1er janvier 2009 et prend effet au plus tard pour les procédures en cours le 31 décembre 2011.</p>
					<p>Elle est exercée par un mandataire judiciaire désigné par le juge. </p>
					<p>Il perçoit les prestati ons, les gère et exerce une action éducative de manière à rétablir les conditions d’une gestion autonome des prestations sociales.</p>
					<p>A tout moment, le juge peut modifier l’étendue de la mesure, l’étendre ou l’alléger ou y mettre fin mais toujours après avoir entendu la personne. </p>
					<button  class="btn btn-default" ng-click="reponse6=false;">FERMER</button>
				</div>
			</div>
		</div>

