		<div class="row">
		  	<div class="col-sm-12 titre-FT">Protection sociale des étrangers<i class="zmdi zmdi-compass icon-savoir" data-toggle="modal" style="margin-left: 35%;" data-target=".savoir-modal-lg13"  style="color: white;cursor: pointer;"></i></div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>En situation irrégulière</blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">AIDE MÉDICALE DE L’ÉTAT (AME)</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> L’AME permet la prise en charge des frais de santé des étrangers en résidence «NON régulière», et de leurs ayants droit. Elle doit être demandée à titre préventif.</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> L’AME est une prise en charge à 100 % des frais de santé pour la médecine de ville et la médecine hospitalière et dispense de l’avance des frais. </li>
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> L’AME peut aussi être accordée seulement pour des soins urgents (soins hospitaliers)</li> 
					</ul>
					<p><b>Peuvent aussi prétendre à l’AME sous conditions:</b></p>
					<ul>
						<li>Les étrangers en situation régulière mais vivant en France depuis moins de 3 mois.</li>
						<li>Les demandeurs d’asile et les étrangers accueillis pour des soins n’ont pas la condition de résidence de 3 mois à respecter.</li>
					</ul>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Conditions d’attribution et pièces à joindre </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>Le patient doit fournir les preuves des quatre conditions à remplir:  </p>
					<p><b>Résidence:</b> prouver 3 mois de résidence en France (bail, facture EDF de plus de 3 mois…).</p>
					<p><b>Ressources:</b> fournir toutes pièces justificatives de ressources. Ne pas dépasser le plafond.</p>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span>Seules les ressources du demandeur et de ses ayants droit peuvent être comptabilisées (article 40 du décret du 02/09/1954). En aucun cas les ressources de l’hébergeant ne doivent être prises en compte, sauf si ce dernier est l’ayant droit du demandeur. En l’absence de justificatif de ressources, l’administrati on accepte une «déclaration sur l’honneur» (article 445-1 du décret du 2 sept 1954).
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">NOTA BENE:</span>Les aides alimentaires procurées par un ti ers, personne privée ou association peuvent être considérées en valeur comme un revenu ne relevant pas d’un régime d’assistance de l’état. Elles peuvent être comptabilisées à concurrence de leur esti mati on mensuelle ou annuelle. Pareillement, le fait d’être hébergé gratuitement relève d’un avantage évalué, en terme de ressources, équivalent au forfait ALS du RSA socle, soit 61,12 euros au 1er septembre 2014 pour une personne seule, (122,23 euros pour un couple).
							</p>
						</div>
					</div>
					<p><b>Identité:</b> prouver son identité (passeport, carte d’identité, acte de naissance,…).</p>
					<p>En l’absence de cette preuve, l’administration accepte, en dernier lieu, une attestation d’identité établie par un médecin traitant ou une association agréée. </p>
					<p><b>Domiciliation: </b>avoir un domicile ou une attestation d’hébergement. Les SDF doivent élire domicile soit auprès d’un CCAS, soit auprès d’un organisme agréé. </p>
					<p>De plus, il faut joindre impérativement la photo d’identi té récente du demandeur et de tous ses ayants droit.</p>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> en cas de refus d’attribution, contacter une association spécialisée dans le droit des étrangers.
							</p>
						</div>
					</div>
					<p><b>Les recours:</b> ils doivent être adressés à la commission départementale d’aide sociale et de l’ARS </p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Procédure</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Retirer et remplir le formulaire Cerfa 50741 à la CPAM ou le télécharger sur <a target="_blank" href="http://www.amelie.fr"></a> www.ameli.fr, le déposer à la caisse du lieu de résidence de l’intéressé ou l’envoyer avec accusé de réception à l’adresse figurant sur le dossier (à Paris: AME-CPAM de paris CS 70001 75948 Paris cedex 19).</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Le patient reçoit une invitation à aller retirer son attestation de droit, qui se présente sous la forme d’une carte plastifiée individuelle d’AME, à la CPAM (la taxe de 30 euros a été supprimée en 2013)</li>
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> L’AME peut aussi être accordée seulement pour des soins urgents (soins hospitaliers)</li> 
					</ul>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span>Une carte qui n’a pas été retirée dans le délai d’1 mois après la date de mise à disposition risque d’être considérée comme sans validité et les droits à l’AME perdus. Cette carte est à présenter à chaque professionnel de santé pour bénéficier de la gratuité.
							</p>
						</div>
					</div>
					<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p>la prise en charge débute, (bien vérifier si le dossier est complet), à la date du dépôt de la demande.</p>
					<p> Les droits sont ouverts pour un an et sont renouvelables deux mois avant l’échéance (prévoir 3 mois en Ile-de-France).</p>
					<p>Les soins hospitaliers peuvent être pris en charge de manière rétroactive si la demande d’AME a été déposée dans les trente jours suivant la délivrance de ces soins</p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Aide médicale de l’État pour soins urgents</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>Les étrangers en situation irrégulière vivant en France depuis moins de 3 mois peuvent néanmoins être pris en charge pour des soins urgents, qui, s’ils n’étaient pas réalisés, mettraient «en jeu le pronostic vital» ou pourraient «conduire à une altération grave et durable de l’état de santé de la personne ou d’un enfant à naître».</p>
					<ul>
						<li>Soins urgents </li>
						<li>Soins pour maladies infectieuses et transmissibles</li>
						<li>Soins aux mineurs</li>
						<li>Examens de prévention sur les femmes enceinte</li>
						<li>IVG pour motif médical</li>
					</ul>
					<p>Cette démarche peut aussi être tentée pour les pati ents en nécessité de soins et ayant commencé leur démarche de renouvellement hors délai. Dans ce cas orienter sur un accueil PASS de la CPAM avec un courrier médical justifiant la demande d’instruction en urgence.</p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>Aide médicale de l’État à titre humanitaire (urgence):</em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>Elle peut être accordée aux personnes ne résidant pas habituellement en France (carte de court séjour ou visa touristique).</p>
					<ul>
						<li>En cas d’accident ou de maladie survenant lors du séjour.</li>
						<li>Dans le cas où les soins ne peuvent être dispensés dans leur pays d’origine.</li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">RÉGULARISATION POUR RAISONS DE SANTÉ </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse">
					<p>Les titres de séjour pour raisons médicales permettent de régulariser la situation administrative du patient.</p>
					<p><b>Deux possibilités existent:</b> l’autorisation provisoire de séjour (APS) et la carte de séjour temporaire (CST).</p>
				</div>
				<h6 class="titre-reponse-FT" ng-click="reponse5=true"><em>Conditions</em></h6>
				<div class="wrapper-reponse" ng-show="reponse5">
					<p>Cinq conditions sont à remplir:</p>
					<ul>
						<li>la nécessité d’une surveillance médicale</li>
						<li>la gravité de la pathologie pouvant entraîner la mort ou le handicap</li>
						<li>l’absence de traitement équivalent dans le pays d’origine du patient</li>
						<li>résider depuis au moins un an en France pour obtenir la CST, sinon le patient pourra obtenir une APS</li>
						<li>le patient n’a pas fait menace à l’ordre public</li>
					</ul>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">ATTENTION:</span> Depuis le 16 juin 2011 la loi est devenue beaucoup plus restrictive: il ne suffit plus que le traitement ne soit pas accessible, il faut prouver qu’il n’existe pas à l’échelle du pays quelque soit son accessibilité. Seuls les laboratoires, certaines ONG, l’OMS, sont réellement susceptibles d’attester de la non existence d’un traitement dans le pays concerné. Prévoir de se procurer ces preuves dans l’hypothèse d’un refus de la préfecture et d’un recours en seconde saisine et/ou en contentieux devant le tribunal administratif.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 ">
							<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: #1CA25F; font-weight:bold;">A NOTER:</span>  Les nouvelles dispositions de la loi prévoient que l’autorité administrative peut – c’est une possibilité et non pas une obligation – prendre en compte «des considérations humanitaires exceptionnelles» après avoir recueilli l’avis du directeur général de l’ARS, pour accorder un droit au séjour pour soins. Dans le cas de cett e seconde saisine, il est donc bon d’informer, au préalable, l’ARS de la situation du patient en envoyant un rapport médical au médecin inspecteur de l’agence.
							</p>
						</div>
					</div>
					<button  class="btn btn-default" ng-click="reponse5=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse6=true"><em>Modalités</em></h6>
				<div class="wrapper-reponse" ng-show="reponse6">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Le patient doit se rendre en personne à la préfecture pour retirer un dossier de demande de régularisation pour raisons médicales .
							<ul>
								<li>S’il est hospitalisé, l’AS de l’hôpital peut se charger de consti tuer le dossier en collaborati on avec une associati on ou structure spécialisée dans le droit des étrangers: Comède, Cimade. Voir carnet d’adresses p.122</li>
							</ul>
						</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Le patient doit réunir les pièces suivantes avec l’aide du médecin traitant:
							<ul>
								<li>Preuve de domiciliation: possibilité de se faire domicilier au CCAS ou auprès d’une association agréée, si le patient est SDF. Contacter votre mairie.</li>
								<li>Preuve d’identité (passeport, carte d’identité, extrait d’acte de naissance (traduit par traducteur assermenté: voir liste auprès de la cour d’appel). Si cette pièce est manquante, contacter une association spécialisée.</li>
								<li>Trois photos d’identité.</li>
								<li>Toute preuve d’ancienneté de séjour. </li>
								<li>Un certificat médical du médecin traitant.  </li>
								<li>Un rapport médical du médecin traitant. <button ui-sref="115" data-dismiss="modal" class="btn btn-default btn-LT">Lettre type</button></li>
							</ul>
						</li> 
					</ul>
					<button  class="btn btn-default" ng-click="reponse6=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse7=true"><em>Recours</em></h6>
				<div class="wrapper-reponse" ng-show="reponse7">
					<p>En cas de refus, les recours doivent être envoyés en 2ème saisine auprès du Médecin chef de la préfecture via le préfet et par courrier conjoint au médecin inspecteur de l’ARS (Agence Régionale de Santé), accompagnés d’un rapport médical circonstancié et étayé de preuves. Lettre type p.113 </p>
					<p>Le tribunal administratif peut être sollicité en cas de refus possiblement injustifié du point de vue du droit.</p>
					<p>A tous égards, il est préférable de prendre contact avec une association spécialisée dans le droit des étrangers.</p>
					<button  class="btn btn-default" ng-click="reponse7=false;">FERMER</button>
				</div>
			 </div>
		</div>


<div class="modal  fade savoir-modal-lg13" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog savoir-modal-lg13" role="document">
	    <div class="modal-content wrapper-fiche ">
		    <div class="modal-body">
		    	<h3 class="titre-conduite" ><span style="color: orangered;font-size: 30px;" class="glyphicon glyphicon-triangle-right"></span>REMARQUE GENERALE ET AVERTISSEMENT</h3>
				<p>Certains ressortissants des pays de l’Est, malades, arrivent souvent en France après un passage par des pays de l’Espace Schengen, Allemagne, Pologne, Belgique, Italie, etc. </p>
				<p>Ils déposent d’abord une demande d’asile politique qui aboutit souvent à une réponse négative de la part des états, y compris la France qui prononce souvent à leur encontre une ordonnance de quitter le territoire pour aller déposer leur demande d’asile dans le premier pays qui les a reçus (Loi dite de Dublin II).</p>
				<p>C’est en seconde instance qu’ils déposent alors une demande de séjour pour soins.</p>
				<p>Les préfectures en général, n’aiment pas cela. Elles sont susceptibles de confisquer les passeports dans l’attente de la réponse du médecin chef de la préfecture et de les placer en rétention si cette réponse s’avère négative.</p>
				<p>A Paris, par exemple, la préfecture fait traiter les demandes de séjour pour soins des personnes en situation initiale de réadmission dans un autre pays, donc expulsables, par le 8ème Bureau précisément chargé à la préfecture, des expulsions. </p>
				<p>Il peut être recommandé, dans ce cas, d’envoyer un courrier circonstancié au Défenseur Des Droits afin qu’il saisisse l’administration pour cette incongruité.</p>
			</div>	
	    <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	    </div>
	    </div>
	</div>
</div>


