		<div class="row">
		  	<div class="col-sm-12 titre-FT"> Protection des mineurs</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Ces trois aides ne sont pas cumulables entre elles. Elles permettent de payer les aides à domicile." </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>"La loi sur «la protection de l’enfance en danger en France" </b> en tant que dispositif légal établi par la loi du 5 mars 2007 réformant la protection de l’enfance, définit deux catégories d’enfants, les mineurs en risques de danger relevant du conseil général (département) et les mineurs en danger relevant du juge des enfants.</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>La protection de l’enfance en danger en France comporte deux volets:</b>
							<ul>
								<li>la protection administrative;</li>
								<li>la protection judiciaire des mineurs.</li>
							</ul>
						</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>La première est confiée au conseil général</b> (département, directi on de la solidarité départementale, associations agrées, établissements agréés, éducateurs spécialisés). Elle est régie par le code de l’action sociale.</li>
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>Procédure d’urgence:</b> La seconde est confiée au ministère de la justice</b> (État) à travers le juge des enfants et le procureur de la république, le code civil faisant référence..</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LA PROTECTION ADMINISTRATIVE</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>Elle implique la participation volontaire des parents du mineur et les services décentralisés de l’état. </b></li>
					</ul>
					<p>Elle consiste en une série de mesures d’assistance éducatives qui peut aller jusqu’à l’intervention des services de l’ASE à domicile </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>Elle implique la participation volontaire des parents du mineur et les services décentralisés de l’état. </b></li> 
					</ul>
					<ul>
						<li>l’aide d’un(e) technicien(ne) de l’intervention sociale et familiale (TISF) Les TISF accompagnent les familles rencontrant des difficultés éducatives et sociales qui perturbent leur vie quotidienne. Elles apportent un soutien de proximité au domicile des familles en vue de leur permettre de retrouver leur autonomie.</li>
						<li>un accompagnement en économie sociale ou familiale (AESF). Elle a pour but d’aider les parents par la délivrance d’informations, de conseils pratiques et par un appui technique dans la gestion de leur budget au quotidien. Elle peut être demandée par la famille ou les service de l’ASE. Elle est attribuée par le Président du Conseil Général</li>
						<li>Une action éducative à domicile (AED), prestation d’aide sociale à l’enfance mise en oeuvre avec l’accord des parents, ou à leur demande. Elle apporte un soutien matériel et éducatif à la famille (par exemple, en cas de situation de carence éducative, de difficultés relationnelles, conditions d’existence qui risquent de mettre en danger la santé, la sécurité, l’entretien, l’éducation ou le développement de l’enfant).</li>
						<li>le versement d’aides financières, effectué sous forme soit de secours exceptionnels, soit d’allocations mensuelles.</li>
						<li>Un accueil provisoire dans une structure protégée</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">UNE PROTECTION JUDICIAIRE</h3>
		 	</div>
		</div>
		<div class="row">
				<div class="col-sm-12 titre-reponse">
					<div class="wrapper-reponse" >
						<p>La loi du 5 mars 2007, réformant la protection de l’enfance, prévoit l’organisation d’une cellule départementale en matière de recueil, de traitement et d’évaluation des <b>«Informati ons Préoccupantes» </b>relatives à la mise en danger des mineurs</p>
						<p>«Un jeune est considéré, par la loi, comme étant en danger lorsqu’il est maltraité physiquement, moralement ou lorsque ses conditions de vie ne lui permett ent pas un bon développement physique et psychologique.»</p>
						<ul class="liste-reponse"> 
							<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>L’information préoccupante</b> est le premier niveau de signalement d’une situation de danger potentiel concernant un mineur</b></li> 
						</ul>
						<p>Elle se concrétise par un appel au 119, le Service Nati onal d’Accueil Téléphonique de l’Enfance en Danger, SNATED, ou par la transmission de cette information directement au service de l’ASE du Département.</p>
						<ul class="liste-reponse"> 
							<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>Le signalement judiciaire</b> constitue les 2ème niveau d’intervention. Il caractérise les faits graves et avérés constituant un crime ou un délit  et impliquant une mise en danger caractérisée de l’enfant. Dans ces cas là le Parquet doit être directement saisi ou le commissariat de police, la Brigade des mineurs ou la gendarmerie.</li> 
							<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>L’instance judiciaire - Le juge des enfants</b> - intervient alors à la demande du Parquet qui le saisit obligatoirement après un signalement et une constatation d’un danger imminent (maltraitance de l’enfant et/ou fait de délinquance impliquant un mineur). </li> 
							<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>Si le juge est saisi,</b> la famille est convoquée pour une audience. </li> 
							<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span><b>Le juge peut alors décider:</b></li> 
						</ul>
						<ul>
							<li>un complément d’informations par le biais d’une enquête sociale</li>
							<li>d’une ordonnance de placement provisoire, </li>
							<li>d’un retrait des droits parentaux (placement dans un foyer, ASE, famille d’accueil).</li>
						</ul>
						<p>Le Juge pour enfant peut aussi être saisi directement par les services de l’ASE </p>
						<ul>
							<li>si la protection administrative n’a pas produit les effets escomptés</li>
							<li>si la famille refuse toute intervention à domicile</li>
							<li>si le mineur est présumé en situation de danger.</li>
						</ul>
						<p>Il intervient aussi dans les cas de mesures judiciaires d’Aide à la Gestion du Budget Familial lorsque les prestations familiales ne sont pas employées pour assurer les besoins de l’enfant ou quand l’accompagnement AESF ne paraît pas suffisant.</p>
						<p>Un délégué aux prestations familiales peut être nommé pour une période de 2 ans renouvelables. Il perçoit les prestations à la place de la famille et exerce auprès d’elle une véritable action éducative.</p>
				</div>
			</div>
		</div>




