		<div class="row">
		  	<div class="col-sm-12 titre-FT">Le RSA</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"Créé le 1er décembre 2008 en remplacement du RMI, le Revenu de Solidarité Active est versé par les CAF ou les MSA."   </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">LA TRIPLE FINALITÉ DU REVENU DE SOLIDARITE ACTIVE </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse" >
					<p><b>1.</b> Apporter aux personnes en situation de précarité un revenu minimum dont le taux est modulable en fonction de la composition du foyer et des autres ressources.</p>
					<p><b>2.</b> Lutter contre l’exclusion sociale en subordonnant le versement de cette allocation à la mise en œuvre d’un contrat d’insertion pour le bénéficiaire, en relation avec les dispositifs mis en place (commissions départementales ou locales d’insertion). La recherche d’emploi fait « nécessairement » partie des engagements que le bénéficiaire doit prendre.</p>
					<p><b>3.</b> Constituer un complément de revenus pour les foyers dont les membres ne tirent de leur activité que de ressources limitées. </p>
					<p>Le programme départemental d’insertion est très varié d’un département à un autre. </p>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">CONDITIONS POUR EN BÉNÉFICIER</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Être âgé de plus de 25 ans (il n’existe pas de plafond d’âge, mais lorsque l’âge de la retraite est atteint, il est conseillé de se tourner vers la CAF ou le MSA pour étudier la situation). </li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Etre âgé de moins de 25 ans dans deux cas de figure.<br>
						si le patient a un enfant à charge ou à naître.<br> si le patient a travaillé l’équivalent de 2 ans pendant les 3 dernières années</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Conclure un contrat d’insertion. </li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Etre considéré comme un travailleur pauvre (moins de 880 euros mensuels).</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Être en situation de reclassement professionnel avec un statut de stagiaire de la formation professionnelle. </li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Être en situation d’isolement avec un ou plusieurs enfants à charge.</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Être en situation régulière avec autorisation de travail depuis au moins 5 ans pour les étrangers extra-communautaires et avoir acquis un droit au séjour par le travail pour les ressortissant de la communauté européenne.</li> 
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 ">
				<p class="attention"><i style="color: #1CA25F;" class="zmdi zmdi-alert-polygon"></i> <span style="color: red; font-weight:bold;">A SAVOIR et ATTENTION:</span> le contrat d’insertion est un contrat en deux parties. Une fois rédigé et signé par le patient et son conseiller, chacun doit le respecter. Dans le cas contraire, il peut y avoir rupture partielle ou totale du RSA.<br> Vérifiez avec votre patient que les conditions de son contrat d’insertion soient bien adaptées à son état physique et psychologique: est-il capable d’effectuer les démarches exigées? Dans le cas contraire, vous pouvez adresser un courrier soit à l’instructeur du RSA, afin que le contrat puisse correspondre à ses capacités.<br> Par ailleurs, les contrats d’insertion du RSA peuvent consister à se faire soigner (volet santé). Exemple: alcoolisme, dépression qui font frein à l’insertion par l’emploi. <button ui-sref="106" class="btn btn-default btn-LT">Lettre type</button>
				</p>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">SONT EXCLUS DU BÉNÉFICE DU RSA</h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse">
					<p>Les élèves, étudiants, les stagiaires non rémunérés </p>
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Les salariés en congé sans solde ou sabbatique.</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Les jeunes de moins de 25 ans en raison de leur âge sauf exception ci-dessus.</li> 
					</ul>
					<p><b><em>A noter:</em></b></b> Pour les 18-25 ans Une «Garantie Jeune» est instaurée progressivement en 2015 dans 72 départements sur 100. Elle permet aux jeunes vulnérables de recevoir une allocation proche du RSA, s’ils s’engagent dans un parcours d’insertion. Se renseigner auprès de la mission locale. </p>
					<p><b><em>RSA DÉROGATOIRE:</em></b> même si la règle dit que les étudiants ne peuvent pas prétendre au RSA, des mesures dérogatoires existent sous certaines conditions (type d’études, niveau d’études, lorsque la situation exceptionnelle du demandeur au regard de son insertion sociale et professionnelle, le justifie). C’est le cas notamment pour les 3èmes année d’études de service social sous réserve d’avoir 25 ans. Se renseigner auprès du Conseil Général. </p>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">OÙ DÉPOSER UNE DEMANDE? </h3>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
			<h6 class="titre-reponse-FT" ng-click="reponse1=true"><em>Auprès: </em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<ul>
						<li>d'une CAF</li>
						<li>d'un CCAS</li>
						<li>d’un service départemental d’Action sociale</li>
						<li>d’associations ou organismes à but non lucratif agréés, notamment pour les personnes sans résidence stable. <button data-dismiss="modal" ui-sref="pieces-a-joindre" class="btn btn-default btn-PAJ">Pièces à joindre</button></li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse2=true"><em>Conditions particulières</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
				<p>Les SDF doivent élire domicile auprès du CCAS ou d’une association agréée (ATD Quart Monde, Secours catholique…).<br> Sous certaines conditions, les catégories ci-dessous peuvent bénéficier du RSA:</p>
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Les ressortissants étrangers hors Espace économique européen munis d’une carte de résident ou d’une carte de séjour et de travail depuis plus de 5 ans.</li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Les ressortissants étrangers de l’Union européenne et de l’Espace économique européen (condition de résidence de plus de trois mois et sous réserve d’avoir déjà occupé un emploi en france).</li> 
					</ul>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
		  	<div class="col-sm-12 ">
		  		<h3 class="quoi">PROTECTION SOCIALE DES BÉNÉFICIAIRES DU RSA </h3>
		  		<p>Hormis le versement d’une allocation complète ou différentielle de ressources, les titulaires du RSA bénéficient de:</p>
		 	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse3=true"><em>Une couverture sociale</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Les bénéficiaires du RSA qui ont travaillé et ouvert des droits aux prestations de SS restent affiliés au régime général (de même que leurs ayants droit). À partir de la date de perception du 1er RSA, ils gardent, pour 1 an encore, leurs droits aux indemnités (IJ, invalidité…). <button  class="btn btn-default btn-fiche" data-dismiss="modal" ui-sref="CS-chomeur">Voir Couverture sociale des chômeurs</button></li> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Pour ceux qui ne sont pas ou plus couverts, ils ont droit à la CMU. <button data-dismiss="modal" class="btn btn-default btn-fiche" ui-sref="CMU">Voir CMU</button></li> 
					</ul>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse4=true"><em>Une complémentaire </em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>Sous conditions de ressources, ils peuvent bénéficier de la CMUC qui prend en charge le ticket modérateur et le forfait journalier hospitalier (prise en compte des revenus des 12 mois précédant la demande).</p>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse5=true"><em>Aides sociales </em></h6>
				<div class="wrapper-reponse" ng-show="reponse5">
					<ul class="liste-reponse"> 
						<li><span  class="glyphicon glyphicon-triangle-right triangle-FT"></span> Sous conditions de ressources des 6 mois précédents, ils peuvent percevoir une aide au logement. <button  class="btn btn-default btn-fiche" data-dismiss="modal" ui-sref="aide-logement">Voir Aide au logement</button></li> 
					</ul>
					<ul>
						<li>Des aides financières individuelles des CPAM peuvent être attribuées pour aider à payer des soins coûteux: prothèse dentaire et optique. </li>
						<li>Exonération de la taxe d’habitation.</li>
						<li>Réduction sociale téléphonique.</li>
						<li>Aide au paiement d’une facture EDF. </li>
					</ul>
					<button  class="btn btn-default" ng-click="reponse5=false;">FERMER</button>
				</div>
			 </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse-FT" ng-click="reponse6=true"><em>Calcul du montant du RSA Montant maximum de l’allocation depuis le 1er septembre 2014</em></h6>
				<div class="wrapper-reponse" ng-show="reponse6">
					<table class="table table-striped">
						<thead>
							<th>Nombre d'enfants</th>
							<th>Personne seule</th>
							<th>En couple</th>
						</thead>
						<tr>
							<td>0</td>
							<td>513,88€</td>
							<td>770,82€</td>
						</tr>
						<tr>
							<td>1</td>
							<td>770,82€</td>
							<td>924,99€</td>
						</tr>
						<tr>
							<td>2</td>
							<td>924,99€</td>
							<td>1079,15€</td>
						</tr>
						<tr>
							<td>Par enfant supplémentaire</td>
							<td>+ de 205,5€</td>
							<td>+ de 205,5€</td>
						</tr>
					</table>
					<ul>
						<li>Montant Forfaitaire Maximum pour parent isolé</li>
						<li>Femme enceinte sans enfants: 654,00 euros/mois</li>
						<li>Parent isolé, 1 enfant de moins de 3 ans à charge: 872,00 euros/mois</li>
						<li>Par enfant supplémentaire: 218,00 euros/mois</li>
					</ul>
					<p><b>Personnes exerçant une activité professionnelle: </b>
					<br>RSA = Montant forfaitaire maximum + 62% des revenus professionnels – ressources du foyer.</p>
					<p>L’ensemble des ressources est pris en compte pour le calcul de l’allocation. Se renseigner auprès de la CAF.
					</p>
					<h4 class="savoir" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> A savoir</h4>
					<p>Le montant du RSA est apprécié tous les 3 mois lors de chaque déclarati on de ressources trimestrielle.<br> Cette déclaration de ressources peut-être faite en ligne sur le site <a target="_blank" href="http://www.caf.fr">caf.fr</a> sur la base du n° matricule et d’un code confidentiel à 4 chiffres, fourni par la CAF lors de l’ouverture des droits. </p>
					<button  class="btn btn-default" ng-click="reponse6=false;">FERMER</button>
				</div>
			 </div>
		</div>



