 		<div class="row">
		  	<div class="col-sm-12 titre-FT">Cas d’exonération du ticket modérateur</div>
		</div>
		<div class="row">
		 	<div class="col-sm-12 citation">
		  		<p><em><blockquote>"L’exonération du ticket modérateur peut être liée à une situation particulière, à la nature d’un acte ou d’un traitement, ou être accordée pour des raisons médicales." </blockquote></em>
				</p>
		  	</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<div class="wrapper-reponse">
					<p><b><em>Frais pris en charge à 100 % pour:</em></b></p>
					<ul>
						<li>Femmes enceintes à partir du 6e mois de grossesse jusqu’au 12e jour après la date de l’accouchement</li>
						<li>Nouveau-nés 30 jours après la naissance</li>
						<li>Hospitalisation à partir du 31e jour</li>
						<li>Acte sup K50</li>
						<li>Titulaires d’une pension d’invalidité</li>
						<li>Titulaires d’une pension militaire d’invalidité </li>
						<li>Titulaires d’une rente AT-MP (accident du travail – maladie professionnelle) d’un taux supérieur ou égal à 66,6 %</li>
						<li><b>Les ALD:</b> 100 % limité aux soins et traitements en rapport avec l’affection de longue durée</li>
						<li>Enfants et adolescents mineurs victimes de sévices sexuels.</li>
					</ul>
					<p><b>Le médecin traitant établit un protocole de</b> soins sur un formulaire de prise en charge, avec la liste des soins et traitements qui pourront être pris en charge à 100 %, et l’adresse au service médical de la caisse d’assurance maladie du patient.</p>
				</div>
			 </div>
		</div>
		<div class="col-sm-12 wrapper-savoir">
			<h4 class="savoir-FT" ><span class="glyphicon glyphicon-arrow-right savoir-arrow-FT" ></span> NOTA BENE</h4>
			<p>Une demande effectuée par un médecin non traitant n’ouvre les droits à 100% que pour une période de 6 mois. </p>
		</div>
		
