
<div class="row">
	<div class="col-sm-12 titre-reponse">
		<div>
			<p style="text-align: center;margin-bottom: 5rem;font-size: 25px;padding: 2rem;background-color: #1a1a1a;color: white;">Bienvenue sur le Guide<b>Social</b> <em>du médecin</em></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4 titre-reponse">
		<div class="wrapper-accueil" >
			<p class="menu-accueil" style="background-color:#FF193D; "><a ui-sref="menu-fs">Fiches de situations</a> </p>
		</div>
	</div>
	<div class="col-sm-4 titre-reponse">
		<div class="wrapper-accueil" >
			<p class="menu-accueil" style="background-color:#1CA268;""><a ui-sref="menu-ft">Fiches techniques</a></p>
		</div>
	</div>
	<div class="col-sm-4 titre-reponse">
		<div class="wrapper-accueil" >
			<p class="menu-accueil" style="background-color: sandybrown;"><a ui-sref="lexique">Lexique</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4 titre-reponse">
		<div class="wrapper-accueil" >
			<p class="menu-accueil" style="background-color:#ab499b; "><a  ui-sref="menu-lt">Lettres type</a> </p>
		</div>
	</div>
	<div class="col-sm-4 titre-reponse">
		<div class="wrapper-accueil" >
			<p class="menu-accueil" style="background-color:#7b97d1; "><a ui-sref="pieces-a-joindre">Pièces à joindre</a></p>
		</div>
	</div>
	<div class="col-sm-4 titre-reponse">
		<div class="wrapper-accueil" >
			<p class="menu-accueil" style="background-color:orangered; "><a ui-sref="carnet-adresses">Carnet d'adresses</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 titre-reponse">
		<div class="wrapper-accueil" >
			<p class="menu-accueil" style="background-color:#0363ad ;"><a target="_blank" href="http://annuairesante.ameli.fr/">Annuaire santé</a> </p>
		</div>
	</div>
	<div class="col-sm-4 titre-reponse">
		<div class="wrapper-accueil" >
			<p class="menu-accueil" style="background-color:#3e306b "><a target="_blank" href="http://www.ameli.fr/simulateur-droits">Simulateur de droits</a></p>
		</div>
	</div>
	<div class="col-sm-4 titre-reponse">
		<div class="wrapper-accueil" >
			<p class="menu-accueil" style="background-color:#e24e5e; "><a target="_blank" href="http://www.ameli.fr/simulateur">Simulateur indemnités </a></p>
		</div>
	</div>
</div>