
<div class="modal  fade FT-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
	      <div class="modal-content wrapper-FT">
	        <div class="modal-body">
	          <ng-include src="fiche"></ng-include>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	        </div>
	    </div>
    </div>
</div>

<button ui-sref="115" class="btn btn-default btn-LT">Lettre type</button>

<button ui-sref="pieces-a-joindre" class="btn btn-default btn-PAJ">Pièces à joindre</button>

<button ui-sref="carnet-adresses" class="btn btn-default btn-CA">Carnet d'adresses</button>