		<div class="row">
		  <div class="col-sm-12 titre">Votre patient est une personne vulnérable</div>
		</div>
		<div class="row">
		  <div class="col-sm-12 citation">
		  	<p><em><blockquote>"Votre patient vous donne l’impression de ne plus avoir la maitrise de sa propre vie sur certains plans de la vie quotidienne: tenue de son foyer, gestion de ses ressources, formalités administratives et juridiques, prises de décisions à caractère social, personnel, professionnel, commercial ou familial." </blockquote></em>
			</p>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-12 ">
		  	<h3 class="quoi">VOUS DEVEZ SAVOIR</h3>
		  </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<p>Que les personnes en situation d’incapacité pour des motifs touchant à leur vulnérabilité physique, psychologiques et/ou sociales font l’objet de mesures de protections spécifiques. </p>
				<h6 class="titre-reponse" ng-click="reponse1=true"><em>Mesures de protections principales</em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<ul>
						<li>1. La sauvegarde de la justice</li>
						<li>2. La curatelle</li>
						<li>3. La curatelle forcée </li>
						<li>4. La tutelle</li>
					</ul>
					<p>Toutes ces mesures de protection, relèvent d’une requête auprès du Juge des tutelles du tribunal d’instance du lieu de domicile de votre patient ou, s’il est sans domicile mais domicilié auprès d’une association ou d’un organisme agréé, auprès du T.I. dont cette domiciliation dépend. Cett e requête ne doit être tentée que lorsque la santé de la personne fait apparaître une altération rendant difficiles l’exercice de ses droits civils. <button  class="btn btn-default btn-fiche"  data-toggle="modal" data-target=".FT-modal-lg" ng-click="template('protection-majeurs');">Voir Protection des majeurs vulnérables</button></p>
					<p>Si votre patient fait déjà l’objet d’une mesure de protecti on particulière, prenez contact avec l’organisme mandataire chargé de la tutelle ou curatelle, informez la des questions qui vous préoccupent le concernant, dans le respect du secret médical</p>
					<p>A défaut, et avec l’accord de votre patient, contactez le service social du CCAS ou le service social de secteur ou mett ez le en contact avec ces services  pour une prise de rendez vous. Joignez au besoin un courrier pour expliquer quelles sont vos craintes et pourquoi vous vous posez le problème d’une action en protection de majeur vulnérable.</p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse" ng-click="reponse2=true"><em>Les mesures intermédiaires</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p><em>Pour le cas où il ne serait pas sous le coup d’une mesure de protection, sachez qu’il existe une possibilité de Mesure d’Accompagnement Social Personnalisé, MASP, qui peut faire l’objet d’un consensus entre la personne et les services sociaux et que cette mesure peut-être complétée par une Mesure d’Accompagnement Judiciaire MAJ qui permet d’aller plus loin dans le sens de l’acquisition de l’autonomie. </em></p>
					<p>Ces deux mesures ne visent qu’à compenser une perte d’autonomie provisoire et correspondent à une demande d’assistance de la personne elle même. </p>
					<p>Enfin, il existe aussi, sur décision du Juge pour enfants, la désignation d’un Délégué aux prestations familiales quand les parents, malgré toutes les mesures préalables d’assistance éducatives, ne consacrent pas les revenus des prestations familiales à l’entretien, au bien être et à la santé des enfants. Cette mesure est davantage coercitive mais du fait de la mesure éducative qui la caractérise vise aussi au renforcement de l’autonomie de la personne.</p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse" ng-click="reponse3=true"><em>Les mesures provisoires</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>Peut-être votre patient n’a-t-il besoin que d’être aidé très provisoirement du fait d’une incapacité passagère (à vous d’en apprécier le caractère provisoire)?</p>
					<p><em>La simple procuration est d’un usage facile qui permet parfois de répondre à l’essentiel des besoins quand le handicap est de courte durée.</em></p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse" ng-click="reponse4=true"><em>La situation particulière des personnes âgées</em></h6>
				<div class="wrapper-reponse" ng-show="reponse4">
					<p>L’altération des facultés mentales, suite à une maladie neurologique par exemple, peut rendre une personne âgée vulnérable. Ainsi la maladie d’Alzheimer diminuer les capacités cognitives de la personne jusqu’à altérer le jugement et la capacité de faire.</p>
					<p>Si la personne âgée est seule ou mal entourée, elle devient vulnérable à d’éventuels abus même de la part de ses proches.</p>
					<p>La plupart du temps ces abus ont lieu pour des raisons financières et se traduisent par la spoliation des intérêts et des biens de la personne âgée. </p>
					<p>A l’occasion d’un examen de santé vous pouvez évaluer les troubles de santé de la personne âgée et mesurer parfois les risques encourus par elle, soit en raison de l’isolement auquel elle est contrainte si elle vit seule, soit en raison d’un risque de maltraitance du fait de relations de famille conflictuelles.</p>
					<p>En tant que médecin, l’ancienneté de votre prati que au sein d’une famille peut vous mett re en situation d’observateur privilégié pour déceler les éléments de vulnérabilité ou de maltraitance.</p>
					<p>En cas d’urgence, vous pouvez saisir le procureur de la république d’une demande de mise sous curatelle ou tutelle de la personne âgée.</p>
					<p>Les mesures de protections concernant les personnes âgées sont les mêmes que pour les majeurs vulnérables. <button  class="btn btn-default btn-fiche"  data-toggle="modal" data-target=".FT-modal-lg" ng-click="template('protection-majeurs');">Voir Protection des majeurs vulnérables</button></p>
					<p>En général, les familles s’arrangent pour ne pas en arriver à demander une protecti on juridique pour la personne à protéger car le parcours juridique est souvent douloureux psychologiquement.</p>
					<p>Dans ce cas, la famille exerce souvent une «protection de fait.»</p>
					<button  class="btn btn-default" ng-click="reponse4=false;">FERMER</button>
				</div>
			</div>
		</div>

<div class="modal  fade FT-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
	      <div class="modal-content wrapper-FT">
	        <div class="modal-body">
	          <ng-include src="fiche"></ng-include>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	        </div>
	    </div>
    </div>
</div>