		<div class="row">
		  <div class="col-sm-12 titre">Docteur, je craque, je vais démissionner<i class="zmdi zmdi-compass icon-savoir" data-toggle="modal" style="margin-left: 35%;" data-target=".savoir-modal-lg1"  style="color: white;cursor: pointer;"></i></div>
		</div>
		<div class="row">
		  <div class="col-sm-12 citation">
		  	<p><em><blockquote>"Fréquemment, la démission correspond à une situation de crise du patient. Il est important d’évaluer les motivations qui le poussent à démissionner et donc de faire un bon diagnostic social."  </blockquote></em>
			</p>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-12 ">
		  	<h3 class="quoi">POUR QUELLES RAISONS VEUT-IL DÉMISSIONNER?</h3>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-12 ">
		  	<p class="attention"><i style="color: red;" class="zmdi zmdi-alert-polygon"></i> <span style="color: red; font-weight:bold;">ATTENTION:</span> Informer votre patient sur le dispositif dit de «rupture conventionnelle» permettant à un salarié de rompre son contrat de travail en accord avec l’employeur.<button  class="btn btn-default btn-fiche"  data-toggle="modal" data-target=".FT-modal-lg" ng-click="template('demissions-legitimes');">Voir démissions légitimes</button><button  class="btn btn-default btn-fiche"  data-toggle="modal" data-target=".FT-modal-lg" ng-click="template('aide-juridictionnelle');">Voir Aide juridictionnelle</button><br>Ce dispositif peut permettre de trouver une solution de type consensuelle à défaut d’être la plus satisfaisante. Elle permet de sauvegarder l’essentiel des droits notamment le droit à une indemnisation chômage.</p>
		  </div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse" ng-click="reponse1=true"><em>S’il y a pression et/ou discrimination</em></h6>
				<div class="wrapper-reponse" ng-show="reponse1">
					<p>Lui préciser qu’il devra faire la preuve de ses allégations et que le <b>PÔLE EMPLOI lui demandera</b> de fournir un justificatif de dépôt de plainte. Mais attention, cela peut se retourner contre lui. </p>
					<p>Mais attention, cela peut se retourner contre lui.</p>
					<p>Toutefois, si son cas est fondé, cette situation fait partie de celles qui sont considérées par les <b>PÔLE EMPLOI</b> comme des cas dits de démissions légitimes pouvant donner lieu à indemnisation.<button  class="btn btn-default btn-fiche"  data-toggle="modal" data-target=".FT-modal-lg" ng-click="template('demissions-legitimes');" >Voir démissions légitimes</button><br></p>
					<button  class="btn btn-default" ng-click="reponse1=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse" ng-click="reponse2=true"><em>S’il s’agit de discrimination</em></h6>
				<div class="wrapper-reponse" ng-show="reponse2">
					<p>Conseiller au patient de contacter le Défenseur des Droits (institué par la loi du 15 mars 2011) sur le site internet dédié, ou <b>par courrier (motivé) au</b> 7 rue Saint Florentin 75008 Paris, ou déposer une requête en préfecture, sous préfecture ou en Maisons de justice et du Droit. Si le patient est en situation de handicap l’orienter vers un conseiller de la SAMETH.</p>
					<p><b> Dans les deux cas, votre patient peut prendre contact avec le médecin du travail et l’inspection du travail avec une lettre de votre part.</b></p>
					<button  class="btn btn-default" ng-click="reponse2=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 titre-reponse">
				<h6 class="titre-reponse" ng-click="reponse3=true"><em>S’il s’agit d’une crise personnelle et ponctuelle</em></h6>
				<div class="wrapper-reponse" ng-show="reponse3">
					<p>S’il est dans une situation de crise personnelle ou professionnelle (déprime, sensation d’inutilité) et pour éviter de démissionner, lui proposer autre chose.</p>
					<button  class="btn btn-default" ng-click="reponse3=false;">FERMER</button>
				</div>
			</div>
		</div>
		<div class="row">
		  <div class="col-sm-12 ">
		  	<p class="attention"><i style="color: red;" class="zmdi zmdi-alert-polygon"></i> <span style="color: red; font-weight:bold;">ATTENTION:</span> Si la légitimité de la démission n’était pas retenue, le patient devra attendre 121 jours avant l’examen de son dossier en Commission Paritaire du PÔLE EMPLOI et, en cas d’accord de la commission, une indemnisation à partir du 5ème mois de chômage.</p>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-12">
		  	<p>Un salarié en arrêt maladie peut suivre une formation professionnelle au cours de son arrêt, tout en continuant de percevoir les indemnités journalières versées par la Sécurité sociale, en respectant certaines conditions. Le salarié doit obtenir l’accord écrit du médecin traitant, puis le transmettre à la CPAM par courrier avec avis de réception. L’accord de la CPAM n’est donné que si la durée de la formation est compatible avec la durée prévisionnelle de l’arrêt de travail.
			</p>
			<p><b>Actions autorisées:</b> Formation hors temps de travail, bilan de compétences, VAE, actions d’adaptation et de développement des compétences. Non autorisées: DIF, CIF (car soumis à l’autorisati on de l’employeur). </p>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-12 ">
		  	<h3 class="quoi">QUELLES SONT LES CONSÉQUENCES D’UNE DÉMISSION?</h3>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-12">
		  	<p>Dans tous les cas, rappeler à votre patient les conséquences: chômage surtout, mais aussi endettement, rupture de vie familiale, etc...<br> Une AS peut aider votre patient en établissant un projet d’intervention sociale qui tienne compte des paramètres:
			</p>
			<ul>
				<li><b>financiers:</b> hiérarchisation des dépenses, étude des risques de surendettement,</li>
				<li><b>juridiques:</b> mise en relation avec un conseiller juridique ou un avocat, demande d’aide juridictionnelle,<button  class="btn btn-default btn-fiche"  data-toggle="modal" data-target=".FT-modal-lg" ng-click="template('aide-juridictionnelle');" >Voir aide judirictionnelle</button><br></li>
				<li><b>professionnels:</b> orientation vers les dispositifs spécialisés (Pôle emploi, associations intermédiaires, etc.).</li>
			</ul>
		  </div>
		</div>

<div class="modal  fade savoir-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg1" role="document">
	    <div class="modal-content wrapper-fiche ">
		    <div class="modal-body">
		    	<h3 class="titre-conduite" ><span style="color: orangered;font-size: 30px;" class="glyphicon glyphicon-triangle-right"></span>Conduite à tenir</h3>
				<ul>
					<li>Lui conseiller de demander un congé individuel de formation (y a-t-il droit ?).
					<button  class="btn btn-default btn-fiche" data-dismiss="modal" ui-sref="conges-particuliers">Voir Congés particuliers</button><br></li>
					<li>Prescrire un arrêt de maladie si la dépression est réelle; cela lui permettra de prendre du recul et de réfléchir. <button  class="btn btn-default btn-fiche" data-dismiss="modal" ui-sref="arret-maladie">Voir Arrêt maladie</button> </li>
					<li>Lui proposer de fournir les attestations médicales appropriées, s’il démissionne effectivement, pour qu’il puisse faire valoir ses droits en commission paritaire du PÔLE EMPLOI. <button  class="btn btn-default btn-fiche" data-dismiss="modal" ui-sref="assurance-chomage">Voir Assurance chômage</button><br> </li>
					<li>S’il existe un service social dans son entreprise ou un médecin du travail, conseiller au patient de les contacter pour leur demander une intermédiation avec son employeur.</li>
				</ul>
			</div>	
	    <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	    </div>
	    </div>
	</div>
</div>
	

 <div class="modal  fade FT-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
	      <div class="modal-content wrapper-FT">
	        <div class="modal-body">
	          <ng-include src="fiche"></ng-include>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	        </div>
	    </div>
    </div>
</div>