
		<div class="row">
		  	<div class="col-sm-12 titre-L">Lexique</div>
		</div>
		<div class="row">

			<div class="col-sm-6 titre-reponse">
			<table class="table-lexique" >
					<tr>
						<td>AAH :</td>
						<td class="L-td">allocation adulte handicapé</td>
					</tr>
					<tr>
						<td>ADIL :</td>
						<td class="L-td">Agence départementale pour l’information sur le logements</td>
					</tr>
					<tr>
						<td>AEMO : </td>
						<td class="L-td">Action éducative en milieu ouvert</td>
					</tr>
					<tr>
						<td>AER :</td>
						<td class="L-td">Allocation équivalent retraite</td>
					</tr>
					<tr>
						<td>AERD :</td>
						<td class="L-td">Action éducative renforcée à domicile</td>
					</tr>
					<tr>
						<td>ALD :</td>
						<td class="L-td">affection de longue durée</td>
					</tr>
					<tr>
						<td>AME : </td>
						<td class="L-td">Aide médicale de l’État </td>
					</tr>
					<tr>
						<td>APA :</td>
						<td class="L-td">allocation personnalisée d’autonomie </td>
					</tr>
					<tr>
						<td>ARE :</td>
						<td class="L-td">allocation de retour à l’emploi</td>
					</tr>
					<tr>
						<td>ARS :</td>
						<td class="L-td">agence régionale de santé (anciennement DDASS)</td>
					</tr>
					<tr>
						<td>AS : </td>
						<td class="L-td">assistante sociale</td>
					</tr>
					<tr>
						<td>ASE :</td>
						<td class="L-td">Aide sociale à l’enfance</td>
					</tr>
					<tr>
						<td>ASS :</td>
						<td class="L-td">allocation spécifique de solidarité</td>
					</tr>
					<tr>
						<td>ATA :</td>
						<td class="L-td">allocation temporaire d’attente</td>
					</tr>
					<tr>
						<td>BAS :</td>
						<td class="L-td">bureau d’aide sociale</td>
					</tr>
					<tr>
						<td>CAE :</td>
						<td class="L-td">contrat d’accompagnement dans l’emploi </td>
					</tr>
					<tr>
						<td>CAF :</td>
						<td class="L-td">Caisse d’allocations familiales</td>
					</tr>
					<tr>
						<td>CCAS : </td>
						<td class="L-td">Centre communal d’action sociale</td>
					</tr>
					<tr>
						<td>CDAPH :</td>
						<td class="L-td">Commission des droits et de l’autonomie des personnes handicapées</td>
					</tr>
					<tr>
						<td>CIAS :</td>
						<td class="L-td">Centre intercommunale d’action social</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-6 titre-reponse">
			<table class="table-lexique" >
			



















					<tr>
						<td>CHRS :</td>
						<td class="L-td">Centre d’hébergement et de réadaptation sociale</td>
					</tr>
					<tr>
						<td>CMU :</td>
						<td class="L-td">couverture maladie universelle</td>
					</tr>
					<tr>
						<td>CMUC :</td>
						<td class="L-td">couverture maladie universelle complémentaire</td>
					</tr>
					<tr>
						<td>CPAM : </td>
						<td class="L-td">Caisse primaire d’assurance maladie</td>
					</tr>
					<tr>
						<td>CROUS : </td>
						<td class="L-td">Centre régional des oeuvres universitaires et scolaires</td>
					</tr>
					<tr>
						<td>CRAV :</td>
						<td class="L-td">Caisse régional d’assurance vieillesse</td>
					</tr>
					<tr>
						<td>CUI : </td>
						<td class="L-td">contrat unique d’insertion </td>
					</tr>
					<tr>
						<td>FSL : </td>
						<td class="L-td">Fonds de solidarité au logement</td>
					</tr>
					<tr>
						<td>IJ : </td>
						<td class="L-td">indemnités journalières</td>
					</tr>
					<tr>
						<td>MDPH : </td>
						<td class="L-td">Maison départementale des personnes handicapées</td>
					</tr>
					<tr>
						<td>MSA : </td>
						<td class="L-td">Mutuelle sociale agricole</td>
					</tr>
					<tr>
						<td>PACS : </td>
						<td class="L-td">Pacte civil de solidarité</td>
					</tr>
					<tr>
						<td>PAIO : </td>
						<td class="L-td">Point accueil information orientation </td>
					</tr>
					<tr>
						<td>PASS : </td>
						<td class="L-td">Permanence d’accès aux soins de santé</td>
					</tr>
					<tr>
						<td>PMI : </td>
						<td class="L-td">Protection maternelle infantile</td>
					</tr>
					<tr>
						<td>RSA : </td>
						<td class="L-td">revenu de solidarité acti ve</td>
					</tr>
					<tr>
						<td>SDF :</td>
						<td class="L-td">Sans domicile fixe</td>
					</tr>
					<tr>
						<td>SMIC :</td>
						<td class="L-td">salaire minimum de croissance </td>
					</tr>
					<tr>
						<td>SS : </td>
						<td class="L-td">Sécurité sociale</td>
					</tr>
					<tr>
						<td>TASS : </td>
						<td class="L-td">tribunal des aff aires de la Sécurité sociale</td>
					</tr>
				</table>
			</div>
		</div>