		<div class="row">
		  	<div class="col-sm-12 titre-CA">Carnet d'adresses</div>
		</div>
		<div class="row">
			<div class="col-sm-6 titre-reponse">
				<ul class="liste-reponse">
					<li>Annuaire des associations de santé <a target="_blank" href="http://www.annuaire-aas.com"><br>www.annuaire-aas.com</a></li>
					<li>Alliance des maladies rares<br> <a target="_blank" href="http://www.alliance-maladies-rares.org">www.alliance-maladies-rares.org</a></li>
					<li>Association Française de la Maladie de Bechet <br><a target="_blank" href="http://www.association-behcet.org">www.association-behcet.org</a></li>
					<li>Association Lupus France<br><a target="_blank" href="http://lupusfrance.fr">lupusfrance.fr</a></li>
					<li>Orphanet - Base de données sur les maladies rares et les médicaments orphelins<br><a target="_blank" href="http://www.orpha.net">www.orpha.net</a></li>
					<li>France Alzheimer<br> <a target="_blank" href="http://www.francealzheimer.org/">www.francealzheimer.org</a></li>
					<li>ANDY - Handicap moteur <br><a target="_blank" href="http://www.andy.fr">www.andy.f</a></li>
					<li>AGEFIPH - Association de Gestion du Fonds pour l’Insertion professionnelle des Personnes Handicapées<br> <a target="_blank" href="http://www.agefiph.fr">www.agefiph.fr</a></li>
					<li>ANIL - Agence Nationale d’Information sur le Logement<br><a target="_blank" href="http://www.anil.org">www.anil.org </a></li>
					<li>APF - Association des Paralysés de France<br> <a target="_blank" href="http://www.apf.asso.fr">www.apf.asso.fr</a></li>
					<li>APF - Portail des situations de handicap moteur<br> <a target="_blank" href="http://www.moteurline.apf.asso.fr">www.moteurline.apf.asso.fr</a></li>
					<li>France AVC <br><a target="_blank" href="http://www.franceavc.com">www.franceavc.com</a></li>
					<li>CADA - Commission d’accès aux documents administratifs <br><a target="_blank" href="http://www.cada.fr">www.cada.fr</a></li>
					<li>CAF - Caisse d’Allocations Familiales <br><a target="_blank" href="http://www.caf.fr">www.caf.fr</a></li>
					<li>CNAV - Caisse Nationale d’Assurance Vieillesse, information sur la retraite<br> <a target="_blank" href="http://www.retraite.cnav.fr">www.retraite.cnav.fr</a></li>
					<li>CNRCL - Caisse Nationale de Retraite des Agents des Collectivités Locales<br> <a target="_blank" href="http://www.cnracl.fr">www.cnracl.fr</a></li>
					<li>CNSA - Caisse nationale de Solidarité pour l’Autonomie – moteur de recherche des MDPH<br> <a target="_blank" href="http://www.cnsa.fr">www.cnsa.fr</a></li>
					<li>CIMADE <br> <a target="_blank" href="http://www.lacimade.org">www.lacimade.org</a></li>
					<li>COMEDE <br><a target="_blank" href="http://www.comede.org">www.comede.org</a></li>
					<li>Convention AERAS - S’Assurer et Emprunter avec un Risque Aggravé de Santé<br><a target="_blank" href="http://www.aeras-infos.fr">www.aeras-infos.fr</a></li>
					<li>Collectif Inter associatif Sur la Santé (CISS) <a target="_blank" href="http://droitsdesmalades.fr/">www.droitsdesmalades.fr</a></li>
					<li>Droit du travail <br><a target="_blank" href="http://www.travail.gouv.fr">www.travail.gouv.fr</a></li>
				</ul>
			</div>
			<div class="col-sm-6 titre-reponse">
				<ul class="liste-reponse">
					<li>Droits et démarches en matière de santé <a target="_blank" href="http://vosdroits.service-public.fr">www.vosdroits.service-public.fr</a></li>
					<li>FENCICAT - Fédération nationale des Centres d’information et de conseil des Aides Techniques <br><a target="_blank" href="http://www.fencicat.fr">www.fencicat.fr</a></li>
					<li>FFAIR Fédérations Française des Associations et Amicales des Malades, insuffisants ou handicapés Respiratoires <br><a target="_blank" href="http://www.ffaair.org">www.ffaair.org</a></li>
					<li>HACAVIE - Handicap et cadre de vie <br><a target="_blank" href="http://www.hacavie.com">www.hacavie.com</a></li>
					<li>HALDE - Haute Autorité de Lutte contre les discriminations et l’Egalité <br><a target="_blank" href="http://www.halde.fr">www.halde.fr</a></li>
					<li>HANDICA – Handicap et autonomie <br><a target="_blank" href="http://www.handica.com">www.handica.com</a></li>
					<li>HANDi CFECGC – Confédération Française de l’Encadrement – Site dédié pour les cadres handicapés <br><a target="_blank" href="http://www.cfecgc.org/">www.cfecgc.org</a></li>
					<li>HANDIPLACE – Information pour l’emploi, la formation et l’insertion des personnes handicapées <br><a target="_blank" href="http://www.handiplace.org">www.handiplace.org</a></li>
					<li>HANDIPOLE – Politique d’emploi en faveur des personnes handicapées en Ile-de-France <br><a target="_blank" href="http://www.handipole.org">www.handipole.org</a></li>
					<li>HANDI - U – Scolarisation d’étudiant handicapé <br><a target="_blank" href="http://www.sup.adc.education.fr/handi-U/">www.sup.adc.education.fr/handi-U</a></li>
					<li>Legifrance, service public de l’accès aux droits <br><a target="_blank" href="http://www.legifrance.gouv.fr">www.legifrance.gouv.fr</a></li>
					<li>Ministère du travail, des relations sociales et de la solidarité, pôle handicap <br><a target="_blank" href="http://www.handicap.gouv.fr">www.handicap.gouv.fr</a></li>
					<li>Mouvement Pact-Arim, aménagement du domicile <br><a target="_blank" href="http://www.pact-arim.org">www.pact-arim.org</a></li>
					<li>ONIAM - Office National d’Indemnisation des Accidents Médicaux, des Affections Iatrogènes et des Infections Nosocomiales <br><a target="_blank" href="http://www.oniam.fr">www.oniam.fr</a></li>
					<li>Scolarisation, cellule d’écoute Handiscol’ <br><a target="_blank" href="http://www.education.gouv.fr">www.education.gouv.fr</a></li>
					<li>UCANSS - Union des Caisses Nationales de Sécurité Sociale - barème indicatif d’invalidité <br><a target="_blank" href="http://www.ucanss.fr/services/textes_documents/bareme_invalidite/bareme_invalidite_index.html">www.ucanss.fr</a></li>
					<li>YANOUS - Le mag-portail des handinautes <br><a target="_blank" href="http://www.yanous.com">www.yanous.com</a></li>
					<li>PRAPS <br><a target="_blank" href="http://www.sante.gouv.fr/htm/pointsur/praps/index.html">www.sante.gouv.fr</a></li>					             
				</ul>
			</div>
		</div>
